In [3]:
# Specifying method for Floating-point conversion
from io import StringIO
import numpy as np
import pandas as pd

In [ ]:
# For some reason, Doesn't work!!
val = "0.3066101993807095471566981359501369297504425048828125"
data = 'a, b, c\n1, 2, {0}'.format(val)
# data = f"a, b, c\n1, 2, {val}"
abs(
    pd.read_csv(
        StringIO(data),
        engine="c",
        float_precision=None,       
    )["c"][0] - float(val)
)

In [18]:
# Thounsand Separators   üòä
data = (
    'ID|level|category\n'
    'Patient1|123,000|x\n'
    'Patient2|23,000|y\n'
    'Patient3|1,234,000|z'
)
print(data)

ID|level|category
Patient1|123,000|x
Patient2|23,000|y
Patient3|1,234,000|z

In [19]:
with open('tmp1.csv', 'w') as fh:
    fh.write(data)

df = pd.read_csv('tmp1.csv', sep='|')
df

         ID      level category
0  Patient1    123,000        x
1  Patient2     23,000        y
2  Patient3  1,234,000        z

In [20]:
df.level.dtype
# Oh, Yeah dtype('O')!!

dtype('O')

In [22]:
df = pd.read_csv('tmp1.csv', sep='|', thousands=',')
df

         ID    level category
0  Patient1   123000        x
1  Patient2    23000        y
2  Patient3  1234000        z

In [ ]:
# NA values
# NaN(missing value)Î°ú Î∂ÑÎ•òÌïòÍ∏∞ ÏúÑÌï¥ na_values=[...]ÏôÄ Í∞ôÏùÄ Î¶¨Ïä§Ìä∏Î•º ÏÉùÏÑ±ÌïúÎã§.
# keep_dafult_na=falseÎ°ú Î™ÖÏãúÌïòÎ©¥ Í∏∞Ï°¥Ïùò na_valuesÎäî Íπ°Í∑∏Î¶¨ Î¨¥ÏãúÎêúÎã§.
# The default NaN recognized values are 
# ['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A', '#N/A', 'N/A', 'n/a', 'NA', '<NA>', '#NA', 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', 'None', ''].

In [ ]:
pd.read_csv("path_to_file.csv", keep_default_na=False, na_values=[""])
# Í∏∞Ï°¥ na_valuesÎäî Î¨¥Ïãú, ÏÉàÎ°ú na_valueÎûÄ string listÎ•º ÏûëÏÑ±ÌïúÎã§.

In [ ]:
# Infinity
# Inf, inf == np.inf,  -Inf, -inf==-np.inf

In [23]:
# By defualt FALSE, TRUE are recognized as Fasle, True
# Boolean values, true_values = [...], false_values = [...] 
data = "a,b,c\n1,Yes,2\n3,No,4"
print(data)

a,b,c
1,Yes,2
3,No,4

In [24]:
pd.read_csv(StringIO(data))

   a    b  c
0  1  Yes  2
1  3   No  4

In [25]:
pd.read_csv(StringIO(data), true_values=["Yes"], false_values=["No"])

   a      b  c
0  1   True  2
1  3  False  4

In [3]:
# Handling "bad" lines
# fieldÏàòÍ∞Ä Ï†ÅÏùÄ Í≤ΩÏö∞Îäî NAÎ°ú Ï±ÑÏõåÏßÄÍ≥†, ÎÑàÎ¨¥ ÎßéÏùÄ Í≤ΩÏö∞Îäî raise Error by Default
# (on_bad_lines='warn')Î°ú get around
data = "a,b,c\n1,2,3\n4,5,6,7\n8,9,10"
pd.read_csv(StringIO(data), on_bad_lines='warn')

Skipping line 3: expected 3 fields, saw 4

   a  b   c
0  1  2   3
1  8  9  10

In [5]:
external_list = []

def bad_lines_func(line):
    external_list.append(line)
    return line [-3:]
# on_bad_linesÏóê callable functionÏùÑ ÎåÄÏûÖÌïúÎã§.   ü™∑„äôÔ∏è**Python**

pd.read_csv(StringIO(data), on_bad_lines=bad_lines_func, engine='python')

   a  b   c
0  1  2   3
1  5  6   7
2  8  9  10

In [6]:
external_list

[['4', '5', '6', '7']]

In [10]:
def bad_lines_func(line):
    print(line)

data = 'name,type\nname a,a is of type a\nname b,"b\" is of type b"'
print(data)

name,type
name a,a is of type a
name b,"b" is of type b"

In [15]:
pd.read_csv(StringIO(data), on_bad_lines=bad_lines_func, engine='python')

     name            type
0  name a  a is of type a

In [16]:
data = "a,b,c\n1,2,3\n4,5,6,7\n8,9,10"
pd.read_csv(StringIO(data), usecols=[0, 1, 2])

   a  b   c
0  1  2   3
1  4  5   6
2  8  9  10

In [17]:
pd.read_csv(StringIO(data), names=['a', 'b', 'c', 'd'])

   a  b   c    d
0  a  b   c  NaN
1  1  2   3  NaN
2  4  5   6  7.0
3  8  9  10  NaN

In [19]:
# Dialect
data = "label1,label2,label3\n" 'index1,"a,c,e\n' "index2,b,d,f"
print(data)

label1,label2,label3
index1,"a,c,e
index2,b,d,f

In [20]:
import csv
dia = csv.excel()
dia.quoting = csv.QUOTE_NONE
pd.read_csv(StringIO(data), dialect=dia)

       label1 label2 label3
index1     "a      c      e
index2      b      d      f

In [36]:
data = 'a, b, c~1, 2, 3~4, 5, 6'
df = pd.read_csv(StringIO(data), lineterminator='~')
df
# df.iloc[0,0] * df.iloc[0,1]

   a   b   c
0  1   2   3
1  4   5   6

In [37]:
data = "a, b, c\n1, 2, 3\n4, 5, 6"
print(data)

a, b, c
1, 2, 3
4, 5, 6

In [41]:
pd.read_csv(StringIO(data), skipinitialspace=True)
# pd.read_csv(StringIO(data))  both are equivalent

   a  b  c
0  1  2  3
1  4  5  6

In [1]:
# Quoting and Escape Characters
data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'
print(data)

a,b
"hello, \"Bob\", nice to see you",5

In [7]:
pd.read_csv(StringIO(data), escapechar="\\")
# pd.read_csv(StringIO(data))

                               a  b
0  hello, "Bob", nice to see you  5

In [9]:
# Files with FIXED WIDTH COLUMNS(colspecs, widths, )
data1 = (
    "id8141    360.242940   149.910199   11950.7\n"
    "id1594    444.953632   166.985655   11788.4\n"
    "id1849    364.136849   183.628767   11806.2\n"
    "id1230    413.836124   184.375703   11916.8\n"
    "id1948    502.953953   173.237159   12468.3"
)
with open("bar.csv", "w") as f:
    f.write(data1)

In [10]:
colspecs = [(0, 6), (8, 20), (21, 33), (34, 43)]

df = pd.read_fwf("bar.csv", colspecs=colspecs, header=None, index_col=0)

df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

In [11]:
widths = [6, 14, 13, 19]
df = pd.read_fwf('bar.csv', widths=widths, header=None)
df

        0           1           2        3
0  id8141  360.242940  149.910199  11950.7
1  id1594  444.953632  166.985655  11788.4
2  id1849  364.136849  183.628767  11806.2
3  id1230  413.836124  184.375703  11916.8
4  id1948  502.953953  173.237159  12468.3

In [12]:
# csv fileÏù¥ Ï†úÎåÄÎ°ú Ï†ïÎ†¨ÎêòÏñ¥ ÏûàÎã§Î©¥, read_fwfÍ∞Ä Ïä§Ïä§Î°ú Ï∂îÎ°†ÌïúÎã§.
df = pd.read_fwf('bar.csv', header=None, index_col = 0)
df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

In [16]:
# pd.read_csv('bar.csv', header=None, index_col=0)
# read_csvÎäî Î≥¥ÏãúÎã§ ÏãúÌîº white spaceÎ°ú delimited dataÎ•º Ï†úÎåÄÎ°ú parsingÌïòÏßÄ Î™ªÌïòÎÇò
# read_fwfÎäî white spaceÎ°ú delimited dataÎ•º Ï∂îÎ°† parsingÌïúÎã§.

df = pd.read_fwf('bar.csv', header=None, index_col=0)

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

In [17]:
df.dtypes

1    float64
2    float64
3    float64
dtype: object

In [19]:
pd.read_fwf('bar.csv', header=None, index_col=0, dtype= {2:'object'}).dtypes

1    float64
2     object
3    float64
dtype: object