In [2]:

import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
df1 = pd.DataFrame([['2022-01-03', 1000], 
                    ['2022-01-04', 1100], 
                    ['2022-01-05', 1200], 
                    ['2022-01-06', 1100], 
                    ['2022-01-07', 1000], 
                    ['2022-01-10', 1100]], columns=['date', 'price'])
df2 = pd.DataFrame([['2022-01-03', '판다전자', 1000], 
                    ['2022-01-03', '파이닉스', 9500], 
                    ['2022-01-04', '판다전자', 1100], 
                    ['2022-01-04', '파이닉스', 9000], 
                    ['2022-01-05', '판다전자', 1200],
                    ['2022-01-05', '파이닉스', 9900]], 
                   columns=['date', '종목명', 'price'])
df3 = df1.copy()

In [3]:
df1

         date  price
0  2022-01-03   1000
1  2022-01-04   1100
2  2022-01-05   1200
3  2022-01-06   1100
4  2022-01-07   1000
5  2022-01-10   1100