In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
a1 = ['송중기', '국어', 89]
a2 = ['김나현', '영어', 42]
a3 = ['박효신', '국어', 78]
a4 = ['김범수', '영어', 61]
a5 = ['권보아', '국어', 91]
a6 = ['한동근', '영어', 38]
df1 = pd.DataFrame([a1, a2, a3, a4, a5, a6], columns=["이름", "과목", "점수"])
df2 = df1.copy()
df3 = df1.copy()
s1 = pd.DataFrame([1, 2, 3, 4, 5, 6], columns=["s1"])

In [8]:
df1.loc[df1.groupby(by= '과목')['점수'].transform(lambda x: x > x.mean())]

    이름  과목  점수  과목평균
0  송중기  국어  89 86.00
3  김범수  영어  61 47.00
4  권보아  국어  91 86.00