In [1]:
import numpy as np 
import pandas as pd
import openpyxl
pd.options.display.max_rows = 30
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('expand_frame_repr', True)
# pd.describe_option()
# pd.reset_option()

In [2]:
## openpyxlì„ ì‚¬ìš©í•˜ì—¬ íŠ¹ì • workbookì—ì„œ ì†Œì† sheetë“¤ì˜ ì´ë¦„ sheetnameì„ ê°€ì ¸ ì˜¨ë‹¤.ğŸ’® 
weekly = openpyxl.load_workbook('D02EXAMPLE.xlsx').sheetnames[:7]

In [3]:
# upv_df = pd.DataFrame([])
# for i in weekly:
#   weekly_df = pd.read_excel('D02EXAMPLE.xlsx', sheet_name=i).set_index('ì œí’ˆ')
#   upv_weekly_df = weekly_df.stack().reset_index()
#   upv_weekly_df.columns = ['ì œí’ˆ', 'ì§€ì ', 'ë§¤ì¶œ']
#   upv_weekly_df['ì¼ì'] = i
#   upv_df = pd.concat([upv_df, upv_weekly_df] )

upv_df = pd.DataFrame([])
for i in weekly:
  weekly_df = pd.read_excel('D02EXAMPLE.xlsx', sheet_name=i)
  upv_weekly_df = pd.melt(weekly_df, id_vars='ì œí’ˆ', value_vars=weekly_df.columns[1:], var_name='ì§€ì ', value_name='ë§¤ì¶œ')
  upv_weekly_df['ì¼ì'] = i
  upv_df = pd.concat([upv_df, upv_weekly_df] )
  
upv_df.head(7)

             ì œí’ˆ   ì§€ì        ë§¤ì¶œ          ì¼ì
0   ì¢…í•©ì–´ë¬µ (300g)  ê°•ë‚¨ì   1930000  2021-08-30
1  ìœ ê¸°ë†ë–¡íŠ€ë°¥ (40g)  ê°•ë‚¨ì    320000  2021-08-30
2  ì—¼ì¥ë‹¤ì‹œë§ˆ (400g)  ê°•ë‚¨ì   1310000  2021-08-30
3  ì§„ì‹œë˜ê¸°êµ­ (500g)  ê°•ë‚¨ì    500000  2021-08-30
4  ë¦¬ì–¼ì¹©ìŠ¤ìš°ì—‰ (30g)  ê°•ë‚¨ì    480000  2021-08-30
5   ì§„ì¶”ì–´íƒ• (500g)  ê°•ë‚¨ì   1270000  2021-08-30
6   ìœ ê¸°ë†ì„¤íƒ• (5kg)  ê°•ë‚¨ì    760000  2021-08-30

In [4]:
branch_df = pd. read_excel('D02EXAMPLE.xlsx', sheet_name='ì§€ì êµ¬ë¶„')
inventory_df = pd. read_excel('D02EXAMPLE.xlsx', sheet_name='ì œí’ˆêµ¬ë¶„')

In [5]:
upv_df = upv_df.merge(branch_df, how = 'left').merge(inventory_df, how = 'left')
upv_df.head(5)

             ì œí’ˆ   ì§€ì        ë§¤ì¶œ          ì¼ì  ì§€ì—­   ë¶„ë¥˜  êµ¬ë¶„
0   ì¢…í•©ì–´ë¬µ (300g)  ê°•ë‚¨ì   1930000  2021-08-30  ì„œìš¸  ì§ì˜ì   ê¸°íƒ€
1  ìœ ê¸°ë†ë–¡íŠ€ë°¥ (40g)  ê°•ë‚¨ì    320000  2021-08-30  ì„œìš¸  ì§ì˜ì   ê¸°íƒ€
2  ì—¼ì¥ë‹¤ì‹œë§ˆ (400g)  ê°•ë‚¨ì   1310000  2021-08-30  ì„œìš¸  ì§ì˜ì   ê¸°íƒ€
3  ì§„ì‹œë˜ê¸°êµ­ (500g)  ê°•ë‚¨ì    500000  2021-08-30  ì„œìš¸  ì§ì˜ì   ê¸°íƒ€
4  ë¦¬ì–¼ì¹©ìŠ¤ìš°ì—‰ (30g)  ê°•ë‚¨ì    480000  2021-08-30  ì„œìš¸  ì§ì˜ì   ê¸°íƒ€

In [6]:
pvt_df = pd.pivot_table(upv_df, index='ì¼ì', columns='ì§€ì—­', values='ë§¤ì¶œ', aggfunc='sum')
pvt_df

ì§€ì—­                  ê²½ê¸°          ì„œìš¸         ì¸ì²œ
ì¼ì
2021-08-30  1318210000  1544910000  870330000
2021-09-06  1299740000  1544090000  896060000
2021-09-13  1307740000  1527180000  893090000
2021-09-20  1292560000  1532560000  869670000
2021-09-27  1305330000  1532340000  880480000
2021-10-04  1305820000  1571650000  863930000
2021-10-11  1337700000  1549590000  856380000

In [7]:
pvt1_df = pd.pivot_table(upv_df, index='ì§€ì—­', columns='êµ¬ë¶„', values='ë§¤ì¶œ', aggfunc='sum')
pvt1_df

êµ¬ë¶„          ê¸°íƒ€          ìŒ€         ì–´íŒ¨         ì •ìœ¡         ì²­ê³¼
ì§€ì—­
ê²½ê¸°  7399450000  498280000  739230000  141300000  388840000
ì„œìš¸  8697110000  599480000  846910000  173770000  485050000
ì¸ì²œ  4951110000  342380000  479050000   97350000  260050000