In [ ]:
import numpy as np
import pandas as pd
pd.options.display.max_rows=20
pd.options.display.float_format='{:.2f}'.format

df1 = pd.read_excel('D00EXAMPLE.xlsx')
df1

df1 = df1.set_index('ÎÖ∏Îûò')

upv1 =  df1.stack().reset_index()

upv1

In [ ]:
upv1 = df1.melt(id_vars='ÎÖ∏Îûò', value_vars=('A', 'B', 'C', 'D', 'E'))
upv1.columns = ['Ïã¨ÏÇ¨Ïûê', 'Ï∞∏Í∞ÄÏûê', 'Ï†êÏàò']

In [ ]:
df2 = pd.read_excel('D00EXAMPLE.xlsx', sheet_name=3)

In [ ]:
upv1 = upv1.merge(df2, how='left')

In [ ]:
pvt1 = upv1.pivot_table('Ï†êÏàò', index='ÏÑ±Î≥Ñ', columns='Ï∞∏Í∞ÄÏûê', aggfunc=['median', 'std'])
pvt1

In [ ]:
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                     index=['cat', 'dog'],
                                     columns=['weight', 'height'])
# df_single_level_cols = pd.DataFrame({'Cat':[0, 1], 'Dog':[2, 3]}, index=['weight', 'hight'])
df_single_level_cols

In [ ]:
df_single_level_cols.stack()

In [ ]:
arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]
pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))

In [ ]:
tuples = [(1, 'red'), (1, 'blue'),
          (2, 'red'), (2, 'blue')]
pd.MultiIndex.from_tuples(tuples, names=('number', 'color'))

In [ ]:
df = pd.DataFrame([['HI', 'Temp'], ['HI', 'Precip'],
                   ['NJ', 'Temp'], ['NJ', 'Precip']],
                  columns=['a', 'b'])
pd.MultiIndex.from_frame(df, names=['state', 'observation'])

In [ ]:
multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[1, 2], [2, 4]],
                                    index=['cat', 'dog'],
                                    columns=multicol1)
df_multi_level_cols1

In [ ]:
df_multi_level_cols1.stack()

In [ ]:
df_multi_level_cols1.stack().reset_index()

In [ ]:
multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df_multi_level_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                                    index=['cat', 'dog'],
                                    columns=multicol2)
df_multi_level_cols2

In [ ]:
df_multi_level_cols2.stack()

In [ ]:
df_multi_level_cols2.stack().reset_index()

In [ ]:
df_multi_level_cols2.stack(0)

In [ ]:
df_multi_level_cols2.stack([0,1])  ## üíÆdefaultÎäî levelÏùÄ -1, ÏàúÏÑúÏóê Ï£ºÏùò

In [ ]:
s1 = pd.Series({'A':[]})
s1.empty

In [ ]:
s2 = pd.Series()
s2.empty

In [ ]:
ani_df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=('falcon', 'parrot', 'lion', 'monkey'),
                  columns=('class', 'max_speed'))
ani_df

In [ ]:
ani_df.reset_index()

In [ ]:
index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('species', 'type')])
ani2_df = pd.DataFrame([(389.0, 'fly'),
                   (24.0, 'fly'),
                   (80.5, 'run'),
                   (np.nan, 'jump')],
                  index=index,
                  columns=columns)
ani2_df

In [ ]:
ani2_df.reset_index(names=['class', 'name'] , col_level=1, col_fill=None, inplace=True)
ani2_df

In [ ]:
upv = ani2_df.melt(col_level=1, id_vars=['class', 'name'], value_vars=['max', 'type'])
upv

In [96]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
    [1, 1, 1, 2, 2, 3, 3, 4]
]

tuples = list(zip(*arrays))
tuples

[('bar', 'one', 1),
 ('bar', 'two', 1),
 ('baz', 'one', 1),
 ('baz', 'two', 2),
 ('foo', 'one', 2),
 ('foo', 'two', 3),
 ('qux', 'one', 3),
 ('qux', 'two', 4)]

In [97]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second', 'third'])
index

MultiIndex([('bar', 'one', 1),
            ('bar', 'two', 1),
            ('baz', 'one', 1),
            ('baz', 'two', 2),
            ('foo', 'one', 2),
            ('foo', 'two', 3),
            ('qux', 'one', 3),
            ('qux', 'two', 4)],
           names=['first', 'second', 'third'])

In [109]:
rand_df = pd.DataFrame(np.random.rand(4,3))
pd.set_option('display.max_rows', 4)
rand_df.columns = [list('ABC'), list('DEF') ]
rand_df

          A         B         C
          D         E         F
0  0.478738  0.046127  0.203034
1  0.735385  0.271698  0.792312
2  0.847943  0.261444  0.160507
3  0.583416  0.784941  0.410960

In [106]:
print(list('ABC'))

['A', 'B', 'C']