In [36]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20

In [37]:
df = pd.read_excel('E14EXAMPLE.xlsx')
european_countries_df = pd.read_excel('E14EXAMPLE.xlsx', sheet_name=2)
df = df.iloc[:, 3:7]
df

           1위              2위           3위              4위
0     Uruguay       Argentina          USA      Yugoslavia
1       Italy  Czechoslovakia      Germany         Austria
2       Italy         Hungary       Brazil          Sweden
3     Uruguay          Brazil       Sweden           Spain
4     Germany         Hungary      Austria         Uruguay
5      Brazil          Sweden       France         Germany
6      Brazil  Czechoslovakia        Chile      Yugoslavia
7     England         Germany     Portugal    Soviet Union
8      Brazil           Italy      Germany         Uruguay
9     Germany     Netherlands       Poland          Brazil
10  Argentina     Netherlands       Brazil           Italy
11      Italy         Germany       Poland          France
12  Argentina         Germany       France         Belgium
13    Germany       Argentina        Italy         England
14     Brazil           Italy       Sweden        Bulgaria
15     France          Brazil      Croatia     Netherlands
16     Brazil         Germany       Turkey  Korea Republic
17      Italy          France      Germany        Portugal
18      Spain     Netherlands      Germany         Uruguay
19    Germany       Argentina  Netherlands          Brazil

In [ ]:

worldcup_df = df.stack().reset_index()
# worldcup_df = pd.melt(df, id_vars=('년도'), value_vars=df.columns[3:7], var_name=('순위'), value_name=('국가'))
# worldcup_df.columns = ['년도', '순위', '국가']
worldcup_df

In [ ]:
pvt_worldcup_df = pd.pivot_table(worldcup_df, values='년도', index='국가', columns='순위', aggfunc='count')
pvt_worldcup_df = pvt_worldcup_df.sort_values(['1위', '2위', '3위', '4위'], ascending=False).iloc[:8]
pvt_worldcup_df

In [ ]:
worldcup1_df = pd.melt(df, id_vars=('개최국'), value_vars=df.columns[3:7], var_name=('순위'), value_name=('국가'))

In [ ]:
euro_df = worldcup1_df.loc[worldcup1_df['개최국'].isin(european_countries_df['국가'])]
euro_df

In [ ]:
euro_worldcup_df = pd.pivot_table(euro_df, index=['국가'], columns=('순위'),values='개최국', aggfunc='count')
euro_worldcup_df.sort_values(['1위', '2위', '3위', '4위'], ascending=False).iloc[:8]