In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 25
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
worldup_df = pd.read_excel('E14EXAMPLE.xlsx')
euros_df = pd.read_excel('E14EXAMPLE.xlsx', sheet_name=2)
# display (euros_df, worldup_df)

In [3]:
euro_worldcup_df = worldup_df.loc[worldup_df['개최국'].isin(euros_df['국가'])]
# euro_worldcup_df

In [4]:
upv_euro_df = pd.melt(euro_worldcup_df, id_vars='년도', value_vars=euro_worldcup_df.columns[3:7])
upv_euro_df.columns = ['개최년도', '순위', '국가']
# upv_euro_df

In [5]:
pvt_euro_df = pd.pivot_table(upv_euro_df, index='국가', columns='순위', values='개최년도', aggfunc='count' )
pvt_euro_df.sort_values(by = ['1위', '2위', '3위', '4위'], inplace=True, ascending=False)
pvt_euro_df = pvt_euro_df.iloc[:8]
pvt_euro_df
#

순위            1위   2위   3위   4위
국가
Italy       4.00  NaN 1.00  NaN
Germany     3.00 2.00 2.00 1.00
Brazil      1.00 1.00 1.00 1.00
France      1.00 1.00 1.00 1.00
England     1.00  NaN  NaN 1.00
Hungary      NaN 2.00  NaN  NaN
Netherlands  NaN 1.00  NaN 1.00
Sweden       NaN 1.00  NaN 1.00