In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.random.randint(0, 10, 24).reshape(4,6)
df = pd. DataFrame(a, index=list("Í∞ÄÎÇòÎã§Îùº"), columns=list("ABCDEF"))
df

   A  B  C  D  E  F
Í∞Ä  4  7  8  3  8  8
ÎÇò  2  3  3  9  4  0
Îã§  3  1  9  4  6  0
Îùº  4  9  0  1  2  4

In [3]:
random_numbers = np.random.randint(1, 10, size=20)
print(random_numbers)

[4 6 8 3 8 8 8 5 6 4 9 3 1 3 5 4 5 5 5 1]

In [4]:
import random

# ÏùºÏ†ï Î≤îÏúÑ ÎÇ¥ÏóêÏÑú Ï§ëÎ≥µÏùÑ ÌóàÏö©ÌïòÏßÄ ÏïäÍ≥† Ïà´ÏûêÎ•º Í≥†Î•¥Í∏∞
num_list = random.sample(range(0, 10), 10)  # 1Î∂ÄÌÑ∞ 100 ÏÇ¨Ïù¥ÏóêÏÑú 10Í∞úÏùò Ïà´ÏûêÎ•º Î¨¥ÏûëÏúÑÎ°ú ÏÑ†ÌÉùÌïòÏó¨ Î¶¨Ïä§Ìä∏Î°ú ÎßåÎì¶

print(num_list)  # ÏÑ†ÌÉùÎêú Ïà´ÏûêÎì§ÏùÑ Ï∂úÎ†•

[1, 0, 6, 2, 5, 3, 8, 7, 9, 4]

In [5]:
np.random.choice(5,3, p=[0.1, 0.1, 0.5, 0.1, 0.2])

array([3, 3, 4])

In [6]:
np.random.choice(5, 3, replace=False)

array([2, 3, 1])

In [7]:
a

array([[4, 7, 8, 3, 8, 8],
       [2, 3, 3, 9, 4, 0],
       [3, 1, 9, 4, 6, 0],
       [4, 9, 0, 1, 2, 4]])

In [8]:
df

   A  B  C  D  E  F
Í∞Ä  4  7  8  3  8  8
ÎÇò  2  3  3  9  4  0
Îã§  3  1  9  4  6  0
Îùº  4  9  0  1  2  4

In [9]:
type(df["A"])

pandas.core.series.Series

In [10]:
df["A"].shape

(4,)

In [11]:
df["A"].values

array([4, 2, 3, 4])

In [12]:
np.array([1, 2, 3, 4]).T.shape

(4,)

In [13]:
type(df[["A", "C", "E"]])

pandas.core.frame.DataFrame

In [14]:
df[["A", "C", "E"]].T.shape

(3, 4)

In [15]:
df[["A", "C", "E"]].T.index

Index(['A', 'C', 'E'], dtype='object')

In [16]:
df[["A", "C", "E"]].T.columns

Index(['Í∞Ä', 'ÎÇò', 'Îã§', 'Îùº'], dtype='object')

In [17]:
# .loc[...] Í∞úÎ≥ÑÏ†ÅÏù∏ Î≥µÏàòÎ•º ÏÑ†ÌÉùÌïòÍ∏∞ ÏúÑÌï¥ Î¶¨Ïä§Ìä∏[]Î•º Ïì∞Í±∞ÎÇò, Ïó∞ÏÜçÌïòÎäî ÏùºÎ∂ÄÎ•º ÏÑ†ÌÉùÌïòÍ∏∞ ÏúÑÌï¥ slicingÏùÑ Ïì∞Í±∞ÎÇò Ìï† Ïàò ÏûàÎã§.üå∫ 
df.loc[["ÎÇò","Í∞Ä"], "B":"E"]

   B  C  D  E
ÎÇò  3  3  9  4
Í∞Ä  7  8  3  8

In [18]:
df.iloc[[1, 0, 2], :3]

   A  B  C
ÎÇò  2  3  3
Í∞Ä  4  7  8
Îã§  3  1  9

In [19]:
df.drop("D", axis=1)

   A  B  C  E  F
Í∞Ä  4  7  8  8  8
ÎÇò  2  3  3  4  0
Îã§  3  1  9  6  0
Îùº  4  9  0  2  4