In [1]:
import pandas as pd

In [2]:
a1 = [[1,2,3], [4,5,6,], [7,8,9]]
df1 = pd.DataFrame(a1, columns=list('ABC'), index=list('Í∞ÄÎÇòÎã§'))
df2 = df1.reindex(columns=list('BCA'), index=list('ÎÇòÎã§Í∞Ä'))
sr1 = df1.loc['Í∞Ä']
df3 = df1.iloc[:2, :2]
df1

   A  B  C
Í∞Ä  1  2  3
ÎÇò  4  5  6
Îã§  7  8  9

In [3]:
df1 + df2     
# Pandas DataFrame, SeriesÏùò ÏµúÎåÄ Ïû•Ï†êÏù¥ Index(column, row)Îç∞ Îî∞Î•∏ Ïó∞ÏÇ∞ÏùÑ ÌïúÎã§Îäî Í≤É   üî∞

    A   B   C
Í∞Ä   2   4   6
ÎÇò   8  10  12
Îã§  14  16  18

In [4]:
df1 + df3

     A     B   C
Í∞Ä  2.0   4.0 NaN
ÎÇò  8.0  10.0 NaN
Îã§  NaN   NaN NaN

In [5]:
df1.add(df3, fill_value=0)

     A     B    C
Í∞Ä  2.0   4.0  3.0
ÎÇò  8.0  10.0  6.0
Îã§  7.0   8.0  9.0

In [6]:
df1.multiply(df3, fill_value=1)

      A     B    C
Í∞Ä   1.0   4.0  3.0
ÎÇò  16.0  25.0  6.0
Îã§   7.0   8.0  9.0

In [7]:
df1 + sr1

   A   B   C
Í∞Ä  2   4   6
ÎÇò  5   7   9
Îã§  8  10  12

In [8]:
df1.add(sr1, axis=0)

    A   B   C
A NaN NaN NaN
B NaN NaN NaN
C NaN NaN NaN
Í∞Ä NaN NaN NaN
ÎÇò NaN NaN NaN
Îã§ NaN NaN NaN

In [9]:
df1.add(sr1, axis=1)
# axisÎäî SeriesÏùò IndexÍ∞Ä column(1)Ïù∏ÏßÄ row(0)Ïù∏ÏßÄÏóê Îî∞Î•∏Îã§
# SeriesÏùò indexÍ∞Ä Í∞ÄÌñâÏùò ABCÏù¥ÎØÄÎ°ú axis=1   üî∞

   A   B   C
Í∞Ä  2   4   6
ÎÇò  5   7   9
Îã§  8  10  12

In [10]:
sr2 = df1['A']
sr2
# SeriesÍ∞Ä indexÍ∞Ä AÏó¥Ïùò Í∞ÄÎÇòÎã§, axis=0   üî∞

Í∞Ä    1
ÎÇò    4
Îã§    7
Name: A, dtype: int64

In [11]:
df1.add(sr2, axis=0)

    A   B   C
Í∞Ä   2   3   4
ÎÇò   8   9  10
Îã§  14  15  16