In [1]:
# Filter
import numpy as np
import pandas as pd

In [2]:
a1 = [60, 84, 80, 70,'ë¬¸ì˜ˆë¶€']
a2 = [77, 62, 95, 85,'ê³¼í•™ë¶€']
a3 = [61, 97, 72, np.nan,'ë†êµ¬ë¶€']
a4 = [75, 65, 95, np.nan,'ë‹¤ë„ë¶€']
cols = ['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì†Œì†']
b1 = ['ë¬¸ì˜ˆë¶€', 'ê³¼í•™ë¶€', 'ë‹¤ë„ë¶€']
df = pd.DataFrame([a1, a2, a3, a4], index=list('ABCD'), columns=cols)
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
A  60  84  80  70.0  ë¬¸ì˜ˆë¶€
B  77  62  95  85.0  ê³¼í•™ë¶€
C  61  97  72   NaN  ë†êµ¬ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [3]:
df["êµ­ì–´"]

A    60
B    77
C    61
D    75
Name: êµ­ì–´, dtype: int64

In [4]:
df["êµ­ì–´"] > 70

A    False
B     True
C    False
D     True
Name: êµ­ì–´, dtype: bool

In [5]:
df.loc[df["êµ­ì–´"] > 70]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
B  77  62  95  85.0  ê³¼í•™ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [6]:
cond1 = df["êµ­ì–´"] > 70
df.loc[cond1, "êµ­ì–´":"ê³¼í•™"]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™
B  77  62  95  85.0
D  75  65  95   NaN

In [7]:
df1 = pd.DataFrame(np.arange(12).reshape(-1, 3), columns=['A', 'B', 'C'])
# reshape(-1, 2)ëŠ” ë‹¨ìˆœíˆ 2ì—´ matrixë¥¼ ë§Œë“ ë‹¤ëŠ” ì˜ë¯¸ -ì—¬ê¸°ì„œ -1ì€ 5ì™€ ê°™ì€ index
df1

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [14]:
df1.where(df1 % 3 == 0, -df1)

   A   B   C
0  0  -1  -2
1  3  -4  -5
2  6  -7  -8
3  9 -10 -11

In [8]:
# Series or DataFrameì„ ì¡°ê±´ì‹ìœ¼ë¡œ True/Falseë¡œ ë§Œë“¤ì–´ Trueê°’ì„ ê°–ëŠ” Dataë§Œ ì¶”ì¶œí•œë‹¤.

In [9]:
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
A  60  84  80  70.0  ë¬¸ì˜ˆë¶€
B  77  62  95  85.0  ê³¼í•™ë¶€
C  61  97  72   NaN  ë†êµ¬ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [10]:
cond1 = df['êµ­ì–´'] > 60
cond2 = df['ìˆ˜í•™'] > 75
# conditionalì€ Booleanê°’ì„ ìƒì„±í•œë‹¤ ëŒ€ìƒì´ Seriesë©´ Boolean Series, 
df.loc[cond1 & cond2]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
B  77  62  95  85.0  ê³¼í•™ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [11]:
df.loc[df['ê³¼í•™'].isnull()]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™   ì†Œì†
C  61  97  72 NaN  ë†êµ¬ë¶€
D  75  65  95 NaN  ë‹¤ë„ë¶€

In [12]:
df.loc[(~df['ê³¼í•™'].isnull()) & (df['ìˆ˜í•™'] > 90)]
# & , |ëŠ” ê´„í˜¸ë¥¼ ì‚¬ìš©í•˜ì—¬ êµ¬ë¶„í•˜ì—¬ ì£¼ì–´ì•¼ í•œë‹¤.     ğŸ”°

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
B  77  62  95  85.0  ê³¼í•™ë¶€

In [13]:
df.loc[df['ì†Œì†'].isin(['ë¬¸ì˜ˆë¶€', 'ë‹¤ë„ë¶€'])]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
A  60  84  80  70.0  ë¬¸ì˜ˆë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€