In [10]:
# Filter
import numpy as np
import pandas as pd

In [11]:
a1 = [60, 84, 80, 70,'ë¬¸ì˜ˆë¶€']
a2 = [77, 62, 95, 85,'ê³¼í•™ë¶€']
a3 = [61, 97, 72, np.nan,'ë†êµ¬ë¶€']
a4 = [75, 65, 95, np.nan,'ë‹¤ë„ë¶€']
cols = ['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì†Œì†']
b1 = ['ë¬¸ì˜ˆë¶€', 'ê³¼í•™ë¶€', 'ë‹¤ë„ë¶€']
df = pd.DataFrame([a1, a2, a3, a4], index=list('ABCD'), columns=cols)
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
A  60  84  80  70.0  ë¬¸ì˜ˆë¶€
B  77  62  95  85.0  ê³¼í•™ë¶€
C  61  97  72   NaN  ë†êµ¬ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [12]:
# Series or DataFrameì„ ì¡°ê±´ì‹ìœ¼ë¡œ True/Falseë¡œ ë§Œë“¤ì–´ Trueê°’ì„ ê°–ëŠ” Dataë§Œ ì¶”ì¶œí•œë‹¤.

In [13]:
cond1 = df['êµ­ì–´'] > 60
cond2 = df['ìˆ˜í•™'] > 75
# conditionalì€ Booleanê°’ì„ ìƒì„±í•œë‹¤ ëŒ€ìƒì´ Seriesë©´ Boolean Series, 
df.loc[cond1 & cond2]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
B  77  62  95  85.0  ê³¼í•™ë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€

In [14]:
df.loc[df['ê³¼í•™'].isnull()]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™   ì†Œì†
C  61  97  72 NaN  ë†êµ¬ë¶€
D  75  65  95 NaN  ë‹¤ë„ë¶€

In [17]:
df.loc[(~df['ê³¼í•™'].isnull()) & (df['ìˆ˜í•™'] > 90)]
# & , |ëŠ” ê´„í˜¸ë¥¼ ì‚¬ìš©í•˜ì—¬ êµ¬ë¶„í•˜ì—¬ ì£¼ì–´ì•¼ í•œë‹¤.     ğŸ”°

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
B  77  62  95  85.0  ê³¼í•™ë¶€

In [18]:
df.loc[df['ì†Œì†'].isin(['ë¬¸ì˜ˆë¶€', 'ë‹¤ë„ë¶€'])]

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™    ê³¼í•™   ì†Œì†
A  60  84  80  70.0  ë¬¸ì˜ˆë¶€
D  75  65  95   NaN  ë‹¤ë„ë¶€