In [8]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [9]:
m = df % 3 == 0
df.where(m, -df)

   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9

In [10]:
df1 = pd.DataFrame(np.arange(12).reshape(-1, 3), columns=['A', 'B', 'C'])
df1

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [11]:
df1.where(df1 % 3 == 0, -df1)

   A   B   C
0  0  -1  -2
1  3  -4  -5
2  6  -7  -8
3  9 -10 -11

In [15]:
df1.mask(df1 % 3 == 0, -df1)

   A   B   C
0  0   1   2
1 -3   4   5
2 -6   7   8
3 -9  10  11