In [11]:
# set_index, reset_index, reindex
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame(
    {
        'íŒŒì´ì „ì':[20, 30, 30, 40, 'ë°˜ë„ì²´'],
        'ìˆë‹‰ìŠ¤':[100, 90, 80, 100, 'ë°˜ë„ì²´'],
        'íŒë‹¤ì„¼':[300, 320, 340, 0, 'ê²Œì„'],
        'ìŠ¤ë§ˆë¸”':[0, 450, 300, 300, 'ê²Œì„']
    },
    # columns=['ì¢…ëª©', 'AíŒ€', 'BíŒ€', 'CíŒ€', 'DíŒ€', 'ë¶„ë¥˜']
) 
df = df.T.reset_index()
# the old index is added as a column, and a new sequential index is used
# We can use the drop parameter to avoid the old index being added as a column:    ğŸ”°

df.columns=['ì¢…ëª©ëª…', 'AíŒ€', 'BíŒ€', 'CíŒ€', 'DíŒ€', 'ë¶„ë¥˜']
df

    ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [ ]:
df.index

In [ ]:
list(df.index)

In [ ]:
df.columns

In [ ]:
list(df.columns)

In [13]:
df.set_index('ì¢…ëª©ëª…')

       AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
ì¢…ëª©ëª…
íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
ìˆë‹‰ìŠ¤   100   90   80  100  ë°˜ë„ì²´
íŒë‹¤ì„¼   300  320  340    0   ê²Œì„
ìŠ¤ë§ˆë¸”     0  450  300  300   ê²Œì„

In [16]:
df.set_index(['ë¶„ë¥˜', 'ì¢…ëª©ëª…'], drop=False, append=True)

             ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
  ë¶„ë¥˜  ì¢…ëª©ëª…
0 ë°˜ë„ì²´ íŒŒì´ì „ì  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1 ë°˜ë„ì²´ ìˆë‹‰ìŠ¤    ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2 ê²Œì„  íŒë‹¤ì„¼    íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3 ê²Œì„  ìŠ¤ë§ˆë¸”    ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [22]:
df

    ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [32]:
df1 = df.loc[df["ì¢…ëª©ëª…"] != "íŒë‹¤ì„¼"]
df1

    ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [31]:
df2 = df.reset_index(names=['ì¢…ëª©'])
df2.index = pd.RangeIndex(5, 9, 1)                 # ğŸ”°
df2

   ì¢…ëª©   ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
5   0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
6   1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
7   2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
8   3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [35]:
index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
                                   ('bird', 'parrot'),
                                   ('mammal', 'lion'),
                                   ('mammal', 'monkey')],
                                  names=['class', 'name'])
columns = pd.MultiIndex.from_tuples([('speed', 'max'),
                                     ('speed', 'min'),
                                     ('species', 'type')])
df1 = pd.DataFrame([(389.0, 20, 'fly'),
                   (24.0, 30, 'fly'),
                   (80.5, 25, 'run'),
                   (np.nan, np.nan, 'jump')],
                  index=index,
                  columns=columns)
df1

               speed       species
                 max   min    type
class  name
bird   falcon  389.0  20.0     fly
       parrot   24.0  30.0     fly
mammal lion     80.5  25.0     run
       monkey    NaN   NaN    jump

In [36]:
df1.reset_index(level='name',col_level=1, col_fill='species').sort_index(axis=1)

       species        speed
          name  type    max   min
class
bird    falcon   fly  389.0  20.0
bird    parrot   fly   24.0  30.0
mammal    lion   run   80.5  25.0
mammal  monkey  jump    NaN   NaN

In [42]:
df

    ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [49]:
df.reindex(columns=['AíŒ€','BíŒ€', 'AíŒ€','EíŒ€'], fill_value=0)

    AíŒ€   BíŒ€   AíŒ€  EíŒ€
0   20   30   20   0
1  100   90  100   0
2  300  320  300   0
3    0  450    0   0

In [51]:
df

    ì¢…ëª©ëª…   AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„

In [50]:
index=pd.MultiIndex.from_tuples([('íŒŒì´ì „ì', 'ë°˜ë„ì²´'), ('ìŠ¤ë§ˆë¸”', 'ê²Œì„')])
df.reindex(columns=['BíŒ€', 'AíŒ€', 'BíŒ€', 'EíŒ€'], index=index, fill_value=0)

         BíŒ€ AíŒ€ BíŒ€  EíŒ€
íŒŒì´ì „ì ë°˜ë„ì²´  0  0  0   0
ìŠ¤ë§ˆë¸”  ê²Œì„   0  0  0   0

In [52]:
# df.reindex(columns=df2.columns)
idx = pd.RangeIndex(1, 5, 1)
df.set_index(['ì¢…ëª©ëª…', 'ë¶„ë¥˜'], drop=True).reindex(columns=['DíŒ€', 'CíŒ€', 'BíŒ€', 'AíŒ€']).sort_values(by='ë¶„ë¥˜')

           DíŒ€   CíŒ€   BíŒ€   AíŒ€
ì¢…ëª©ëª…  ë¶„ë¥˜
íŒë‹¤ì„¼  ê²Œì„     0  340  320  300
ìŠ¤ë§ˆë¸”  ê²Œì„   300  300  450    0
íŒŒì´ì „ì ë°˜ë„ì²´   40   30   30   20
ìˆë‹‰ìŠ¤  ë°˜ë„ì²´  100   80   90  100

In [53]:
df.sort_index(axis=1)

    AíŒ€   BíŒ€   CíŒ€   DíŒ€   ë¶„ë¥˜   ì¢…ëª©ëª…
0   20   30   30   40  ë°˜ë„ì²´  íŒŒì´ì „ì
1  100   90   80  100  ë°˜ë„ì²´   ìˆë‹‰ìŠ¤
2  300  320  340    0   ê²Œì„   íŒë‹¤ì„¼
3    0  450  300  300   ê²Œì„   ìŠ¤ë§ˆë¸”

In [48]:
# rename
df.rename(columns={'AíŒ€': 'ì •ë¬´íŒ€', 'BíŒ€': 'íšŒê³„íŒ€', 'CíŒ€':'AiíŒ€', 'DíŒ€':'ì£¼ì‹ë‹´ë‹¹'})

    ì¢…ëª©ëª…  ì •ë¬´íŒ€  íšŒê³„íŒ€  AiíŒ€ ì£¼ì‹ë‹´ë‹¹   ë¶„ë¥˜
0  íŒŒì´ì „ì   20   30   30   40  ë°˜ë„ì²´
1   ìˆë‹‰ìŠ¤  100   90   80  100  ë°˜ë„ì²´
2   íŒë‹¤ì„¼  300  320  340    0   ê²Œì„
3   ìŠ¤ë§ˆë¸”    0  450  300  300   ê²Œì„