In [1]:
# Pivot Table
import numpy as np
import pandas as pd

In [2]:
a1 = ['ì†¡ì¤‘ê¸°', 'ì´ìœ ë¹ˆ', 'ê¶Œë³´ì•„', 'ì°¨ìœ ëŒ', 'ë°•ë³´ê²€', 'ê¹€ë²”ìˆ˜', 'ì´íš¨ë¦¬', 'ìœ ìŠ¹í˜¸', 'ê¹€ìœ ì •']
a2 = list('ë‚¨ì—¬ì—¬ì—¬ë‚¨ë‚¨ì—¬ë‚¨ì—¬')
a3 = list('AAABBBCCC')
a4 = [97, 88, 78, 64, 84, 89, 87, 92, 99]
a5 = [i+'ë“±' for i in list('123321321')]
a6 = [i+'ì‹œ' for i in list('ìˆ˜ì •ì •ìˆ˜ìˆ˜ìˆ˜ì •ì •ìˆ˜')]
a7 = ['ì´ë¦„', 'ì„±ë³„', 'ë°˜', 'ì ìˆ˜', 'ë°˜ë“±ìˆ˜', 'ë¹„ê³ ']

df = pd.DataFrame([a1, a2, a3, a4, a5, a6], index = a7, columns = list(range(1, 10))).T
df['ì ìˆ˜'] = df['ì ìˆ˜'].astype(int)
# object -> intë¡œ typeë³€ê²½  ğŸ”°(astype)
df

    ì´ë¦„ ì„±ë³„  ë°˜  ì ìˆ˜ ë°˜ë“±ìˆ˜  ë¹„ê³
1  ì†¡ì¤‘ê¸°  ë‚¨  A  97  1ë“±  ìˆ˜ì‹œ
2  ì´ìœ ë¹ˆ  ì—¬  A  88  2ë“±  ì •ì‹œ
3  ê¶Œë³´ì•„  ì—¬  A  78  3ë“±  ì •ì‹œ
4  ì°¨ìœ ëŒ  ì—¬  B  64  3ë“±  ìˆ˜ì‹œ
5  ë°•ë³´ê²€  ë‚¨  B  84  2ë“±  ìˆ˜ì‹œ
6  ê¹€ë²”ìˆ˜  ë‚¨  B  89  1ë“±  ìˆ˜ì‹œ
7  ì´íš¨ë¦¬  ì—¬  C  87  3ë“±  ì •ì‹œ
8  ìœ ìŠ¹í˜¸  ë‚¨  C  92  2ë“±  ì •ì‹œ
9  ê¹€ìœ ì •  ì—¬  C  99  1ë“±  ìˆ˜ì‹œ

In [3]:
df.pivot_table(index=['ë°˜'], columns=['ì„±ë³„'], values=['ì ìˆ˜'], aggfunc=np.median)
# aggfunc, default: np.mean, stringê°’ì´ê³  ()ë™ë°˜í•˜ì§€ ì•ŠëŠ”ë‹¤.   ğŸ”°(np.median)

      ì ìˆ˜
ì„±ë³„     ë‚¨     ì—¬
ë°˜
A   97.0  83.0
B   86.5  64.0
C   92.0  93.0

In [4]:
df.head(4)

    ì´ë¦„ ì„±ë³„  ë°˜  ì ìˆ˜ ë°˜ë“±ìˆ˜  ë¹„ê³
1  ì†¡ì¤‘ê¸°  ë‚¨  A  97  1ë“±  ìˆ˜ì‹œ
2  ì´ìœ ë¹ˆ  ì—¬  A  88  2ë“±  ì •ì‹œ
3  ê¶Œë³´ì•„  ì—¬  A  78  3ë“±  ì •ì‹œ
4  ì°¨ìœ ëŒ  ì—¬  B  64  3ë“±  ìˆ˜ì‹œ

In [5]:
df.pivot(index=['ë°˜'], columns=['ë°˜ë“±ìˆ˜'], values='ì´ë¦„')
# index, 1rowì— í•´ë‹¹í•˜ëŠ” columnsê°€ ì¤‘ë³µì´ ë˜ì–´ì„œëŠ” ì•Šëœë‹¤. Aë°˜ì— 2ë“± 2ìˆìœ¼ë©´ Error

ë°˜ë“±ìˆ˜   1ë“±   2ë“±   3ë“±
ë°˜
A    ì†¡ì¤‘ê¸°  ì´ìœ ë¹ˆ  ê¶Œë³´ì•„
B    ê¹€ë²”ìˆ˜  ë°•ë³´ê²€  ì°¨ìœ ëŒ
C    ê¹€ìœ ì •  ìœ ìŠ¹í˜¸  ì´íš¨ë¦¬