In [1]:
import numpy as np
import pandas as pd

In [2]:
val = [[83, 93, 99], [77, 88, 91], [92, 78, 95]]
idx = ['ê¶Œë³´ì•„', 'ê¹€ë²”ìˆ˜', 'ë°•íš¨ì‹œ']
df = pd.DataFrame(val, index=idx, columns=['êµ­ì–´', 'ìˆ˜í•™', 'ê³¼í•™'])

val1 = [[20, 10], [5, 25], [22, 8], [12, 18]]
idx1 = [['1ë°˜', '1ë°˜', '2ë°˜', '2ë°˜'], ['ë‚¨', 'ì—¬', 'ë‚¨', 'ì—¬']]
df1 = pd.DataFrame(val1, index=idx1, columns=['ë„ì‹œë½', 'ìƒŒë“œìœ„ì¹˜'])
df2 = df1.unstack()
# stack, unstackì˜ defaultëŠ” level = -1, ì¦‰ indexì¤‘ì—ì„œ levelì´ ê°€ì¥ ë‚®ì€ level, (0, 1) ì¤‘ì— 1ì— ëŒ€í•´ì„œë§Œ ì‘ìš©í•œë‹¤.   ğŸ”°

df3 = df1.copy()
df3['ì—…ì²´'] =['CJí‘¸ë“œ', 'ì‹ ì„¸ê³„', 'ì‹ ì„¸ê³„', 'CJí‘¸ë“œ']
# df4 = df3.reset_index().rename(columns={'level_0': 'ë°˜', 'level_1':'ì„±ë³„'})
df4 = df3.reset_index(names=['ë°˜', 'ì„±ë³„'])
#  reset_indexëŠ” deaultëŠ” ëª¨ë“  levelì—ì„œ unstackí•œë‹¤.    ğŸ”°
df

     êµ­ì–´  ìˆ˜í•™  ê³¼í•™
ê¶Œë³´ì•„  83  93  99
ê¹€ë²”ìˆ˜  77  88  91
ë°•íš¨ì‹œ  92  78  95

In [3]:
Unpivot_df = df.stack().reset_index()
# stackìœ¼ë¡œ unpivotí•˜ëŠ” ë°©ë²•
# stackì€ default level =1, reset_indexëŠ” ëª¨ë“  level   ğŸ”°
# DataFrame.reset_index(names=[...])ëŠ” ê°€ëŠ¥í•˜ë‚˜, Series.reset_index()ì—ëŠ” names=[...]ë€ argumentê°€ ì—†ë‹¤.   ğŸ”°
# Series.reset_index(name= " ")ì˜ name argumentëŠ” original Series ê°’ì˜ column nameì„ ì§€ì •í•œë‹¤.   ğŸ”°
Unpivot_df.columns = ['ì´ë¦„', 'ê³¼ëª©', 'ì ìˆ˜']
Unpivot_df

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜
0  ê¶Œë³´ì•„  êµ­ì–´  83
1  ê¶Œë³´ì•„  ìˆ˜í•™  93
2  ê¶Œë³´ì•„  ê³¼í•™  99
3  ê¹€ë²”ìˆ˜  êµ­ì–´  77
4  ê¹€ë²”ìˆ˜  ìˆ˜í•™  88
5  ê¹€ë²”ìˆ˜  ê³¼í•™  91
6  ë°•íš¨ì‹œ  êµ­ì–´  92
7  ë°•íš¨ì‹œ  ìˆ˜í•™  78
8  ë°•íš¨ì‹œ  ê³¼í•™  95

In [4]:
df1.stack()

1ë°˜  ë‚¨  ë„ì‹œë½     20
       ìƒŒë“œìœ„ì¹˜    10
    ì—¬  ë„ì‹œë½      5
       ìƒŒë“œìœ„ì¹˜    25
2ë°˜  ë‚¨  ë„ì‹œë½     22
       ìƒŒë“œìœ„ì¹˜     8
    ì—¬  ë„ì‹œë½     12
       ìƒŒë“œìœ„ì¹˜    18
dtype: int64

In [5]:
df_unpivot = df1.stack().reset_index()
df_unpivot.columns = ['ë°˜', 'ì„±ë³„', 'ì„ íƒ', 'ìˆ˜ëŸ‰']
df_unpivot

    ë°˜ ì„±ë³„    ì„ íƒ  ìˆ˜ëŸ‰
0  1ë°˜  ë‚¨   ë„ì‹œë½  20
1  1ë°˜  ë‚¨  ìƒŒë“œìœ„ì¹˜  10
2  1ë°˜  ì—¬   ë„ì‹œë½   5
3  1ë°˜  ì—¬  ìƒŒë“œìœ„ì¹˜  25
4  2ë°˜  ë‚¨   ë„ì‹œë½  22
5  2ë°˜  ë‚¨  ìƒŒë“œìœ„ì¹˜   8
6  2ë°˜  ì—¬   ë„ì‹œë½  12
7  2ë°˜  ì—¬  ìƒŒë“œìœ„ì¹˜  18

In [6]:
df2

   ë„ì‹œë½     ìƒŒë“œìœ„ì¹˜
     ë‚¨   ì—¬    ë‚¨   ì—¬
1ë°˜  20   5   10  25
2ë°˜  22  12    8  18

In [7]:
df2_unpivot = df2.stack(level=[1, 0]).reset_index()
df2_unpivot.columns = df_unpivot.columns
df2_unpivot

    ë°˜ ì„±ë³„    ì„ íƒ  ìˆ˜ëŸ‰
0  1ë°˜  ë‚¨   ë„ì‹œë½  20
1  1ë°˜  ë‚¨  ìƒŒë“œìœ„ì¹˜  10
2  1ë°˜  ì—¬   ë„ì‹œë½   5
3  1ë°˜  ì—¬  ìƒŒë“œìœ„ì¹˜  25
4  2ë°˜  ë‚¨   ë„ì‹œë½  22
5  2ë°˜  ë‚¨  ìƒŒë“œìœ„ì¹˜   8
6  2ë°˜  ì—¬   ë„ì‹œë½  12
7  2ë°˜  ì—¬  ìƒŒë“œìœ„ì¹˜  18

In [8]:
df2_unpivot.pivot(index='ë°˜', columns=['ì„±ë³„', 'ì„ íƒ'], values='ìˆ˜ëŸ‰')

ì„±ë³„   ë‚¨        ì—¬
ì„ íƒ ë„ì‹œë½ ìƒŒë“œìœ„ì¹˜ ë„ì‹œë½ ìƒŒë“œìœ„ì¹˜
ë°˜
1ë°˜  20   10   5   25
2ë°˜  22    8  12   18

In [9]:
df3

      ë„ì‹œë½  ìƒŒë“œìœ„ì¹˜    ì—…ì²´
1ë°˜ ë‚¨   20    10  CJí‘¸ë“œ
   ì—¬    5    25   ì‹ ì„¸ê³„
2ë°˜ ë‚¨   22     8   ì‹ ì„¸ê³„
   ì—¬   12    18  CJí‘¸ë“œ

In [10]:
df3_pivot =df3.set_index('ì—…ì²´', append=True)
# 
df3_pivot

           ë„ì‹œë½  ìƒŒë“œìœ„ì¹˜
     ì—…ì²´
1ë°˜ ë‚¨ CJí‘¸ë“œ   20    10
   ì—¬ ì‹ ì„¸ê³„     5    25
2ë°˜ ë‚¨ ì‹ ì„¸ê³„    22     8
   ì—¬ CJí‘¸ë“œ   12    18

In [11]:
df3_unpivot = df3_pivot.stack().reset_index()
df3_unpivot.columns = ['ë°˜', 'ì„±ë³„', 'ì—…ì²´', 'ì„ íƒ', 'ìˆ˜ëŸ‰']
df3_unpivot

    ë°˜ ì„±ë³„    ì—…ì²´    ì„ íƒ  ìˆ˜ëŸ‰
0  1ë°˜  ë‚¨  CJí‘¸ë“œ   ë„ì‹œë½  20
1  1ë°˜  ë‚¨  CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  10
2  1ë°˜  ì—¬   ì‹ ì„¸ê³„   ë„ì‹œë½   5
3  1ë°˜  ì—¬   ì‹ ì„¸ê³„  ìƒŒë“œìœ„ì¹˜  25
4  2ë°˜  ë‚¨   ì‹ ì„¸ê³„   ë„ì‹œë½  22
5  2ë°˜  ë‚¨   ì‹ ì„¸ê³„  ìƒŒë“œìœ„ì¹˜   8
6  2ë°˜  ì—¬  CJí‘¸ë“œ   ë„ì‹œë½  12
7  2ë°˜  ì—¬  CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  18

In [12]:
df3_unpivot.set_index(keys=['ë°˜', 'ì„±ë³„', 'ì—…ì²´'])

              ì„ íƒ  ìˆ˜ëŸ‰
ë°˜  ì„±ë³„ ì—…ì²´
1ë°˜ ë‚¨  CJí‘¸ë“œ   ë„ì‹œë½  20
      CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  10
   ì—¬  ì‹ ì„¸ê³„    ë„ì‹œë½   5
      ì‹ ì„¸ê³„   ìƒŒë“œìœ„ì¹˜  25
2ë°˜ ë‚¨  ì‹ ì„¸ê³„    ë„ì‹œë½  22
      ì‹ ì„¸ê³„   ìƒŒë“œìœ„ì¹˜   8
   ì—¬  CJí‘¸ë“œ   ë„ì‹œë½  12
      CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  18

In [13]:
df3_unpivot.set_index(keys=['ë°˜', 'ì„±ë³„', 'ì—…ì²´']).reset_index(names=['ë°˜', 'ì„±ë³„', 'ì—…ì²´'])

    ë°˜ ì„±ë³„    ì—…ì²´    ì„ íƒ  ìˆ˜ëŸ‰
0  1ë°˜  ë‚¨  CJí‘¸ë“œ   ë„ì‹œë½  20
1  1ë°˜  ë‚¨  CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  10
2  1ë°˜  ì—¬   ì‹ ì„¸ê³„   ë„ì‹œë½   5
3  1ë°˜  ì—¬   ì‹ ì„¸ê³„  ìƒŒë“œìœ„ì¹˜  25
4  2ë°˜  ë‚¨   ì‹ ì„¸ê³„   ë„ì‹œë½  22
5  2ë°˜  ë‚¨   ì‹ ì„¸ê³„  ìƒŒë“œìœ„ì¹˜   8
6  2ë°˜  ì—¬  CJí‘¸ë“œ   ë„ì‹œë½  12
7  2ë°˜  ì—¬  CJí‘¸ë“œ  ìƒŒë“œìœ„ì¹˜  18

In [14]:
dfA = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
# DataFrameì •ì˜ ì“°ì¸ ë˜ë‹¤ë¥¸ í˜•íƒœì˜ dict{row:value}   ğŸ”° 
dfA

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [15]:
dfA.melt(id_vars='A', value_vars=['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [16]:
df4

    ë°˜ ì„±ë³„  ë„ì‹œë½  ìƒŒë“œìœ„ì¹˜    ì—…ì²´
0  1ë°˜  ë‚¨   20    10  CJí‘¸ë“œ
1  1ë°˜  ì—¬    5    25   ì‹ ì„¸ê³„
2  2ë°˜  ë‚¨   22     8   ì‹ ì„¸ê³„
3  2ë°˜  ì—¬   12    18  CJí‘¸ë“œ

In [17]:
df4.melt(id_vars=['ë°˜', 'ì„±ë³„', 'ì—…ì²´'], value_vars=['ë„ì‹œë½', 'ìƒŒë“œìœ„ì¹˜'])

    ë°˜ ì„±ë³„    ì—…ì²´ variable  value
0  1ë°˜  ë‚¨  CJí‘¸ë“œ      ë„ì‹œë½     20
1  1ë°˜  ì—¬   ì‹ ì„¸ê³„      ë„ì‹œë½      5
2  2ë°˜  ë‚¨   ì‹ ì„¸ê³„      ë„ì‹œë½     22
3  2ë°˜  ì—¬  CJí‘¸ë“œ      ë„ì‹œë½     12
4  1ë°˜  ë‚¨  CJí‘¸ë“œ     ìƒŒë“œìœ„ì¹˜     10
5  1ë°˜  ì—¬   ì‹ ì„¸ê³„     ìƒŒë“œìœ„ì¹˜     25
6  2ë°˜  ë‚¨   ì‹ ì„¸ê³„     ìƒŒë“œìœ„ì¹˜      8
7  2ë°˜  ì—¬  CJí‘¸ë“œ     ìƒŒë“œìœ„ì¹˜     18

In [18]:
df4.set_index(keys=['ë°˜', 'ì„±ë³„', 'ì—…ì²´']).stack().reset_index()

    ë°˜ ì„±ë³„    ì—…ì²´ level_3   0
0  1ë°˜  ë‚¨  CJí‘¸ë“œ     ë„ì‹œë½  20
1  1ë°˜  ë‚¨  CJí‘¸ë“œ    ìƒŒë“œìœ„ì¹˜  10
2  1ë°˜  ì—¬   ì‹ ì„¸ê³„     ë„ì‹œë½   5
3  1ë°˜  ì—¬   ì‹ ì„¸ê³„    ìƒŒë“œìœ„ì¹˜  25
4  2ë°˜  ë‚¨   ì‹ ì„¸ê³„     ë„ì‹œë½  22
5  2ë°˜  ë‚¨   ì‹ ì„¸ê³„    ìƒŒë“œìœ„ì¹˜   8
6  2ë°˜  ì—¬  CJí‘¸ë“œ     ë„ì‹œë½  12
7  2ë°˜  ì—¬  CJí‘¸ë“œ    ìƒŒë“œìœ„ì¹˜  18