In [2]:
import numpy as np
import pandas as pd

In [3]:
a1 = [1,'ì†¡ì¤€ê¸°', 680]
a11= [1,'ì†¡ì¤€ê¸°', 680]
b1 = [1,'ê¶Œë³´ì•„', 880]
c1 = [2,'ê¹€ë‚˜í˜„', 620]
d1 = [2,'ì†¡ì¤€ê¸°', 750]
e1 = [3,'ê¹€ë‚˜í˜„', 750]
f1 = [3,'ë°•íš¨ì‹ ', 920]
g1 = [3,'ì§„ë‹¬ê°œ', 850]
df = pd.DataFrame([a1, a11, b1, c1, d1, e1, f1, g1], columns=['íšŒì°¨', 'ì´ë¦„', 'ì ìˆ˜'])

In [4]:
df.unique('ì´ë¦„')

   íšŒì°¨   ì´ë¦„   ì ìˆ˜
0   1  ì†¡ì¤€ê¸°  680
1   1  ì†¡ì¤€ê¸°  680
2   1  ê¶Œë³´ì•„  880
3   2  ê¹€ë‚˜í˜„  620
4   2  ì†¡ì¤€ê¸°  750
5   3  ê¹€ë‚˜í˜„  750
6   3  ë°•íš¨ì‹   920
7   3  ì§„ë‹¬ê°œ  850

In [6]:
df[df.duplicated('ì´ë¦„')]
# ìœ„ ê°’ë¶€í„° scaní•´ì„œ ì´ì „ì— ìˆë˜ ê°’ì´ ë‹¤ì‹œ ë°˜ë³µ ì¶œí˜•í•˜ëŠ” ê²½ìš°ëŠ” True

   íšŒì°¨   ì´ë¦„   ì ìˆ˜
1   1  ì†¡ì¤€ê¸°  680
4   2  ì†¡ì¤€ê¸°  750
5   3  ê¹€ë‚˜í˜„  750

In [36]:
iter = tuple(sorted(set(df['ì´ë¦„'].to_list())))
# Serieë¥¼ listë¡œ ì „í™˜í•˜ê³ , ì¤‘ë³µì„ ì œê±°í•˜ê³ , ì •ë ¬í•˜ê³ , ìµœì¢…ì ìœ¼ë¡œ tupleì„ ë§Œë“ ë‹¤
# ê·¼ë° ë°©ë²•ì´ ì´ê±° ë°–ì— ì—†ë‚˜?
# í•œê°€ì§€ ë” setì€ indexë¥¼ ì“¸ ìˆ˜ ì—†ê³ , ë”°ë¼ì„œ ì •ë ¬ì„ ë³´ì¥í•˜ì§€ ì•ŠëŠ”ë‹¤(ìˆœì„œì—†ìŒ).   ğŸ’¢
# ì •ë ¬ì„ ì›í•œë‹¤ë©´ setì´í›„ì— sorted()ë¥¼ ì‚¬ìš©í•˜ë©´ ì •ë ¬ëœ listë¥¼ ì–»ëŠ”ë‹¤.
# tupleì€ indexë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

for i in iter:
    print(i)

ê¶Œë³´ì•„
ê¹€ë‚˜í˜„
ë°•íš¨ì‹
ì†¡ì¤€ê¸°
ì§„ë‹¬ê°œ

In [ ]:
# tuple : immutable(for fixed data) 
# indexable(can apply almost every list method except capable of changing elements) 

# set : no_duplicate(ì¤‘ë³µê²€ì‚¬ì— íŠ¹í™”), mutable, not_indexable  
# (available : add, pop, intersection, difference, union)(not available: +, append)

In [40]:
set1 ={ 1, 2, 3}
set2 = {2, 3, 4, 5}
set1.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [27]:
sorted(df['ì´ë¦„'].drop_duplicates())
# sorted()ëŠ” listë¥¼ returní•œë‹¤. ë”°ë¼ì„œ ìœ„ì—ì„œ to_list()ë¥¼ ì“¸ í•„ìš”ê°€ ì—†ë‹¤.

['ê¶Œë³´ì•„', 'ê¹€ë‚˜í˜„', 'ë°•íš¨ì‹ ', 'ì†¡ì¤€ê¸°', 'ì§„ë‹¬ê°œ']

In [13]:
df.drop_duplicates('ì´ë¦„', keep=False).reset_index(drop=True)
# keep {'first', 'last', False} FalseëŠ” ì¤‘ë³µì´ ìˆëŠ” ëª¨ë“  í–‰ì„ ì‚­ì œí•œë‹¤.

   íšŒì°¨   ì´ë¦„   ì ìˆ˜
0   1  ê¶Œë³´ì•„  880
1   3  ë°•íš¨ì‹   920
2   3  ì§„ë‹¬ê°œ  850