In [2]:
import numpy as np
import pandas as pd

In [3]:
names1 = ['ì†¡ì¤‘ê¸°', 'ê¶Œë³´ì•„', 'ê¹€ë‚˜í˜„', 'ë°•íš¨ì‹ ', 'ì§„ë‹¬ë˜']
a1, a2, a3, a4, a5 = 'ì†¡ì¤‘ê¸°', 'ê¶Œë³´ì•„', 'ê¹€ë‚˜í˜„', 'ë°•íš¨ì‹ ', 'ì§„ë‹¬ë˜'
b1, b2, b3 = 'ì¹´í˜ë¼í…Œ', 'ì•„ì´ìŠ¤í‹°', 'ëª¨ì¹´ë¼í…Œ'
c1, c2 = 'ì½©ë‹¤ë°©', 'ë³„ë‹¤ë°©'

df1 = pd.DataFrame([names1, [b1, b2, b3, b2, b3]], index=['ì´ë¦„', 'ì œí’ˆ']).T
df2 = pd.DataFrame([[b1, 4500],[b2, 4600], [b3, 4800]], columns=['ì œí’ˆ', 'ê°€ê²©'])
df3 = pd.DataFrame([names1, [c1, c1, c2, c1, c2], [b2, b1, b2, b2, b1]], index=['ì´ë¦„', 'ì—…ì²´', 'ì œí’ˆ']).T
df4 = pd.DataFrame([[c1, b2, 4600], [c1, b1, 4700], [c2, b2, 4200], [c2, b1, 4300]], columns=['ì—…ì²´', 'ì œí’ˆ', 'ê°€ê²©'])
df5 = pd.DataFrame([[b1, 4500], [b2, 4600], [b3, 4800]], columns=['ìƒí’ˆ', 'ê°€ê²©'])
df6 = pd.DataFrame([[b1, 4500], [b2, 4600], [b3, 4800], [b3, 4800]], columns=['ì œí’ˆ', 'ê°€ê²©'])
df7 = pd.DataFrame([[a2, a3, a1, a5], [b2, b1, b1, b3]], index=['ì´ë¦„', '1ì¼ì°¨']).T
df8 = pd.DataFrame([[a2, a3, a4, a1], [b1, b3, b2, b2]], index=['ì´ë¦„', '2ì¼ì°¨']).T
df9 = pd.DataFrame([b1, b3, b2, b2], index=[a2, a3, a4, a1], columns=['2ì¼ì°¨'])
# df9 = pd.Series([b1, b3, b2, b2], index=[a2, a3, a4, a1], name='2ì¼ì°¨')

In [4]:
df9

      2ì¼ì°¨
ê¶Œë³´ì•„  ì¹´í˜ë¼í…Œ
ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ
ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°
ì†¡ì¤‘ê¸°  ì•„ì´ìŠ¤í‹°

In [5]:
for i in range(1, 10, 1):
    exe = f"print(df{i%10})"
    # String to Statement      ğŸ”°
    # https://chat.openai.com/share/4e2bce18-bf83-4f8a-b007-ae893887357b
    exec(exe)

    ì´ë¦„    ì œí’ˆ
0  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ
1  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°
2  ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ
3  ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°
4  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ
     ì œí’ˆ    ê°€ê²©
0  ì¹´í˜ë¼í…Œ  4500
1  ì•„ì´ìŠ¤í‹°  4600
2  ëª¨ì¹´ë¼í…Œ  4800
    ì´ë¦„   ì—…ì²´    ì œí’ˆ
0  ì†¡ì¤‘ê¸°  ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
1  ê¶Œë³´ì•„  ì½©ë‹¤ë°©  ì¹´í˜ë¼í…Œ
2  ê¹€ë‚˜í˜„  ë³„ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
3  ë°•íš¨ì‹   ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
4  ì§„ë‹¬ë˜  ë³„ë‹¤ë°©  ì¹´í˜ë¼í…Œ
    ì—…ì²´    ì œí’ˆ    ê°€ê²©
0  ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4600
1  ì½©ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4700
2  ë³„ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4200
3  ë³„ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4300
     ìƒí’ˆ    ê°€ê²©
0  ì¹´í˜ë¼í…Œ  4500
1  ì•„ì´ìŠ¤í‹°  4600
2  ëª¨ì¹´ë¼í…Œ  4800
     ì œí’ˆ    ê°€ê²©
0  ì¹´í˜ë¼í…Œ  4500
1  ì•„ì´ìŠ¤í‹°  4600
2  ëª¨ì¹´ë¼í…Œ  4800
3  ëª¨ì¹´ë¼í…Œ  4800
    ì´ë¦„   1ì¼ì°¨
0  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°
1  ê¹€ë‚˜í˜„  ì¹´í˜ë¼í…Œ
2  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ
3  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ
    ì´ë¦„   2ì¼ì°¨
0  ê¶Œë³´ì•„  ì¹´í˜ë¼í…Œ
1  ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ
2  ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°
3  ì†¡ì¤‘ê¸°  ì•„ì´ìŠ¤í‹°
      2ì¼ì°¨
ê¶Œë³´ì•„  ì¹´í˜ë¼í…Œ
ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ
ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°
ì†¡ì¤‘ê¸°  ì•„ì´ìŠ¤í‹°

In [6]:
df1.merge(df2, how='left')

    ì´ë¦„    ì œí’ˆ    ê°€ê²©
0  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ  4500
1  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°  4600
2  ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ  4800
3  ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°  4600
4  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ  4800

In [7]:
df3

    ì´ë¦„   ì—…ì²´    ì œí’ˆ
0  ì†¡ì¤‘ê¸°  ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
1  ê¶Œë³´ì•„  ì½©ë‹¤ë°©  ì¹´í˜ë¼í…Œ
2  ê¹€ë‚˜í˜„  ë³„ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
3  ë°•íš¨ì‹   ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°
4  ì§„ë‹¬ë˜  ë³„ë‹¤ë°©  ì¹´í˜ë¼í…Œ

In [15]:
df4

    ì—…ì²´    ì œí’ˆ    ê°€ê²©
0  ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4600
1  ì½©ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4700
2  ë³„ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4200
3  ë³„ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4300

In [8]:
df3.merge(df4, on=['ì—…ì²´', 'ì œí’ˆ'], how='left')

    ì´ë¦„   ì—…ì²´    ì œí’ˆ    ê°€ê²©
0  ì†¡ì¤‘ê¸°  ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4600
1  ê¶Œë³´ì•„  ì½©ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4700
2  ê¹€ë‚˜í˜„  ë³„ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4200
3  ë°•íš¨ì‹   ì½©ë‹¤ë°©  ì•„ì´ìŠ¤í‹°  4600
4  ì§„ë‹¬ë˜  ë³„ë‹¤ë°©  ì¹´í˜ë¼í…Œ  4300

In [9]:
# df1.merge(df5, left_on='ì œí’ˆ', right_on='ìƒí’ˆ', how='left')
df1.merge(df5.rename(columns={'ìƒí’ˆ':'ì œí’ˆ'}), how='left')

    ì´ë¦„    ì œí’ˆ    ê°€ê²©
0  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ  4500
1  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°  4600
2  ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ  4800
3  ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°  4600
4  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ  4800

In [10]:
df1.merge(df6.drop_duplicates(), how='left')

    ì´ë¦„    ì œí’ˆ    ê°€ê²©
0  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ  4500
1  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°  4600
2  ê¹€ë‚˜í˜„  ëª¨ì¹´ë¼í…Œ  4800
3  ë°•íš¨ì‹   ì•„ì´ìŠ¤í‹°  4600
4  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ  4800

In [11]:
df7.merge(df8, how='outer')
# merge ì„œë¡œ ë‹¤ë¥¸ ê³µí†µ columnì€ í•˜ë‚˜ì˜ columnìœ¼ë¡œ ë‹¤ë¥¸ columnëª…ì€ ì „ë¶€ í‘œê¸°ëœë‹¤.

    ì´ë¦„   1ì¼ì°¨   2ì¼ì°¨
0  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°  ì¹´í˜ë¼í…Œ
1  ê¹€ë‚˜í˜„  ì¹´í˜ë¼í…Œ  ëª¨ì¹´ë¼í…Œ
2  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ  ì•„ì´ìŠ¤í‹°
3  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ   NaN
4  ë°•íš¨ì‹    NaN  ì•„ì´ìŠ¤í‹°

In [12]:
df7.merge(df9.reset_index(names=['ì´ë¦„']), how='outer')
# df9ì´ ì›ë˜ DataFrameì´ë¼ì„œ names=[...]ë¥¼ ì“¸ ìˆ˜ ìˆë‹¤.

    ì´ë¦„   1ì¼ì°¨   2ì¼ì°¨
0  ê¶Œë³´ì•„  ì•„ì´ìŠ¤í‹°  ì¹´í˜ë¼í…Œ
1  ê¹€ë‚˜í˜„  ì¹´í˜ë¼í…Œ  ëª¨ì¹´ë¼í…Œ
2  ì†¡ì¤‘ê¸°  ì¹´í˜ë¼í…Œ  ì•„ì´ìŠ¤í‹°
3  ì§„ë‹¬ë˜  ëª¨ì¹´ë¼í…Œ   NaN
4  ë°•íš¨ì‹    NaN  ì•„ì´ìŠ¤í‹°

In [13]:
s = pd.Series([1, 2, 3, 4], name='foo',
              index=pd.Index(['a', 'b', 'c', 'd'], name='idx'))
s

idx
a    1
b    2
c    3
d    4
Name: foo, dtype: int64

In [14]:
# s.reset_index(name='Value')
# ìƒˆë¡œ í¸ì…ëœ ì´ì „ indexì˜ ì´ë¦„ì„ ì§€ì–´ ì£¼ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ê¸°ì¡´ seriesì˜ columnëª…ì„ ë°”ê¿” ì¤€ë‹¤.   ğŸ’¢
s.to_frame().reset_index(names=['ì¸ë±ìŠ¤'])
# SeriesëŠ” names=[...]ë¥¼ ê°–ì§€ ëª»í•˜ì§€ë§Œ, DataFrameì´ë¼ë©´ ê°€ëŠ¥í•˜ë‹¤.   ğŸ”°
# <https://pandas.pydata.org/docs/reference/api/pandas.Series.reset_index.html?highlight=reset_index#pandas.Series.reset_index>

  ì¸ë±ìŠ¤  foo
0   a    1
1   b    2
2   c    3
3   d    4