In [2]:
import pandas as pd
import numpy as np

In [21]:
df1 = pd.DataFrame([['ÏÜ°Ï§ëÍ∏∞', 92], ['Í∂åÎ≥¥ÏïÑ', 89], ['ÍπÄÎÇòÌòÑ', 71], ['Î∞ïÌö®Ïã†', 90]], columns=['Ïù¥Î¶Ñ', 'Ï†êÏàò'])
df2 = pd.DataFrame([['A', 90], ['B', 80], ['C', 70]], columns=['ÌïôÏ†ê', 'Ï†êÏàò'])
df3 = pd.DataFrame([['A', 100], ['B', 90], ['C', 80]],columns=['ÌïôÏ†ê', 'Ï†êÏàò'])
df4 = pd.DataFrame([['A', 95], ['B', 85], ['C', 75]], columns=['ÌïôÏ†ê', 'Ï†êÏàò'])
df5 = pd.DataFrame([[90, 'lucky'], [80, 'lucky']], columns=['Ï†êÏàò', 'Íµ¨Î∂Ñ'])

t1 = ['2021-02-11', '2021-02-12', '2021-09-21','2021-09-22', '2021-09-23']
# Í∑∏Ï†Ä stringÏùò listÏùºÎøê
df6 = pd.DataFrame([t1], index=['ÎÇ†Ïßú']).T
df7 = pd.DataFrame([['2021-02-12', 'ÏÑ§ÎÇ†'], ['2021-09-21', 'Ï∂îÏÑù']], columns=['ÎÇ†Ïßú', 'ÎÇ¥Ïö©'])
df6['ÎÇ†Ïßú'] = pd.to_datetime(df6['ÎÇ†Ïßú'])
df7['ÎÇ†Ïßú'] = pd.to_datetime(df7['ÎÇ†Ïßú'])
# stringÏùÑ TimestampSeriesÎ°ú Î≥ÄÌôò

df8 = pd.DataFrame([['ÏÜ°Ï§ëÍ∏∞', 'Íµ≠Ïñ¥', 99], ['ÏÜ°Ï§ëÍ∏∞', 'ÏòÅÏñ¥', 72], ['Í∂åÎ≥¥ÏïÑ', 'Íµ≠Ïñ¥', 92], ['Í∂åÎ≥¥ÏïÑ', 'ÏòÅÏñ¥', 92]],\
                   columns=['Ïù¥Î¶Ñ', 'Í≥ºÎ™©', 'Ï†êÏàò'])
df9 = pd.DataFrame([[90, 'A', 'Íµ≠Ïñ¥'], [0, 'B', 'Íµ≠Ïñ¥'], [95, 'A', 'ÏòÅÏñ¥'], [0, 'B', 'ÏòÅÏñ¥'], ],\
                   columns=['Ï†êÏàò', 'ÌïôÏ†ê', 'Í≥ºÎ™©'])

In [60]:
df1 = df1.sort_values('Ï†êÏàò')
df2 = df2.sort_values('Ï†êÏàò')
df3 = df3.sort_values('Ï†êÏàò')
df4 = df4.sort_values('Ï†êÏàò')
df5 = df5.sort_values('Ï†êÏàò')
df6 = df6.sort_values('ÎÇ†Ïßú')
df7 = df7.sort_values('ÎÇ†Ïßú')
df8 = df8.sort_values('Ï†êÏàò')
df9 = df9.sort_values('Ï†êÏàò')
# left, right Í≥µÌûà sortÎêòÏñ¥ ÏûàÏñ¥Ïïº ÌïúÎã§.

In [35]:
pd.merge_asof(df1, df2)
# Í≥µÌÜµÏúºÎ°ú Ï†êÏàòcolumnÏùÑ Í∞ñÍ≥† ÏûàÏúºÎØÄÎ°ú on=ÏùÄ ÏÉùÎûµ

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71  C
1  Í∂åÎ≥¥ÏïÑ  89  B
2  Î∞ïÌö®Ïã†  90  A
3  ÏÜ°Ï§ëÍ∏∞  92  A

In [36]:
pd.merge_asof(df1, df2, allow_exact_matches=False)
# ÏûêÏã†Î≥¥Îã§ ÏûëÏùÄ ÏàòÎ•º Ï∞æÎäîÎã§.

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71  C
1  Í∂åÎ≥¥ÏïÑ  89  B
2  Î∞ïÌö®Ïã†  90  B
3  ÏÜ°Ï§ëÍ∏∞  92  A

In [37]:
pd.merge_asof(df1, df2, direction='forward')

    Ïù¥Î¶Ñ  Ï†êÏàò   ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71    B
1  Í∂åÎ≥¥ÏïÑ  89    A
2  Î∞ïÌö®Ïã†  90    A
3  ÏÜ°Ï§ëÍ∏∞  92  NaN

In [25]:
df3

  ÌïôÏ†ê   Ï†êÏàò
0  A  100
1  B   90
2  C   80

In [38]:
pd.merge_asof(df1, df3)

    Ïù¥Î¶Ñ  Ï†êÏàò   ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71  NaN
1  Í∂åÎ≥¥ÏïÑ  89    C
2  Î∞ïÌö®Ïã†  90    B
3  ÏÜ°Ï§ëÍ∏∞  92    B

In [39]:
pd.merge_asof(df1, df3, direction='forward')

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71  C
1  Í∂åÎ≥¥ÏïÑ  89  B
2  Î∞ïÌö®Ïã†  90  B
3  ÏÜ°Ï§ëÍ∏∞  92  A

In [40]:
pd.merge_asof(df1, df3, direction='forward', allow_exact_matches=False)
# ÏûêÏã†Ïùò Ïà´ÏûêÎ≥¥Îã§ ÌÅ∞ ÏàòÎ•º Ï∞æÎäîÎã§.

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê
0  ÍπÄÎÇòÌòÑ  71  C
1  Í∂åÎ≥¥ÏïÑ  89  B
2  Î∞ïÌö®Ïã†  90  A
3  ÏÜ°Ï§ëÍ∏∞  92  A

In [49]:
df5

   Ï†êÏàò     Íµ¨Î∂Ñ
1  80  lucky
0  90  lucky

In [47]:
pd.merge_asof(pd.merge_asof(df1, df2), df5, direction= 'backward', tolerance=2)
# directionÏù¥ backwardÏù¥Î©¥ toleranceÎäî forwardÎ°ú ÏûëÏö©ÌïúÎã§.

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê     Íµ¨Î∂Ñ
0  ÍπÄÎÇòÌòÑ  71  C    NaN
1  Í∂åÎ≥¥ÏïÑ  89  B    NaN
2  Î∞ïÌö®Ïã†  90  A  lucky
3  ÏÜ°Ï§ëÍ∏∞  92  A  lucky

In [51]:
pd.merge_asof(pd.merge_asof(df1, df2), df5, direction= 'forward', tolerance=2)
# directionÏù¥ forwardÏù¥Î©¥ toleranceÎäî backwardÎ°ú ÏûëÏö©ÌïúÎã§.

    Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê     Íµ¨Î∂Ñ
0  ÍπÄÎÇòÌòÑ  71  C    NaN
1  Í∂åÎ≥¥ÏïÑ  89  B  lucky
2  Î∞ïÌö®Ïã†  90  A  lucky
3  ÏÜ°Ï§ëÍ∏∞  92  A    NaN

In [53]:
df7

          ÎÇ†Ïßú  ÎÇ¥Ïö©
0 2021-02-12  ÏÑ§ÎÇ†
1 2021-09-21  Ï∂îÏÑù

In [54]:
df6

          ÎÇ†Ïßú
0 2021-02-11
1 2021-02-12
2 2021-09-21
3 2021-09-22
4 2021-09-23

In [59]:
pd.merge_asof(df6, df7, direction='backward', tolerance=pd.Timedelta('1d'))

          ÎÇ†Ïßú   ÎÇ¥Ïö©
0 2021-02-11  NaN
1 2021-02-12   ÏÑ§ÎÇ†
2 2021-09-21   Ï∂îÏÑù
3 2021-09-22   Ï∂îÏÑù
4 2021-09-23  NaN

In [ ]:
pd.merge_asof(df6, df7, direction='forward', tolerance=pd.Timedelta('1d'))

          ÎÇ†Ïßú   ÎÇ¥Ïö©
0 2021-02-11   ÏÑ§ÎÇ†
1 2021-02-12   ÏÑ§ÎÇ†
2 2021-09-21   Ï∂îÏÑù
3 2021-09-22  NaN
4 2021-09-23  NaN

In [62]:
pd.merge_asof(df8, df9, on='Ï†êÏàò', by='Í≥ºÎ™©')
# by=Í≥ºÎ™©Îäî Í≥ºÎ™©Î≥Ñ groupÏùÑ ÎßåÎì§Ïñ¥ merge_asofÏ≤òÎ¶¨ ÌïúÎã§. groupbyÏóêÏÑú ÏôîÎã§Í≥† Ìï¥ÏÑú by   üå∑

    Ïù¥Î¶Ñ  Í≥ºÎ™©  Ï†êÏàò ÌïôÏ†ê
0  ÏÜ°Ï§ëÍ∏∞  ÏòÅÏñ¥  72  B
1  Í∂åÎ≥¥ÏïÑ  Íµ≠Ïñ¥  92  A
2  Í∂åÎ≥¥ÏïÑ  ÏòÅÏñ¥  92  B
3  ÏÜ°Ï§ëÍ∏∞  Íµ≠Ïñ¥  99  A

In [12]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})

df.sort_values(by='col4', key=lambda col: col.str.lower())
# Î≥∏ ÏûëÏóÖÏóê Îì§Ïñ¥Í∞ÄÍ∏∞ Ï†ÑÏóê SeriesÏóê ÎåÄÌï¥ Ï†ÑÏ≤òÎ¶¨(lambda)Î•º ÌïúÎã§.
# neverthless, seriesÏùò original valuesÎäî Î≥¥Ï°¥ÎêúÎã§.

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [15]:
quotes = pd.DataFrame(
    {
        "time": [
            pd.Timestamp("2016-05-25 13:30:00.023"),
            pd.Timestamp("2016-05-25 13:30:00.023"),
            pd.Timestamp("2016-05-25 13:30:00.030"),
            pd.Timestamp("2016-05-25 13:30:00.041"),
            pd.Timestamp("2016-05-25 13:30:00.048"),
            pd.Timestamp("2016-05-25 13:30:00.049"),
            pd.Timestamp("2016-05-25 13:30:00.072"),
            pd.Timestamp("2016-05-25 13:30:00.075")
        ],
        "ticker": [
               "GOOG",
               "MSFT",
               "MSFT",
               "MSFT",
               "GOOG",
               "AAPL",
               "GOOG",
               "MSFT"
           ],
           "bid": [720.50, 51.95, 51.97, 51.99, 720.50, 97.99, 720.50, 52.01],
           "ask": [720.93, 51.96, 51.98, 52.00, 720.93, 98.01, 720.88, 52.03]
    }
)

trades = pd.DataFrame(
       {
           "time": [
               pd.Timestamp("2016-05-25 13:30:00.023"),
               pd.Timestamp("2016-05-25 13:30:00.038"),
               pd.Timestamp("2016-05-25 13:30:00.048"),
               pd.Timestamp("2016-05-25 13:30:00.048"),
               pd.Timestamp("2016-05-25 13:30:00.048")
           ],
           "ticker": ["MSFT", "MSFT", "GOOG", "GOOG", "AAPL"],
           "price": [51.95, 51.95, 720.77, 720.92, 98.0],
           "quantity": [75, 155, 100, 100, 100]
       }
   )

In [18]:
quotes

                     time ticker     bid     ask
0 2016-05-25 13:30:00.023   GOOG  720.50  720.93
1 2016-05-25 13:30:00.023   MSFT   51.95   51.96
2 2016-05-25 13:30:00.030   MSFT   51.97   51.98
3 2016-05-25 13:30:00.041   MSFT   51.99   52.00
4 2016-05-25 13:30:00.048   GOOG  720.50  720.93
5 2016-05-25 13:30:00.049   AAPL   97.99   98.01
6 2016-05-25 13:30:00.072   GOOG  720.50  720.88
7 2016-05-25 13:30:00.075   MSFT   52.01   52.03

In [19]:
trades

                     time ticker   price  quantity
0 2016-05-25 13:30:00.023   MSFT   51.95        75
1 2016-05-25 13:30:00.038   MSFT   51.95       155
2 2016-05-25 13:30:00.048   GOOG  720.77       100
3 2016-05-25 13:30:00.048   GOOG  720.92       100
4 2016-05-25 13:30:00.048   AAPL   98.00       100

In [16]:
pd.merge_asof(trades, quotes, on="time", by="ticker")
# Í∏∞Ï§ÄÏù¥ ÎêòÎäî Í≤ÉÏùÄ left, leftÏóê ÎßûÎäî rightÎ•º Ï∞æÏïÑÏïº ÌïúÎã§

                     time ticker   price  quantity     bid     ask
0 2016-05-25 13:30:00.023   MSFT   51.95        75   51.95   51.96
1 2016-05-25 13:30:00.038   MSFT   51.95       155   51.97   51.98
2 2016-05-25 13:30:00.048   GOOG  720.77       100  720.50  720.93
3 2016-05-25 13:30:00.048   GOOG  720.92       100  720.50  720.93
4 2016-05-25 13:30:00.048   AAPL   98.00       100     NaN     NaN

In [17]:
pd.merge_asof(
    trades, quotes, on="time", by="ticker", tolerance=pd.Timedelta("2ms")
)
# directionÏùò defaultÍ∞Ä backwardÏù¥ÎØÄÎ°ú ÏßÄÏ†ï tradeÏãúÍ∞Ñ Ïù¥Ï†ÑÏóê Ìï¥Îãπ tickerÍ∞Ä ÏûàÎäîÏßÄÎ•º ÌôïÏù∏ÌïúÎã§
# 048Ïù¥Ï†ÑÏóê AAPLÏù¥ ÏóÜÏúºÎØÄÎ°ú bid, askÎäî NaNÏù¥ ÎêúÎã§.

                     time ticker   price  quantity     bid     ask
0 2016-05-25 13:30:00.023   MSFT   51.95        75   51.95   51.96
1 2016-05-25 13:30:00.038   MSFT   51.95       155     NaN     NaN
2 2016-05-25 13:30:00.048   GOOG  720.77       100  720.50  720.93
3 2016-05-25 13:30:00.048   GOOG  720.92       100  720.50  720.93
4 2016-05-25 13:30:00.048   AAPL   98.00       100     NaN     NaN