In [114]:
import numpy as np
import pandas as pd

In [115]:
a1 = ['ÏÜ°Ï§ëÍ∏∞', 1, 92, 82, 17]
a2 = ['Í∂åÎ≥¥ÏïÑ', 1, 89, 97, 17]
a3 = ['ÍπÄÎÇòÌòï', 1, 71, 91, 18]
a4 = ['Î∞ïÌö®Ïã†', 1, 90, 78, 18]
a5 = ['ÍπÄÏÑ†ÎØ∏', 1, 83, 78, 19]
a6 = ['Í∞ïÎØºÍ≤Ω', 1, 81, 91, 19]
col = ['Ïù¥Î¶Ñ', 'Î∞ò', 'ÏòÅÏñ¥', 'Íµ≠Ïñ¥', 'ÎÇòÏù¥']

df1 = pd.DataFrame([a1, a2, a3, a4, a5, a6], columns=col)
df2 = df1.copy()
df3 = df1.copy()
df4 = df1.copy()

In [116]:
df1

    Ïù¥Î¶Ñ  Î∞ò  ÏòÅÏñ¥  Íµ≠Ïñ¥  ÎÇòÏù¥
0  ÏÜ°Ï§ëÍ∏∞  1  92  82  17
1  Í∂åÎ≥¥ÏïÑ  1  89  97  17
2  ÍπÄÎÇòÌòï  1  71  91  18
3  Î∞ïÌö®Ïã†  1  90  78  18
4  ÍπÄÏÑ†ÎØ∏  1  83  78  19
5  Í∞ïÎØºÍ≤Ω  1  81  91  19

In [117]:
df1 = df1.set_index(['Î∞ò','Ïù¥Î¶Ñ'])
df1

       ÏòÅÏñ¥  Íµ≠Ïñ¥  ÎÇòÏù¥
Î∞ò Ïù¥Î¶Ñ
1 ÏÜ°Ï§ëÍ∏∞  92  82  17
  Í∂åÎ≥¥ÏïÑ  89  97  17
  ÍπÄÎÇòÌòï  71  91  18
  Î∞ïÌö®Ïã†  90  78  18
  ÍπÄÏÑ†ÎØ∏  83  78  19
  Í∞ïÎØºÍ≤Ω  81  91  19

In [118]:
ser1 = pd.Series(df1[['Íµ≠Ïñ¥','ÏòÅÏñ¥']].mean(axis=1), name='ÌèâÍ∑†')
df1 = pd.concat([df1, ser1], axis=1)

In [119]:
df1

       ÏòÅÏñ¥  Íµ≠Ïñ¥  ÎÇòÏù¥    ÌèâÍ∑†
Î∞ò Ïù¥Î¶Ñ
1 ÏÜ°Ï§ëÍ∏∞  92  82  17  87.0
  Í∂åÎ≥¥ÏïÑ  89  97  17  93.0
  ÍπÄÎÇòÌòï  71  91  18  81.0
  Î∞ïÌö®Ïã†  90  78  18  84.0
  ÍπÄÏÑ†ÎØ∏  83  78  19  80.5
  Í∞ïÎØºÍ≤Ω  81  91  19  86.0

In [120]:
df1['ÌèâÏ†ê'] = df1.apply(lambda x: 'A' if x.ÌèâÍ∑† > 90 else 'B'\
                      if x.ÌèâÍ∑† > 80 else 'C', axis=1)
df1

       ÏòÅÏñ¥  Íµ≠Ïñ¥  ÎÇòÏù¥    ÌèâÍ∑† ÌèâÏ†ê
Î∞ò Ïù¥Î¶Ñ
1 ÏÜ°Ï§ëÍ∏∞  92  82  17  87.0  B
  Í∂åÎ≥¥ÏïÑ  89  97  17  93.0  A
  ÍπÄÎÇòÌòï  71  91  18  81.0  B
  Î∞ïÌö®Ïã†  90  78  18  84.0  B
  ÍπÄÏÑ†ÎØ∏  83  78  19  80.5  B
  Í∞ïÎØºÍ≤Ω  81  91  19  86.0  B

In [121]:
df1['rank'] = df1.ÌèâÍ∑†.rank(ascending=False )
df1

       ÏòÅÏñ¥  Íµ≠Ïñ¥  ÎÇòÏù¥    ÌèâÍ∑† ÌèâÏ†ê  rank
Î∞ò Ïù¥Î¶Ñ
1 ÏÜ°Ï§ëÍ∏∞  92  82  17  87.0  B   2.0
  Í∂åÎ≥¥ÏïÑ  89  97  17  93.0  A   1.0
  ÍπÄÎÇòÌòï  71  91  18  81.0  B   5.0
  Î∞ïÌö®Ïã†  90  78  18  84.0  B   4.0
  ÍπÄÏÑ†ÎØ∏  83  78  19  80.5  B   6.0
  Í∞ïÎØºÍ≤Ω  81  91  19  86.0  B   3.0

In [122]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6 entries, (1, 'ÏÜ°Ï§ëÍ∏∞') to (1, 'Í∞ïÎØºÍ≤Ω')
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ÏòÅÏñ¥      6 non-null      int64
 1   Íµ≠Ïñ¥      6 non-null      int64
 2   ÎÇòÏù¥      6 non-null      int64
 3   ÌèâÍ∑†      6 non-null      float64
 4   ÌèâÏ†ê      6 non-null      object
 5   rank    6 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 790.0+ bytes

In [123]:
import numpy as np
import pandas as pd
# Example functions
a = np.add
b = np.sin
c = np.multiply

f = pd.Series.rank
g = pd.DataFrame.mean
h = pd.DataFrame.assign

# Check the type of the functions
print(type(f))  # <class 'numpy.ufunc'>
print(type(g))  # <class 'numpy.ufunc'>
print(type(h))  # <class 'numpy.ufunc'>

<class 'function'>
<class 'function'>
<class 'function'>

In [124]:
df1.apply(lambda x: x.ÌèâÏ†ê, axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    B
   Í∂åÎ≥¥ÏïÑ    A
   ÍπÄÎÇòÌòï    B
   Î∞ïÌö®Ïã†    B
   ÍπÄÏÑ†ÎØ∏    B
   Í∞ïÎØºÍ≤Ω    B
dtype: object

In [126]:
df1.apply(lambda x: x['ÌèâÏ†ê'], axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    B
   Í∂åÎ≥¥ÏïÑ    A
   ÍπÄÎÇòÌòï    B
   Î∞ïÌö®Ïã†    B
   ÍπÄÏÑ†ÎØ∏    B
   Í∞ïÎØºÍ≤Ω    B
dtype: object

In [127]:
df1.apply(lambda x: f"{x.ÌèâÏ†ê}", axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    B
   Í∂åÎ≥¥ÏïÑ    A
   ÍπÄÎÇòÌòï    B
   Î∞ïÌö®Ïã†    B
   ÍπÄÏÑ†ÎØ∏    B
   Í∞ïÎØºÍ≤Ω    B
dtype: object

In [128]:
df1.apply(lambda x: x.rank, axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
   Í∂åÎ≥¥ÏïÑ    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
   ÍπÄÎÇòÌòï    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
   Î∞ïÌö®Ïã†    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
   ÍπÄÏÑ†ÎØ∏    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
   Í∞ïÎØºÍ≤Ω    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
dtype: object

In [129]:
df1.apply(lambda x: f"{x.rank}", axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    <bound method NDFrame.rank of ÏòÅÏñ¥        92\nÍµ≠Ïñ¥...
   Í∂åÎ≥¥ÏïÑ    <bound method NDFrame.rank of ÏòÅÏñ¥        89\nÍµ≠Ïñ¥...
   ÍπÄÎÇòÌòï    <bound method NDFrame.rank of ÏòÅÏñ¥        71\nÍµ≠Ïñ¥...
   Î∞ïÌö®Ïã†    <bound method NDFrame.rank of ÏòÅÏñ¥        90\nÍµ≠Ïñ¥...
   ÍπÄÏÑ†ÎØ∏    <bound method NDFrame.rank of ÏòÅÏñ¥        83\nÍµ≠Ïñ¥...
   Í∞ïÎØºÍ≤Ω    <bound method NDFrame.rank of ÏòÅÏñ¥        81\nÍµ≠Ïñ¥...
dtype: object

In [130]:
# df1.apply(lambda x: f"{x.loc['rank']}", axis=1)   üî∞üå∏üí¢üçÄ  Ïù¥Ïú†Îäî Î™®Î•∏Îã§.
df1.apply(lambda x: f"{x['rank']}", axis=1)

Î∞ò  Ïù¥Î¶Ñ
1  ÏÜ°Ï§ëÍ∏∞    2.0
   Í∂åÎ≥¥ÏïÑ    1.0
   ÍπÄÎÇòÌòï    5.0
   Î∞ïÌö®Ïã†    4.0
   ÍπÄÏÑ†ÎØ∏    6.0
   Í∞ïÎØºÍ≤Ω    3.0
dtype: object

In [ ]:
ttl = len(df1['ÏòÅÏñ¥'])

In [ ]:
print(type(df1.iloc[0]))

In [ ]:
df1.iloc[0]

In [ ]:
int(df1.iloc[0].loc['rank'])

In [ ]:
df1['Î∞òÏÑùÏ∞®'] = df1.apply(lambda x: f"{int(x['rank'])} / {ttl}", axis=1)

list_remaining = list(df1.columns)
list_remaining.pop(-2)
df1 = df1[list_remaining]
df1

# Ïô†ÏßÄÎäî Ï†ïÌôïÌûà Ïïå Ïàò ÏóÜÏúºÎÇò lambda x: x.rank