In [1]:
# Apply & Applymap
import numpy as np
import pandas as pd

In [2]:
a1 = ['4ë“±', '3ë“±', '1ë“±', '2ë“±']
a2 = ['ë§ˆì‹œê¸°', 'ì»¤í”¼ì‚¬ì˜¤ê¸°', 'ë§Œì›', '2ë§Œì›']
idx1 =['ì†¡ì¤‘ê¸°', 'ê¹€ë‚˜í˜„', 'ê¶Œë³´ì•„', 'ë°•íš¨ì‹ ']
col1 = ['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™']
val1 = [[82, 81, 77], [91, 95, 83], [78, 72, 88], [82, 87, 72]]
s1 = pd.Series(['80ì ', '75ì ', '77ì ', '60ì '], index=idx1)
s2 = pd.Series(a1, index=idx1)
s3 = pd.Series(a2, index=['1ë“±', '2ë“±', '3ë“±', '4ë“±'])
df1 = pd.DataFrame(val1, index=idx1, columns=col1)
df2 = df1.applymap(lambda x: str(x) + 'ì ').copy()

In [3]:
# Serie.map
# elementwise, return Series

# Series.apply
# For applying more complex functions on "a Series".

# DataFrame.apply
# Apply a function "row-/column-wise".

# DataFrame.applymap
# Apply a function "elementwise" on a whole DataFrame.

In [4]:
# mapping with dictionary
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s.map({'cat': 'kitten', 'dog': 'puppy'})
# mapì˜ ì œ1 argumentëŠ” mapping correspondance, dictionary, function(lambdaí¬í•¨)

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [5]:
# Series mapping with function
s.map('I am a {}'.format)

0       I am a cat
1       I am a dog
2       I am a nan
3    I am a rabbit
dtype: object

In [6]:
s1 = s1.map(lambda x: int(x[:2]))
s1

ì†¡ì¤‘ê¸°    80
ê¹€ë‚˜í˜„    75
ê¶Œë³´ì•„    77
ë°•íš¨ì‹     60
dtype: int64

In [7]:
s.map(lambda x: f"I'm a {x}")

0       I'm a cat
1       I'm a dog
2       I'm a nan
3    I'm a rabbit
dtype: object

In [8]:
# Seriesê°„ì˜ mapping (s2:valueì™€ s3:indexê°„ì— mapping   ğŸ”°)
# leftì˜ valueì™€ rightì˜ indexë¥¼ mapping
s2.map(s3)

ì†¡ì¤‘ê¸°      2ë§Œì›
ê¹€ë‚˜í˜„       ë§Œì›
ê¶Œë³´ì•„      ë§ˆì‹œê¸°
ë°•íš¨ì‹     ì»¤í”¼ì‚¬ì˜¤ê¸°
dtype: object

In [15]:
s2

ì†¡ì¤‘ê¸°    4ë“±
ê¹€ë‚˜í˜„    3ë“±
ê¶Œë³´ì•„    1ë“±
ë°•íš¨ì‹     2ë“±
dtype: object

In [9]:
s3

1ë“±      ë§ˆì‹œê¸°
2ë“±    ì»¤í”¼ì‚¬ì˜¤ê¸°
3ë“±       ë§Œì›
4ë“±      2ë§Œì›
dtype: object

In [10]:
# Series.apply()
s2.apply(lambda x: s3[x])
# ì—¬ê¸°ì„œ leftì˜ seriesë¥¼ ê°–ê³ , í•˜ë‚˜ì”© valueë¥¼ êº¼ë‚´ ì¹˜í™˜í•˜ì—¬ ê°€ê³µëœ leftë¥¼ ë‹¤ì‹œ returní•œë‹¤.

ì†¡ì¤‘ê¸°      2ë§Œì›
ê¹€ë‚˜í˜„       ë§Œì›
ê¶Œë³´ì•„      ë§ˆì‹œê¸°
ë°•íš¨ì‹     ì»¤í”¼ì‚¬ì˜¤ê¸°
dtype: object

In [17]:
df1.apply(lambda x: x+1, axis=1)
#  axis=1, 0 ìƒê´€ì—†ë‹¤

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì†¡ì¤‘ê¸°  83  82  78
ê¹€ë‚˜í˜„  92  96  84
ê¶Œë³´ì•„  79  73  89
ë°•íš¨ì‹   83  88  73

In [12]:
df2.applymap(lambda x : x[:2])
# DataFrameì„ ëŒ€ìƒìœ¼ë¡œ ê°œë³„ìš”ì†Œë¥¼ xë¡œ ìƒì •í•œë‹¤.

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì†¡ì¤‘ê¸°  82  81  77
ê¹€ë‚˜í˜„  91  95  83
ê¶Œë³´ì•„  78  72  88
ë°•íš¨ì‹   82  87  72

In [18]:
df2.apply(lambda x : x[:2], axis=1)
# ë§¤ì „ ê°€ì ¸ì˜¤ëŠ” Seriesê°€ row(axis = 1)ì¸ê°€ column(axis = 0)ì¸ê°€ê°€ ê²°ì •ëœë‹¤.
# ê°€ì ¸ì˜¨ Seriesì—ì„œ íŠ¹ì •ê°’ì„ ì°¸ê³  í•˜ê¸° ìœ„í•´ì„  indexingí•œë‹¤.

      êµ­ì–´   ì˜ì–´
ì†¡ì¤‘ê¸°  82ì   81ì
ê¹€ë‚˜í˜„  91ì   95ì
ê¶Œë³´ì•„  78ì   72ì
ë°•íš¨ì‹   82ì   87ì

In [14]:
df2['êµ­ì–´'].apply(lambda x : x[:2])
# ì´ ê²½ìš°ëŠ” ì²˜ìŒ ë¶€í„° Seriesì´ë©° indexingì€ ì´ë¯¸ rowëª…ìœ¼ë¡œ í•œë‹¤.

ì†¡ì¤‘ê¸°    82
ê¹€ë‚˜í˜„    91
ê¶Œë³´ì•„    78
ë°•íš¨ì‹     82
Name: êµ­ì–´, dtype: object