In [76]:
import numpy as np
import pandas as pd

In [77]:
a1 = ['ì†¡ì¤‘ê¸°', 92, 99, 69, 75]
a2 = ['ê¹€ë‚˜í˜„', 88, 91, 87, 83]
a3 = ['ê¶Œë³´ì•„', 72, 86, 71, 84]
a4 = ['ë°•íš¨ì‹ ', 81, 78, 77, 91]
a5 = ['ê¹€ë²”ìˆ˜', 88, 80, 94, 91]
a6 = ["noon", "mom", "dad", "level", "river"]
a7 = ["ì„œìš¸", "ì„œìš¸", "ëŒ€êµ¬", "ë¶€ì‚°", "ë¶€ì‚°"]
a8 = ["ëŒ€êµ¬", "ì„œìš¸", "ë¶€ì‚°", "ì„œìš¸", "ë¶€ì‚°"]
col1 = ["ì´ë¦„", "êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™", "ê³¼í•™"]
col2 = ["ì„œìš¸", "ëŒ€êµ¬", "ë¶€ì‚°"]

df1 = pd.DataFrame([a1, a2, a3, a4, a5], columns=col1)
df2 = df1.copy()
df3 = df1.copy()
df3["ê³¼í•™"] = df3["ê³¼í•™"].astype(str)
df4 = pd.DataFrame(df1["ì´ë¦„"])
df4["ë‹¨ì–´"] = a6
df5 = pd.DataFrame([[1,5,10], [5,1,5], [10,5,1]], index=col2, columns=col2)*1000
df6 = pd.DataFrame([a7,a8], index=["ë³´ë‚´ëŠ”ê³³", "ë°›ëŠ”ê³³"]).T
df6 = pd.concat([df1["ì´ë¦„"], df6], axis=1)

In [78]:
df3['ê³¼í•™'].astype(int)
# í˜„ë³€í™˜ í•¨ìˆ˜.astype()

0    75
1    83
2    84
3    91
4    91
Name: ê³¼í•™, dtype: int64

In [79]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.dtypes

col1    int64
col2    int64
dtype: object

In [80]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [81]:
df.astype({'col1': 'int32', 'col2':'int64'}).dtypes

col1    int32
col2    int64
dtype: object

In [82]:
df.astype(dtype='Int8').dtypes

col1    Int8
col2    Int8
dtype: object

In [83]:
df.astype('category').dtypes
df

   col1  col2
0     1     3
1     2     4

In [84]:
ser = pd.Series([1, 2], dtype='Int32')
ser

0    1
1    2
dtype: Int32

In [85]:
ser.astype('Int64')

0    1
1    2
dtype: Int64

In [86]:
ser.astype("category")
ser

0    1
1    2
dtype: Int32

In [87]:
from pandas.api.types import CategoricalDtype
cat_type = CategoricalDtype(
    categories=[2, 1], ordered=True
)

ser.astype(cat_type).sort_values()
ser

0    1
1    2
dtype: Int32

In [88]:
ser_date = pd.Series(pd.date_range('20200101', periods=3, tz='CET'))
ser_date

0   2020-01-01 00:00:00+01:00
1   2020-01-02 00:00:00+01:00
2   2020-01-03 00:00:00+01:00
dtype: datetime64[ns, CET]

In [89]:
# í˜„ì§€ ì‹œê°ì„ ì•Œê³  ì‹¶ë‹¤ë©´ tzì„¤ì •
now = pd.Timestamp.now(tz='UTC')
now

Timestamp('2023-07-21 06:50:36.904060+0000', tz='UTC')

In [90]:
# apply(): Apply a function along an axis of the DataFrame.   ğŸ”°ğŸŒ¸ğŸ’¥   

df4['ë‹¨ì–´'].apply(func=len)
# elementwise
# return -> Series

0    4
1    3
2    3
3    5
4    5
Name: ë‹¨ì–´, dtype: int64

In [91]:
# df2 ë°˜ì„ì°¨í‘œ ë§Œë“¤ê¸°

df2 = df2.set_index('ì´ë¦„')
ser1 = pd.Series(df2.apply('mean', axis=1), name='í‰ê· ')   # ğŸ”°
df2 = pd.concat([df2, ser1], axis=1)
df2

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™     í‰ê·
ì´ë¦„
ì†¡ì¤‘ê¸°  92  99  69  75  83.75
ê¹€ë‚˜í˜„  88  91  87  83  87.25
ê¶Œë³´ì•„  72  86  71  84  78.25
ë°•íš¨ì‹   81  78  77  91  81.75
ê¹€ë²”ìˆ˜  88  80  94  91  88.25

In [92]:
df2['í‰ì '] = df2.apply(lambda x: 'A' if x.í‰ê·  > 90 else 'B'\
                       if x.í‰ê·  > 80 else 'C', axis=1)
ttl = len(df2['êµ­ì–´'])
df2['ì„ì°¨'] = df2.í‰ê· .rank(ascending=False)
df2

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™     í‰ê·  í‰ì    ì„ì°¨
ì´ë¦„
ì†¡ì¤‘ê¸°  92  99  69  75  83.75  B  3.0
ê¹€ë‚˜í˜„  88  91  87  83  87.25  B  2.0
ê¶Œë³´ì•„  72  86  71  84  78.25  C  5.0
ë°•íš¨ì‹   81  78  77  91  81.75  B  4.0
ê¹€ë²”ìˆ˜  88  80  94  91  88.25  B  1.0

In [93]:
# df2['ë°˜ì„ì°¨'] = df2.apply(lambda x: f"{int(x.loc['ì„ì°¨'])}/{ttl}", axis=1)
df2['ë°˜ì„ì°¨'] = df2.apply(lambda x: f"{int(x['ì„ì°¨'])}/{ttl}", axis=1)

list_remaining = list(df2.columns)
list_remaining.pop(-2)
df2 = df2[list_remaining]
df2
# print(type(df2.columns)) -> <class 'pandas.core.indexes.base.Index'> listë¡œ ë³€í™˜ì´ í•„ìš”   ğŸ”°
# DataFrame.drop()ì„ ì“°ë©´ ê·¸ columnì„ ì°¸ì¡°í•œ ë‹¤ë¥¸ columnì— ì˜í–¥ì„ ì¤€ë‹¤.

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™     í‰ê·  í‰ì   ë°˜ì„ì°¨
ì´ë¦„
ì†¡ì¤‘ê¸°  92  99  69  75  83.75  B  3/5
ê¹€ë‚˜í˜„  88  91  87  83  87.25  B  2/5
ê¶Œë³´ì•„  72  86  71  84  78.25  C  5/5
ë°•íš¨ì‹   81  78  77  91  81.75  B  4/5
ê¹€ë²”ìˆ˜  88  80  94  91  88.25  B  1/5

In [100]:
ser2 = df2[['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'í‰ê· ']].apply(lambda x : sum(x) / len(x), axis = 0)
ser = pd.DataFrame(ser2)
idx = pd.MultiIndex.from_tuples([('ê°œì¸ë³„ ì„±ì ', 'ì†¡ì¤‘ê¸°'),
            ('ê°œì¸ë³„ ì„±ì ', 'ê¹€ë‚˜í˜„'),
            ('ê°œì¸ë³„ ì„±ì ', 'ê¶Œë³´ì•„'),
            ('ê°œì¸ë³„ ì„±ì ', 'ë°•íš¨ì‹ '),
            ('ê°œì¸ë³„ ì„±ì ', 'ê¹€ë²”ìˆ˜'),
            ('ê³¼ëª©ë³„ í‰ê· ',     '')],
           )
df22 = pd.concat([df2, ser.T], keys = ['ê°œì¸ë³„ ì„±ì ', 'ê³¼ëª©ë³„ í‰ê· '])
df22.index = idx
df22.fillna('')

              êµ­ì–´    ì˜ì–´    ìˆ˜í•™    ê³¼í•™     í‰ê·  í‰ì   ë°˜ì„ì°¨
ê°œì¸ë³„ ì„±ì  ì†¡ì¤‘ê¸°  92.0  99.0  69.0  75.0  83.75  B  3/5
       ê¹€ë‚˜í˜„  88.0  91.0  87.0  83.0  87.25  B  2/5
       ê¶Œë³´ì•„  72.0  86.0  71.0  84.0  78.25  C  5/5
       ë°•íš¨ì‹   81.0  78.0  77.0  91.0  81.75  B  4/5
       ê¹€ë²”ìˆ˜  88.0  80.0  94.0  91.0  88.25  B  1/5
ê³¼ëª©ë³„ í‰ê·       84.2  86.8  79.6  84.8  83.85

In [ ]:
df5

In [ ]:
df6

In [ ]:
# df6['ìš´ì„'] = df6.apply(lambda x : df5.loc[x.ë³´ë‚´ëŠ”ê³³, x.ë°›ëŠ”ê³³], axis=1)
df6['ìš´ì„'] = df6.apply(lambda x : df5.loc[x['ë³´ë‚´ëŠ”ê³³'], x['ë°›ëŠ”ê³³']], axis=1)
df6