In [13]:
# numpy.ufuncì™€ ì§‘ê³„í•¨ìˆ˜(aggregate(), agg())
# https://chat.openai.com/share/00bfdd25-40d9-4261-9a18-0fa117f9d59d
# map, apply, applymap ëª¨ë‘ argumentë¡œ funcì„ ìš”êµ¬í•œë‹¤. 
import numpy as np 
import pandas as pd

In [14]:
idx1 = ["ì†¡ì¤‘ê¸°", "ê¹€ë‚˜í˜„", "ê¶Œë³´ì•„", "ë°•íš¨ì‹ "]
col1 = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
val1 = [[82,81,77], [91,95,83], [78,72,88], [82,87,72]]
val2 = [["H", "T", "T"], ["T", "H", "H"], ["H", "H", "H"], ["T", "T", "T"]]
val3 = [list("HTTHHTHHT"), list("HTTHHTHTH"), list("HTTHTHTTT")]
df1 = pd.DataFrame(val1, index=idx1, columns=col1)
df2 = df1.copy()
df3 = pd.DataFrame(val2, index=idx1, columns=["1íšŒ", "2íšŒ", "3íšŒ"])
df4 = pd.DataFrame(val3, index=idx1[:3])
df4.columns = df4.columns + 1
a1 = list("ABCDEFG")
df = df1.copy()
df.loc["ì´ì§€ì€"] = [81, 83, 91]
df["ì„±ë³„"] = list("ë‚¨ì—¬ì—¬ë‚¨ì—¬")
df["í•™ë…„"] = list("21112")

In [15]:
df

     êµ­ì–´  ì˜ì–´  ìˆ˜í•™ ì„±ë³„ í•™ë…„
ì†¡ì¤‘ê¸°  82  81  77  ë‚¨  2
ê¹€ë‚˜í˜„  91  95  83  ì—¬  1
ê¶Œë³´ì•„  78  72  88  ì—¬  1
ë°•íš¨ì‹   82  87  72  ë‚¨  1
ì´ì§€ì€  81  83  91  ì—¬  2

In [16]:
df.pivot_table(index=['ì„±ë³„'], values=['êµ­ì–´'], columns=['í•™ë…„'], aggfunc='mean' )

      êµ­ì–´
í•™ë…„     1     2
ì„±ë³„
ë‚¨   82.0  82.0
ì—¬   84.5  81.0

In [17]:
df.pivot_table(index=['ì„±ë³„','í•™ë…„'], aggfunc=['mean','median', 'std'] ).fillna('+')

       mean             median                   std
         êµ­ì–´    ìˆ˜í•™    ì˜ì–´     êµ­ì–´    ìˆ˜í•™    ì˜ì–´        êµ­ì–´        ìˆ˜í•™         ì˜ì–´
ì„±ë³„ í•™ë…„
ë‚¨  1   82.0  72.0  87.0   82.0  72.0  87.0         +         +          +
   2   82.0  77.0  81.0   82.0  77.0  81.0         +         +          +
ì—¬  1   84.5  85.5  83.5   84.5  85.5  83.5  9.192388  3.535534  16.263456
   2   81.0  91.0  83.0   81.0  91.0  83.0         +         +          +

In [18]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [19]:
df.agg('sum', axis=0)
# string function name

A    12.0
B    15.0
C    18.0
dtype: float64

In [ ]:
df.transform('sum')
# aggì™€ transformì˜ ê²°ì •ì ì¸ ì°¨ì´   ğŸ”°ğŸŒ¸

In [22]:
df.agg(['sum', 'min'], axis=1)
# list of function and/or function names

    sum  min
0   6.0  1.0
1  15.0  4.0
2  24.0  7.0
3   0.0  NaN

In [23]:
df.agg({'A' : ['sum'], 'B' : ['min']})
# dicionnary
# columnë³„ë¡œ í•¨ìˆ˜ë¥¼ ì§€ì •í•˜ëŠ” ê²ƒì€ dictionaryë¡œ í•˜ê³

        A    B
sum  12.0  NaN
min   NaN  2.0

In [24]:
df.agg(x=('A', 'max'), y=('B', 'min'), z=('C', np.mean))
# df.agg(x=(('A', 'B', 'C'), max))
# columnê³¼ ê·¸ì— ì ìš©ë˜ëŠ” í•¨ìˆ˜ê°€ 1 ëŒ€ 1ë¡œ ì£¼ì–´ì§€ë©°, indexëª…ì„ ë”°ë¡œ ì§€ì •í•œë‹¤.   ğŸ”°

     A    B    C
x  7.0  NaN  NaN
y  NaN  2.0  NaN
z  NaN  NaN  6.0