In [140]:
import numpy as np
import pandas as pd

In [156]:
idx1 = ["ì†¡ì¤‘ê¸°", "ê¹€ë‚˜í˜„", "ë°•íš¨ì‹ "]
a1 = ['2021-01-01', 'ì†¡ì¤‘ê¸°', 10000]
a2 = ['2021-01-01', 'ê¹€ë‚˜í˜„', 2000]
a3 = ['2021-01-02', 'ì†¡ì¤‘ê¸°', 20000]
a4 = ['2021-01-02', 'ê¹€ë‚˜í˜„', 5000]
a5 = ['2021-01-03', 'ê¹€ë‚˜í˜„', -3200]
a6 = ['2021-01-03', 'ì†¡ì¤‘ê¸°', -5700]

df1 = pd.DataFrame([[88,72], [78,93], [91,85]], index=idx1, columns=["êµ­ì–´","ìˆ˜í•™"])
df2 = df1.stack().reset_index()
df2.columns = ["ì´ë¦„", "ê³¼ëª©", "ì ìˆ˜"]
df3 = pd.DataFrame([2,3,4,5], columns = ["number"])
df4 = pd.DataFrame([a1, a2, a3, a4, a5, a6], columns=["ë‚ ì§œ", "ì´ë¦„", "ì…/ì¶œê¸ˆ"])

In [142]:
df1
# index, columnìœ¼ë¡œ groupingëœ pivot tableì´ë‹¤.

     êµ­ì–´  ìˆ˜í•™
ì†¡ì¤‘ê¸°  88  72
ê¹€ë‚˜í˜„  78  93
ë°•íš¨ì‹   91  85

In [143]:
concat_df = pd.concat([df1, df1.rank(ascending=False)], axis=1)
# concat_df[['êµ­ì–´', 'êµ­ì–´ìˆœìœ„', 'ìˆ˜í•™', 'ìˆ˜í•™ìˆœìœ„']]
concat_df.columns=['êµ­ì–´', 'ìˆ˜í•™', 'êµ­ì–´ìˆœìœ„', 'ìˆ˜í•™ìˆœìœ„']
concat_df[['êµ­ì–´', 'êµ­ì–´ìˆœìœ„', 'ìˆ˜í•™', 'ìˆ˜í•™ìˆœìœ„']]

     êµ­ì–´  êµ­ì–´ìˆœìœ„  ìˆ˜í•™  ìˆ˜í•™ìˆœìœ„
ì†¡ì¤‘ê¸°  88   2.0  72   3.0
ê¹€ë‚˜í˜„  78   3.0  93   1.0
ë°•íš¨ì‹   91   1.0  85   2.0

In [144]:
# stack(): index, column ê³µíˆ groupingí•˜ê¸°ìœ„í•œ ë¶„ë¥˜ ê¸°ì¤€ì´ë‹¤.
# stackì´ í•˜ëŠ” ì—­í• ì€ columnì„ indexë¡œ ëª°ì•„ ì£¼ê³ , ì´ë¡œ ì¸í•´ MultiIndexë¥¼ ìƒì„±í•œë‹¤.
ser = df1.stack()

ser.name='ì ìˆ˜'
ser.to_frame()

        ì ìˆ˜
ì†¡ì¤‘ê¸° êµ­ì–´  88
    ìˆ˜í•™  72
ê¹€ë‚˜í˜„ êµ­ì–´  78
    ìˆ˜í•™  93
ë°•íš¨ì‹  êµ­ì–´  91
    ìˆ˜í•™  85

In [147]:
def unpivot(df,*arg):
    df1= pd.DataFrame(df.stack().reset_index())
    df1.columns =list(arg)
    return df1
# í•¨ìˆ˜ê°€ returnì„ í•˜ì§€ ì•Šìœ¼ë©´ NoneType object(ë‚´ìš©ë¬¼ì´ ì—†ëŠ” object)ê°€ ëœë‹¤.
# DataFrameì •ì˜ì— columns=[...]í•­ëª©ì„ ë„£ìœ¼ë©´, ì›í•˜ëŠ” ëŒ€ë¡œ ì¶œë ¥ë˜ì§€ ì•ŠëŠ”ë‹¤. ì´ìœ ëŠ” ëª¨ë¥¸ë‹¤.   ğŸ’¢ 

upv_df = unpivot(df1, 'ì´ë¦„', 'ê³¼ëª©', 'ì ìˆ˜')
upv_df['ê³¼ëª©ë³„ ë“±ìˆ˜'] = upv_df.groupby('ê³¼ëª©')['ì ìˆ˜'].rank(ascending=False)
upv_df

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜  ê³¼ëª©ë³„ ë“±ìˆ˜
0  ì†¡ì¤‘ê¸°  êµ­ì–´  88     2.0
1  ì†¡ì¤‘ê¸°  ìˆ˜í•™  72     3.0
2  ê¹€ë‚˜í˜„  êµ­ì–´  78     3.0
3  ê¹€ë‚˜í˜„  ìˆ˜í•™  93     1.0
4  ë°•íš¨ì‹   êµ­ì–´  91     1.0
5  ë°•íš¨ì‹   ìˆ˜í•™  85     2.0

In [157]:
df4

           ë‚ ì§œ   ì´ë¦„   ì…/ì¶œê¸ˆ
0  2021-01-01  ì†¡ì¤‘ê¸°  10000
1  2021-01-01  ê¹€ë‚˜í˜„   2000
2  2021-01-02  ì†¡ì¤‘ê¸°  20000
3  2021-01-02  ê¹€ë‚˜í˜„   5000
4  2021-01-03  ê¹€ë‚˜í˜„  -3200
5  2021-01-03  ì†¡ì¤‘ê¸°  -5700

In [161]:
df4['ì¼ë³„ì”ê³ '] = df4.groupby(by=['ì´ë¦„'])['ì…/ì¶œê¸ˆ'].cumsum()
# groupbyë¡œ groupingë˜ì–´, groupë³„ë¡œ ì—°ì‚°í•œë‹¤. 
df4.sort_values(['ë‚ ì§œ', 'ì´ë¦„'])

           ë‚ ì§œ   ì´ë¦„   ì…/ì¶œê¸ˆ   ì¼ë³„ì”ê³
1  2021-01-01  ê¹€ë‚˜í˜„   2000   2000
0  2021-01-01  ì†¡ì¤‘ê¸°  10000  10000
3  2021-01-02  ê¹€ë‚˜í˜„   5000   7000
2  2021-01-02  ì†¡ì¤‘ê¸°  20000  30000
4  2021-01-03  ê¹€ë‚˜í˜„  -3200   3800
5  2021-01-03  ì†¡ì¤‘ê¸°  -5700  24300