In [1]:
import numpy as np
import pandas as pd

In [2]:
a1 = ['2008-07-23', 'ì†¡ì¤‘ê¸°', 88]
a2 = ['2008-09-21', 'ê¹€ë‚˜í˜„', 72]
a3 = ['2008-05-06', 'ë°•íš¨ì‹ ', 78]
a4 = ['2008-03-05', 'ì†¡ì¤‘ê¸°', 93]
a5 = ['2008-08-13', 'ê¹€ë‚˜í˜„', 91]
a6 = ['2008-12-24', 'ì†¡ì¤‘ê¸°', 85]

df = pd.DataFrame([a1, a2, a3, a4, a5, a6], columns=["ìƒì¼", "ì´ë¦„", "ì ìˆ˜"])
df["ìƒì¼"] = pd.to_datetime(df["ìƒì¼"])

In [3]:
df

          ìƒì¼   ì´ë¦„  ì ìˆ˜
0 2008-07-23  ì†¡ì¤‘ê¸°  88
1 2008-09-21  ê¹€ë‚˜í˜„  72
2 2008-05-06  ë°•íš¨ì‹   78
3 2008-03-05  ì†¡ì¤‘ê¸°  93
4 2008-08-13  ê¹€ë‚˜í˜„  91
5 2008-12-24  ì†¡ì¤‘ê¸°  85

In [4]:
df['rank'] = df.groupby('ì´ë¦„')['ìƒì¼'].rank()
df.sort_values(['ì´ë¦„', 'ìƒì¼'])

          ìƒì¼   ì´ë¦„  ì ìˆ˜  rank
4 2008-08-13  ê¹€ë‚˜í˜„  91   1.0
1 2008-09-21  ê¹€ë‚˜í˜„  72   2.0
2 2008-05-06  ë°•íš¨ì‹   78   1.0
3 2008-03-05  ì†¡ì¤‘ê¸°  93   1.0
0 2008-07-23  ì†¡ì¤‘ê¸°  88   2.0
5 2008-12-24  ì†¡ì¤‘ê¸°  85   3.0

In [5]:
cond = df['ì´ë¦„'].duplicated(keep=False)
df['ì‹ë³„'] = df['ì´ë¦„'].mask(cond, df['ì´ë¦„'] + df['rank'].astype('int').astype('str'))
# mask()ëŠ” df['ì´ë¦„'] ì— conditionì´ ê±¸ë¦¬ê³ , Trueì— í•´ë‹¹í•˜ëŠ” entryë¥¼ otherë¥¼ maskingí•œë‹¤.
# masking ëŒ€ìƒì€ ë³„ë„ì˜ ì§€ì •ì´ ì—†ëŠ” ê²½ìš°ëŠ” ì´ë¦„ columnì´ ë˜ê³ , ìœ„ì™€ ê°™ì´ ë³„ë„ì˜ columnì„ ì§€ì •í•˜ëŠ” ê²ƒë„ ê°€ëŠ¥í•˜ë‹¤. 
df[['ì‹ë³„','ìƒì¼', 'ì ìˆ˜']].sort_values(['ì‹ë³„', 'ìƒì¼'])

     ì‹ë³„         ìƒì¼  ì ìˆ˜
4  ê¹€ë‚˜í˜„1 2008-08-13  91
1  ê¹€ë‚˜í˜„2 2008-09-21  72
2   ë°•íš¨ì‹  2008-05-06  78
3  ì†¡ì¤‘ê¸°1 2008-03-05  93
0  ì†¡ì¤‘ê¸°2 2008-07-23  88
5  ì†¡ì¤‘ê¸°3 2008-12-24  85

In [7]:
import pandas as pd

# ìƒ˜í”Œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella'],
    'Age': [25, 30, 22, 28, 35],
    'Score': [85, 90, 78, 92, 88]
}

df = pd.DataFrame(data)

# 'Score' ì—´ì—ì„œ 85ë³´ë‹¤ ì‘ì€ ê°’ì„ NaNìœ¼ë¡œ ëŒ€ì²´
masked_df = df.mask(df['Score'] < 85, other=float('nan'))
# masked_df = df.mask(df['Score'] < 85, other=pd.NA, axis=0)

print("Original DataFrame:")
print(df)

print("\nMasked DataFrame:")
print(masked_df)

# ìœ„ ì˜ˆì‹œì—ì„œ ë³´ìë©´ mask()ëŠ” ì›ë³¸ì„ ì¹˜í™˜í•˜ì§€ ì•ŠëŠ”ë‹¤ë©´, 
# ì›ë³¸ DataFrameì˜ data, êµ¬ì¡°ë¥¼ ì†ëŒ€ì§€ ì•Šê³ , ê°€ìƒìƒí™©ì„ conditionìœ¼ë¡œ êµ¬í˜„í•œë‹¤.  ğŸ”°ğŸ’¢

Original DataFrame:
      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   22     78
3    David   28     92
4     Ella   35     88

Masked DataFrame:
    Name   Age  Score
0  Alice  25.0   85.0
1    Bob  30.0   90.0
2    NaN   NaN    NaN
3  David  28.0   92.0
4   Ella  35.0   88.0