In [143]:
import numpy as np
import pandas as pd

In [144]:
pd.options.display.float_format = '{:.2f}'.format
a1 = ['ì†¡ì¤‘ê¸°', 'êµ­ì–´', 89]
a2 = ['ê¹€ë‚˜í˜„', 'ì˜ì–´', 42]
a3 = ['ë°•íš¨ì‹ ', 'êµ­ì–´', 78]
a4 = ['ê¹€ë²”ìˆ˜', 'ì˜ì–´', 61]
a5 = ['ê¶Œë³´ì•„', 'êµ­ì–´', 91]
a6 = ['í•œë™ê·¼', 'ì˜ì–´', 38]

df1 = pd.DataFrame([a1, a2, a3, a4, a5, a6], columns=["ì´ë¦„", "ê³¼ëª©", "ì ìˆ˜"])
df2 = df1.copy()
df3 = df1.copy()
s1 = pd.DataFrame([1, 2, 3, 4, 5, 6], columns=["s1"])

In [145]:
df1

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜
0  ì†¡ì¤‘ê¸°  êµ­ì–´  89
1  ê¹€ë‚˜í˜„  ì˜ì–´  42
2  ë°•íš¨ì‹   êµ­ì–´  78
3  ê¹€ë²”ìˆ˜  ì˜ì–´  61
4  ê¶Œë³´ì•„  êµ­ì–´  91
5  í•œë™ê·¼  ì˜ì–´  38

In [146]:
df1.groupby('ê³¼ëª©')['ì ìˆ˜'].agg('mean')

ê³¼ëª©
êµ­ì–´   86.00
ì˜ì–´   47.00
Name: ì ìˆ˜, dtype: float64

In [147]:
df1['ê³¼ëª©í‰ê· '] = df1.groupby('ê³¼ëª©')['ì ìˆ˜'].transform('mean')
df1

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜  ê³¼ëª©í‰ê·
0  ì†¡ì¤‘ê¸°  êµ­ì–´  89 86.00
1  ê¹€ë‚˜í˜„  ì˜ì–´  42 47.00
2  ë°•íš¨ì‹   êµ­ì–´  78 86.00
3  ê¹€ë²”ìˆ˜  ì˜ì–´  61 47.00
4  ê¶Œë³´ì•„  êµ­ì–´  91 86.00
5  í•œë™ê·¼  ì˜ì–´  38 47.00

In [148]:
df1[df1['ì ìˆ˜'] > df1['ê³¼ëª©í‰ê· ']]

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜  ê³¼ëª©í‰ê·
0  ì†¡ì¤‘ê¸°  êµ­ì–´  89 86.00
3  ê¹€ë²”ìˆ˜  ì˜ì–´  61 47.00
4  ê¶Œë³´ì•„  êµ­ì–´  91 86.00

In [149]:
df3['ì ìˆ˜'].transform(lambda x : x )
# ì—¬ê¸°ì„œ ì•Œ ìˆ˜ ìˆëŠ” ê²ƒì€ xê°€ ì ìˆ˜ë¼ëŠ” ì‚¬ì‹¤
# file:///C:/Users/Public/Documents/PANDAS_Document/reference/api/pandas.Series.transform.html

0    89
1    42
2    78
3    61
4    91
5    38
Name: ì ìˆ˜, dtype: int64

In [150]:
df3.groupby('ê³¼ëª©')['ì ìˆ˜'].transform(lambda x : x.mean())
# ì—¬ê¸°ì„œ ì•Œ ìˆ˜ ìˆëŠ” ê²ƒì€ groupingë˜ì–´ ìˆë‹¤ë©´ "í•¨ìˆ˜"ë¥¼ ê° rowì˜ ê°í•­(column)ì— ì ìš©í•  ìˆ˜ ìˆë‹¤.
# groupingë˜ì–´ ìˆì§€ ì•Šìœ¼ë©´ aggí•¨ìˆ˜ëŠ” ì“¸ ìˆ˜ ì—†ë‹¤.(ì´ìƒí•˜ì§€ ğŸ’¥)

0   86.00
1   47.00
2   86.00
3   47.00
4   86.00
5   47.00
Name: ì ìˆ˜, dtype: float64

In [153]:
df3.groupby('ê³¼ëª©')['ì ìˆ˜'].transform(lambda x : x > x.mean())

0     True
1    False
2    False
3     True
4     True
5    False
Name: ì ìˆ˜, dtype: bool

In [151]:
df3[df3.groupby('ê³¼ëª©')['ì ìˆ˜'].transform(lambda x : x > x.mean())]

    ì´ë¦„  ê³¼ëª©  ì ìˆ˜
0  ì†¡ì¤‘ê¸°  êµ­ì–´  89
3  ê¹€ë²”ìˆ˜  ì˜ì–´  61
4  ê¶Œë³´ì•„  êµ­ì–´  91

In [152]:
df3.groupby('ê³¼ëª©')['ì ìˆ˜'].transform('mean')
# groupingë˜ì–´ ìˆìœ¼ë‹ˆ  groupë³„ë¡œ í•¨ìˆ˜ë¥¼ ì ìš©í•˜ëŠ”(x.mean())

0   86.00
1   47.00
2   86.00
3   47.00
4   86.00
5   47.00
Name: ì ìˆ˜, dtype: float64