In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.DataFrame([[8, 8, 2, 1, 0, 0], 
                  [7, 5, 9, 5, 7, 3], 
                  [3, 8, 1, 6, 3, 4], 
                  [7, 6, 8, 6, 4, 6], 
                  [1, 3, 0, 9, 2, 7], 
                  [3, 0, 2, 8, 2, 7]], index = range(1,7))
df.columns = pd.RangeIndex(1, 7)
df.columns = df.columns.map(lambda x : str(x) + 'ì¼ì°¨')
# Pandasì—ì„œì˜ df.Index.map(), df.Series.map()ëŠ” 
# python built in funcì˜ mapê³¼ëŠ” argumentì ìš©ì´ ì°¨ì´ ë‚œë‹¤(list(map(func|dict, iterable1, iterable2))).   ğŸ”°ğŸ”°
# https://chat.openai.com/share/a908f721-0722-4aa9-b5ce-d38e00391fbf

df

   1ì¼ì°¨  2ì¼ì°¨  3ì¼ì°¨  4ì¼ì°¨  5ì¼ì°¨  6ì¼ì°¨
1    8    8    2    1    0    0
2    7    5    9    5    7    3
3    3    8    1    6    3    4
4    7    6    8    6    4    6
5    1    3    0    9    2    7
6    3    0    2    8    2    7

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 1 to 6
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1ì¼ì°¨     6 non-null      int64
 1   2ì¼ì°¨     6 non-null      int64
 2   3ì¼ì°¨     6 non-null      int64
 3   4ì¼ì°¨     6 non-null      int64
 4   5ì¼ì°¨     6 non-null      int64
 5   6ì¼ì°¨     6 non-null      int64
dtypes: int64(6)
memory usage: 420.0 bytes

In [41]:
df.apply(lambda x: x.name  , axis=1)
# Seriesê°€ columnì˜ indexë¥¼ ê°–ëŠ” ë‹¤ë©´ axis=1
# ì´ ë•Œ ì´ Seriesì˜ rowì— ëŒ€í•œ ì •ë³´ëŠ” x.name
# Seriesê°€ rowì˜ indexë¥¼ ê°–ëŠ” ë‹¤ë©´ axis=0
# ì´ ë•Œ ì´ Seriesì˜ columnsì— ëŒ€í•œ ì •ë³´ëŠ” x.name
# í•´ë‹¹ Seriesì˜ íŠ¹ì •indexì˜ ê°’ì„ ì°¸ì¡°í•˜ëŠ” ë°©ë²•ì€ x[index]   ğŸ”°ğŸŒ¸indexing

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [45]:
df['ë‹¹ì²¨'] = df.apply(lambda x: x[str(x.name)+'ì¼ì°¨']  , axis=1)
df

   1ì¼ì°¨  2ì¼ì°¨  3ì¼ì°¨  4ì¼ì°¨  5ì¼ì°¨  6ì¼ì°¨  ë‹¹ì²¨
1    8    8    2    1    0    0   8
2    7    5    9    5    7    3   5
3    3    8    1    6    3    4   1
4    7    6    8    6    4    6   6
5    1    3    0    9    2    7   2
6    3    0    2    8    2    7   7

In [46]:
df['ë‹¹ì²¨'] = df.apply(lambda x: x.1ì¼ì°¨  , axis=1)

SyntaxError: invalid decimal literal (2065718284.py, line 1)

In [54]:
test_df = pd.DataFrame({'1í•˜ë‚˜': [1, 2, 3, 4], 'ë‘˜': [3, 4, 2, 1], 'ì…‹': [1, 2, 3, 4],}, index = list('ABCD'))
test_df

   1í•˜ë‚˜  ë‘˜  ì…‹
A    1  3  1
B    2  4  2
C    3  2  3
D    4  1  4

In [55]:
test_df['ë„·'] = test_df.apply(lambda x : x.1í•˜ë‚˜, axis=1)
test_df
# lambdaì•ˆì—ì„œ seriesì—ì„œ indexí•  ë•Œ x.indexë¥¼ ì“¸ ìˆ˜ ìˆë‹¤.
# í•˜ì§€ë§Œ ìˆ«ìê°€ ì•ì— ë‚˜ì˜¤ëŠ” indexëŠ” ì“¸ ìˆ˜ ì—†ë‹¤.   ğŸ”°ğŸŒ¸

SyntaxError: invalid decimal literal (114853211.py, line 1)