In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.DataFrame([[8, 8, 2, 1, 0, 0], 
                  [7, 5, 9, 5, 7, 3], 
                  [3, 8, 1, 6, 3, 4], 
                  [7, 6, 8, 6, 4, 6], 
                  [1, 3, 0, 9, 2, 7], 
                  [3, 0, 2, 8, 2, 7]], index = range(1,7))
df.columns = pd.RangeIndex(1, 7)
df.columns = df.columns.map(lambda x : str(x) + '일차')
# Pandas에서의 df.Index.map(), df.Series.map()는 
# python built in func의 map과는 argument적용이 차이 난다(list(map(func|dict, iterable1, iterable2))).   🔰🔰
# https://chat.openai.com/share/a908f721-0722-4aa9-b5ce-d38e00391fbf

df

   1일차  2일차  3일차  4일차  5일차  6일차
1    8    8    2    1    0    0
2    7    5    9    5    7    3
3    3    8    1    6    3    4
4    7    6    8    6    4    6
5    1    3    0    9    2    7
6    3    0    2    8    2    7

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 1 to 6
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1일차     6 non-null      int64
 1   2일차     6 non-null      int64
 2   3일차     6 non-null      int64
 3   4일차     6 non-null      int64
 4   5일차     6 non-null      int64
 5   6일차     6 non-null      int64
dtypes: int64(6)
memory usage: 420.0 bytes

In [41]:
df.apply(lambda x: x.name  , axis=1)
# Series가 column의 index를 갖는 다면 axis=1
# 이 때 이 Series의 row에 대한 정보는 x.name
# Series가 row의 index를 갖는 다면 axis=0
# 이 때 이 Series의 columns에 대한 정보는 x.name
# 해당 Series의 특정index의 값을 참조하는 방법은 x[index]   🔰🌸indexing

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [45]:
df['당첨'] = df.apply(lambda x: x[str(x.name)+'일차']  , axis=1)
df

   1일차  2일차  3일차  4일차  5일차  6일차  당첨
1    8    8    2    1    0    0   8
2    7    5    9    5    7    3   5
3    3    8    1    6    3    4   1
4    7    6    8    6    4    6   6
5    1    3    0    9    2    7   2
6    3    0    2    8    2    7   7

In [46]:
df['당첨'] = df.apply(lambda x: x.1일차  , axis=1)

SyntaxError: invalid decimal literal (2065718284.py, line 1)

In [54]:
test_df = pd.DataFrame({'1하나': [1, 2, 3, 4], '둘': [3, 4, 2, 1], '셋': [1, 2, 3, 4],}, index = list('ABCD'))
test_df

   1하나  둘  셋
A    1  3  1
B    2  4  2
C    3  2  3
D    4  1  4

In [55]:
test_df['넷'] = test_df.apply(lambda x : x.1하나, axis=1)
test_df
# lambda안에서 series에서 index할 때 x.index를 쓸 수 있다.
# 하지만 숫자가 앞에 나오는 index는 쓸 수 없다.   🔰🌸

SyntaxError: invalid decimal literal (114853211.py, line 1)