In [2]:
# apply에 의한 Loop처리   🌸🌸🌸
import numpy as np 
import pandas as pd

In [3]:
df5 = pd.DataFrame([['7.9', '6.8', '8.2'], ['6.5', '8.3', '재응시'], ['9.2', '8.7', '실격'], ['9.5', '7.9', '9.3']],\
                   index=['송중기', '김나현', '권보아', '박효신'], columns=list('ABC'))
df5

       A    B    C
송중기  7.9  6.8  8.2
김나현  6.5  8.3  재응시
권보아  9.2  8.7   실격
박효신  9.5  7.9  9.3

In [10]:
df5['A'].astype('int')
# string을 숫자로 변환하는 방법은 float(), eval()이 쓰인다. int()는 '3.14' 같은 string에는 쓸 수 없다.   🔰💢

ValueError: invalid literal for int() with base 10: '7.9'

In [4]:
print(float(df5.iloc[0,0]))
print(eval(df5.iloc[0,0]))
print(int(float(df5.iloc[0,0])))
# float(), eval(): string -> number
# 굳이 쓰려면 int(float(...))의 형태가 되어야 한다.

7.9
7.9

In [12]:
# astype: Series, DaraFrame
df5.astype('int32', errors = 'ignore').info()

# A, B, c 모두 object type(string)을 갖는 것으로 나온다. 
# errors="ignore"로 설정되어, error가 발생해서, 아무것도 변환하지 않았다는 의미

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 송중기 to 박효신
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

In [13]:
df5.astype({'A': 'float', 'B':'float', 'C': 'int32'}, errors='ignore').info()
# argument에 dictionary를 적용하는 것을 mapping이라 부르네!!
# 이경우 columnwise변환이 성립되어 A, B는float, C는 error발생으로 object   🔰
# lambda를 사용, float를 int로 형변환하기 -> int():버림, round():4사5입   🔰

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 송중기 to 박효신
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      object
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes

In [23]:
# df5[:,:2]
df5.iloc[:,:2].apply(lambda x : pd.to_numeric(x), axis=0).applymap(lambda x : round(x))
# df5.iloc[:,:2].applymap(lambda x : round(float(x)))
# to_numeric()은 행, 열단위 처리가 가능하고,
# round(), int(), float(), eval() 같은 함수는 행, 열단위로 data 처리가 불가하여, apply()에 적용할 수 없다.   🔰🔰🔰
# 일반적을 argument로 'axis= '를 갖는 함수가 행, 열단위 data처리가 가능하다고 본다.
# 그 외 함수는 API문서를 참조하라고 chatGPT가 그러네.

      A  B
송중기   8  7
김나현   6  8
권보아   9  9
박효신  10  8

In [16]:
# df5.iloc[:,:2].apply(lambda x : x.astype('float'), axis=1)
df5.iloc[:,:2].astype('float')

# axis = 1에 따라 개별 row가 x로 주어지며, 이를 apply에 의해 loop처리된다.   🔰🌸

       A    B
송중기  7.9  6.8
김나현  6.5  8.3
권보아  9.2  8.7
박효신  9.5  7.9

In [ ]:
s = pd.Series(['1.0', '2', -3])
pd.to_numeric(s, downcast='float')
# to_numeric()은 series에서만 가능하다.
# downcast로 type지정이 가능하고, , 가장 memory 소비가 적은 type으로 변환된다.

In [ ]:
pd.to_numeric(s)

In [ ]:
pd.to_numeric(s, downcast='float', errors='coerce')
# Series는 요소의 Dtype이 동일해야만 한다.
# astype에는 없는 기능으로 string을 만나면 강제적으로 np.nan으로 변환한다.

In [ ]:
# DatetimeIndex -> Series, DataFrme으로 현변환   🔰🔰
s_date = pd.date_range('20020101', periods=3)
s_date
s_date1 = pd.Series(pd.date_range('20020101', periods=3), name='one')
s_date2 = pd.DataFrame(pd.date_range('20020101', periods=3), columns=['one'])
print(s_date1)
print(s_date2)