In [2]:
# applyì— ì˜í•œ Loopì²˜ë¦¬   ğŸŒ¸ğŸŒ¸ğŸŒ¸
import numpy as np 
import pandas as pd

In [3]:
df5 = pd.DataFrame([['7.9', '6.8', '8.2'], ['6.5', '8.3', 'ì¬ì‘ì‹œ'], ['9.2', '8.7', 'ì‹¤ê²©'], ['9.5', '7.9', '9.3']],\
                   index=['ì†¡ì¤‘ê¸°', 'ê¹€ë‚˜í˜„', 'ê¶Œë³´ì•„', 'ë°•íš¨ì‹ '], columns=list('ABC'))
df5

       A    B    C
ì†¡ì¤‘ê¸°  7.9  6.8  8.2
ê¹€ë‚˜í˜„  6.5  8.3  ì¬ì‘ì‹œ
ê¶Œë³´ì•„  9.2  8.7   ì‹¤ê²©
ë°•íš¨ì‹   9.5  7.9  9.3

In [10]:
df5['A'].astype('int')
# stringì„ ìˆ«ìë¡œ ë³€í™˜í•˜ëŠ” ë°©ë²•ì€ float(), eval()ì´ ì“°ì¸ë‹¤. int()ëŠ” '3.14' ê°™ì€ stringì—ëŠ” ì“¸ ìˆ˜ ì—†ë‹¤.   ğŸ”°ğŸ’¢

ValueError: invalid literal for int() with base 10: '7.9'

In [4]:
print(float(df5.iloc[0,0]))
print(eval(df5.iloc[0,0]))
print(int(float(df5.iloc[0,0])))
# float(), eval(): string -> number
# êµ³ì´ ì“°ë ¤ë©´ int(float(...))ì˜ í˜•íƒœê°€ ë˜ì–´ì•¼ í•œë‹¤.

7.9
7.9

In [12]:
# astype: Series, DaraFrame
df5.astype('int32', errors = 'ignore').info()

# A, B, c ëª¨ë‘ object type(string)ì„ ê°–ëŠ” ê²ƒìœ¼ë¡œ ë‚˜ì˜¨ë‹¤. 
# errors="ignore"ë¡œ ì„¤ì •ë˜ì–´, errorê°€ ë°œìƒí•´ì„œ, ì•„ë¬´ê²ƒë„ ë³€í™˜í•˜ì§€ ì•Šì•˜ë‹¤ëŠ” ì˜ë¯¸

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ì†¡ì¤‘ê¸° to ë°•íš¨ì‹
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

In [13]:
df5.astype({'A': 'float', 'B':'float', 'C': 'int32'}, errors='ignore').info()
# argumentì— dictionaryë¥¼ ì ìš©í•˜ëŠ” ê²ƒì„ mappingì´ë¼ ë¶€ë¥´ë„¤!!
# ì´ê²½ìš° columnwiseë³€í™˜ì´ ì„±ë¦½ë˜ì–´ A, BëŠ”float, CëŠ” errorë°œìƒìœ¼ë¡œ object   ğŸ”°
# lambdaë¥¼ ì‚¬ìš©, floatë¥¼ intë¡œ í˜•ë³€í™˜í•˜ê¸° -> int():ë²„ë¦¼, round():4ì‚¬5ì…   ğŸ”°

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ì†¡ì¤‘ê¸° to ë°•íš¨ì‹
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      object
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes

In [23]:
# df5[:,:2]
df5.iloc[:,:2].apply(lambda x : pd.to_numeric(x), axis=0).applymap(lambda x : round(x))
# df5.iloc[:,:2].applymap(lambda x : round(float(x)))
# to_numeric()ì€ í–‰, ì—´ë‹¨ìœ„ ì²˜ë¦¬ê°€ ê°€ëŠ¥í•˜ê³ ,
# round(), int(), float(), eval() ê°™ì€ í•¨ìˆ˜ëŠ” í–‰, ì—´ë‹¨ìœ„ë¡œ data ì²˜ë¦¬ê°€ ë¶ˆê°€í•˜ì—¬, apply()ì— ì ìš©í•  ìˆ˜ ì—†ë‹¤.   ğŸ”°ğŸ”°ğŸ”°
# ì¼ë°˜ì ì„ argumentë¡œ 'axis= 'ë¥¼ ê°–ëŠ” í•¨ìˆ˜ê°€ í–‰, ì—´ë‹¨ìœ„ dataì²˜ë¦¬ê°€ ê°€ëŠ¥í•˜ë‹¤ê³  ë³¸ë‹¤.
# ê·¸ ì™¸ í•¨ìˆ˜ëŠ” APIë¬¸ì„œë¥¼ ì°¸ì¡°í•˜ë¼ê³  chatGPTê°€ ê·¸ëŸ¬ë„¤.

      A  B
ì†¡ì¤‘ê¸°   8  7
ê¹€ë‚˜í˜„   6  8
ê¶Œë³´ì•„   9  9
ë°•íš¨ì‹   10  8

In [16]:
# df5.iloc[:,:2].apply(lambda x : x.astype('float'), axis=1)
df5.iloc[:,:2].astype('float')

# axis = 1ì— ë”°ë¼ ê°œë³„ rowê°€ xë¡œ ì£¼ì–´ì§€ë©°, ì´ë¥¼ applyì— ì˜í•´ loopì²˜ë¦¬ëœë‹¤.   ğŸ”°ğŸŒ¸

       A    B
ì†¡ì¤‘ê¸°  7.9  6.8
ê¹€ë‚˜í˜„  6.5  8.3
ê¶Œë³´ì•„  9.2  8.7
ë°•íš¨ì‹   9.5  7.9

In [ ]:
s = pd.Series(['1.0', '2', -3])
pd.to_numeric(s, downcast='float')
# to_numeric()ì€ seriesì—ì„œë§Œ ê°€ëŠ¥í•˜ë‹¤.
# downcastë¡œ typeì§€ì •ì´ ê°€ëŠ¥í•˜ê³ , , ê°€ì¥ memory ì†Œë¹„ê°€ ì ì€ typeìœ¼ë¡œ ë³€í™˜ëœë‹¤.

In [ ]:
pd.to_numeric(s)

In [ ]:
pd.to_numeric(s, downcast='float', errors='coerce')
# SeriesëŠ” ìš”ì†Œì˜ Dtypeì´ ë™ì¼í•´ì•¼ë§Œ í•œë‹¤.
# astypeì—ëŠ” ì—†ëŠ” ê¸°ëŠ¥ìœ¼ë¡œ stringì„ ë§Œë‚˜ë©´ ê°•ì œì ìœ¼ë¡œ np.nanìœ¼ë¡œ ë³€í™˜í•œë‹¤.

In [ ]:
# DatetimeIndex -> Series, DataFrmeìœ¼ë¡œ í˜„ë³€í™˜   ğŸ”°ğŸ”°
s_date = pd.date_range('20020101', periods=3)
s_date
s_date1 = pd.Series(pd.date_range('20020101', periods=3), name='one')
s_date2 = pd.DataFrame(pd.date_range('20020101', periods=3), columns=['one'])
print(s_date1)
print(s_date2)