In [1]:
import numpy as np
import pandas as pd

In [3]:
# 03 BroadCasting
# BroadCasting
a1 = [[1, 2 ,3], [4, 5, 6], [7, 8, 9]]
df1 = pd.DataFrame(a1, columns=list('ABC'), index=list('가나다'))
sr1 = df1.loc['가']

In [4]:
df1.add(sr1, axis=1)

   A   B   C
가  2   4   6
나  5   7   9
다  8  10  12

In [5]:
# 04 Boolean Indexing
# Conditonals
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [7]:
df.isin([0, 2])
# DataFrame에 대한 conditional은 DataFrame을 return한다.
# list인 경우 index가 없어, 
# 각 항의 value 에대하여 (0 or 2)를 판별한다.   🔰

        num_legs  num_wings
falcon      True       True
dog        False       True

In [8]:
# Dictionary인 경우, column에 대한 index를 갖고 있음으로
# 해당 column의 각 항의 value에 대하여 판별   🔰 
df.isin({'num_wings': [0, 3]})

        num_legs  num_wings
falcon     False      False
dog        False       True

In [10]:
# Series이거나 DataFrame인 경우, Index가 동일한 경우에 한하여 value를 판별한다.
other = pd.DataFrame({'num_legs': [8, 3], 'num_wings': [0, 2]},
                     index=['spider', 'falcon'])
other

        num_legs  num_wings
spider         8          0
falcon         3          2

In [11]:
df.isin(other)

        num_legs  num_wings
falcon     False       True
dog        False      False

In [12]:
df = pd.DataFrame({'cost': [250, 150, 100],
                   'revenue': [100, 250, 300]},
                  index=['A', 'B', 'C'])
df

   cost  revenue
A   250      100
B   150      250
C   100      300

In [13]:
df.eq([250, 250, 100], axis='index')

    cost  revenue
A   True    False
B  False     True
C   True    False

In [14]:
other = pd.DataFrame({'revenue': [300, 250, 100, 150]},
                     index=['A', 'B', 'C', 'D'])
other

   revenue
A      300
B      250
C      100
D      150

In [15]:
df.gt(other)

    cost  revenue
A  False    False
B  False    False
C  False     True
D  False    False

In [ ]:
https://www.kaggle.com/code/dansbecker/basic-data-exploration?scriptVersionId=126670606&cellId=4