In [1]:
import pandas as pd
import numpy as np

PyArrowëŠ” Apache Arrowì˜ Python ë°”ì¸ë”©ìœ¼ë¡œ, ëŒ€ëŸ‰ì˜ ë°ì´í„°ë¥¼ íš¨ìœ¨ì ì´ê³  ê³ ì†ìœ¼ë¡œ ì²˜ë¦¬í•˜ê¸° ìœ„í•œ ë„êµ¬ì…ë‹ˆë‹¤. PyArrowëŠ” ë©”ëª¨ë¦¬ ë‚´ ë°ì´í„° êµ¬ì¡°ì™€ ì´ë¥¼ ë””ìŠ¤í¬ì— ì €ì¥í•˜ëŠ” ë°©ë²•ì„ ì œê³µí•˜ë©°, ë‹¤ì–‘í•œ ë°ì´í„° ìœ í˜•ì„ ì²˜ë¦¬í•˜ê³  ë‹¤ë¥¸ ì‹œìŠ¤í…œê³¼ì˜ ìƒí˜¸ ìš´ìš©ì„±ì„ ì œê³µí•©ë‹ˆë‹¤.

PyArrowì˜ ì£¼ìš” ê¸°ëŠ¥ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤:

1. ë°ì´í„° ë³€í™˜: PyArrowëŠ” Pandas, NumPy, Pythonì˜ ë‚´ì¥ ë°ì´í„° êµ¬ì¡°ì™€ì˜ ìƒí˜¸ ë³€í™˜ì„ ì œê³µí•©ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ íš¨ìœ¨ì ìœ¼ë¡œ ì „ì†¡í•˜ê³  ë‹¤ë¥¸ ì‹œìŠ¤í…œê³¼ì˜ ìƒí˜¸ ìš´ìš©ì„±ì„ ê°œì„ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

2. ë©”ëª¨ë¦¬ ë‚´ ë°ì´í„° êµ¬ì¡°: PyArrowëŠ” ë©”ëª¨ë¦¬ ë‚´ì—ì„œ ë°ì´í„°ë¥¼ ì €ì¥í•˜ê³  ì¡°ì‘í•˜ê¸° ìœ„í•œ ë‹¤ì–‘í•œ ë°ì´í„° êµ¬ì¡°ë¥¼ ì œê³µí•©ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, `Array`ëŠ” ë©”ëª¨ë¦¬ ë‚´ì—ì„œ ì»¬ëŸ¼ ê¸°ë°˜ ë°ì´í„°ë¥¼ ì €ì¥í•˜ê³ , `Table`ì€ ì—¬ëŸ¬ ì»¬ëŸ¼ì„ í¬í•¨í•˜ëŠ” í…Œì´ë¸” í˜•ì‹ì˜ ë°ì´í„°ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

3. íŒŒì¼ í˜•ì‹: PyArrowëŠ” Arrow í˜•ì‹ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë””ìŠ¤í¬ì— ì €ì¥í•˜ëŠ” ê¸°ëŠ¥ì„ ì œê³µí•©ë‹ˆë‹¤. Arrow í˜•ì‹ì€ ë°ì´í„°ë¥¼ ì••ì¶•í•˜ê³  ì§ë ¬í™”í•˜ì—¬ íš¨ìœ¨ì ì¸ I/O ë° ë°ì´í„° êµí™˜ì„ ê°€ëŠ¥í•˜ê²Œ í•©ë‹ˆë‹¤. PyArrowëŠ” Parquet, CSV, JSON ë“±ì˜ ë‹¤ì–‘í•œ íŒŒì¼ í˜•ì‹ì„ ì§€ì›í•©ë‹ˆë‹¤.

4. ë¶„ì‚° ì²˜ë¦¬: PyArrowëŠ” Apache Arrowì™€ í•¨ê»˜ ì‚¬ìš©í•˜ì—¬ ë¶„ì‚° ì‹œìŠ¤í…œê³¼ì˜ í†µí•©ì„ ì§€ì›í•©ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, PySparkì™€ í•¨ê»˜ ì‚¬ìš©í•˜ì—¬ ëŒ€ê·œëª¨ ë°ì´í„° ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

5. í™•ì¥ì„±: PyArrowëŠ” ë‹¤ì–‘í•œ í”Œë«í¼ê³¼ ì–¸ì–´ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìœ¼ë©°, ë‹¤ë¥¸ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì™€ì˜ ìƒí˜¸ ìš´ìš©ì„±ì„ ì œê³µí•©ë‹ˆë‹¤. ë˜í•œ, PyArrowëŠ” ë‹¤ë¥¸ ë°ì´í„° ì²˜ë¦¬ ë„êµ¬ ë° ë¼ì´ë¸ŒëŸ¬ë¦¬ì™€ í†µí•©í•˜ì—¬ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì´ëŸ¬í•œ ê¸°ëŠ¥ë“¤ì„ í†µí•´ PyArrowëŠ” ëŒ€ìš©ëŸ‰ ë°ì´í„° ì²˜ë¦¬ ì‘ì—…ì„ íš¨ìœ¨ì ì´ê³  ê³ ì†ìœ¼ë¡œ ìˆ˜í–‰í•  ìˆ˜ ìˆê²Œ í•´ì£¼ë©°, ë‹¤ë¥¸ ì‹œìŠ¤í…œê³¼ì˜ ìƒí˜¸ ìš´ìš©ì„±ì„ í–¥ìƒì‹œí‚µë‹ˆë‹¤.

Apache ArrowëŠ” ëŒ€ê·œëª¨ ë°ì´í„° ì²˜ë¦¬ë¥¼ ìœ„í•œ ì—´ ì§€í–¥ ë©”ëª¨ë¦¬ í¬ë§·ì…ë‹ˆë‹¤. ArrowëŠ” ë‹¤ì–‘í•œ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ê³µí†µ ë°ì´í„° ëª¨ë¸ê³¼ íš¨ìœ¨ì ì¸ ë°ì´í„° êµ¬ì¡°ë¥¼ ì œê³µí•˜ì—¬ ë°ì´í„° ê³µìœ  ë° êµí™˜ì„ ìš©ì´í•˜ê²Œ í•©ë‹ˆë‹¤.

Apache Arrowì˜ ì£¼ìš” íŠ¹ì§•ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤:

1. íš¨ìœ¨ì ì¸ ë©”ëª¨ë¦¬ ì‚¬ìš©: ArrowëŠ” ì»¬ëŸ¼ ê¸°ë°˜ ë©”ëª¨ë¦¬ ë ˆì´ì•„ì›ƒì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ì €ì¥í•©ë‹ˆë‹¤. ì´ëŠ” ë°ì´í„° ì••ì¶•, ì§ë ¬í™”, ë³‘ë ¬ ì²˜ë¦¬ ë“±ì„ íš¨ìœ¨ì ìœ¼ë¡œ ìˆ˜í–‰í•  ìˆ˜ ìˆë„ë¡ í•©ë‹ˆë‹¤. ë˜í•œ, ArrowëŠ” ë‹¤ì–‘í•œ ë°ì´í„° ìœ í˜•ì„ ì§€ì›í•˜ë©°, ë©”ëª¨ë¦¬ì—ì„œ ë°ì´í„°ë¥¼ ì¡°ì‘í•˜ê³  ì²˜ë¦¬í•˜ëŠ” ë° ìµœì í™”ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

2. ìƒí˜¸ ìš´ìš©ì„±: ArrowëŠ” ë‹¤ì–‘í•œ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ê³µí†µ ë°ì´í„° ëª¨ë¸ì„ ì œê³µí•©ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ ë©”ëª¨ë¦¬ì— ì €ì¥í•˜ê³  ë‹¤ë¥¸ ì‹œìŠ¤í…œ ë° ì–¸ì–´ ê°„ì— íš¨ìœ¨ì ìœ¼ë¡œ ê³µìœ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ArrowëŠ” C++, Java, Python, R, JavaScript ë“± ë‹¤ì–‘í•œ ì–¸ì–´ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. ë¹ ë¥¸ ë°ì´í„° êµí™˜: ArrowëŠ” ë°ì´í„°ë¥¼ ë©”ëª¨ë¦¬ì— ì €ì¥í•˜ê³  ì§ë ¬í™”í•˜ì—¬ ë‹¤ë¥¸ ì‹œìŠ¤í…œ ê°„ì— íš¨ìœ¨ì ìœ¼ë¡œ êµí™˜í•  ìˆ˜ ìˆë„ë¡ í•©ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ ë°ì´í„° ì „ì†¡ ì†ë„ë¥¼ í–¥ìƒì‹œí‚¤ê³  ë°ì´í„° ì²˜ë¦¬ ì‘ì—…ì„ ê°€ì†í™”í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ArrowëŠ” ë‹¤ì–‘í•œ íŒŒì¼ í˜•ì‹ (ì˜ˆ: Parquet, CSV, JSON) ë° ë¶„ì‚° ì‹œìŠ¤í…œ (ì˜ˆ: Apache Spark)ê³¼ í†µí•©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

4. í™•ì¥ì„±: ArrowëŠ” ëŒ€ê·œëª¨ ë°ì´í„° ì²˜ë¦¬ ì‘ì—…ì„ ìœ„í•´ ì„¤ê³„ë˜ì—ˆìœ¼ë©°, ë‹¤ì–‘í•œ í”Œë«í¼ê³¼ í™˜ê²½ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ArrowëŠ” ë©”ëª¨ë¦¬ ë‚´ ë°ì´í„° êµ¬ì¡°, íŒŒì¼ í˜•ì‹, ë¶„ì‚° ì‹œìŠ¤í…œê³¼ì˜ í†µí•© ë“± ë‹¤ì–‘í•œ ê¸°ëŠ¥ì„ ì œê³µí•˜ì—¬ ë‹¤ì–‘í•œ ë°ì´í„° ì²˜ë¦¬ ìš”êµ¬ì— ëŒ€ì‘í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

Apache ArrowëŠ” ë°ì´í„° ì—”ì§€ë‹ˆì–´ë§ ë° ë°ì´í„° ê³¼í•™ ë¶„ì•¼ì—ì„œ ë„ë¦¬ ì‚¬ìš©ë˜ëŠ” ë„êµ¬ë¡œ, ëŒ€ìš©ëŸ‰ ë°ì´í„° ì²˜ë¦¬ ë° ìƒí˜¸ ìš´ìš©ì„±ì„ ìœ„í•œ íš¨ìœ¨ì ì¸ ì†”ë£¨ì…˜ì„ ì œê³µí•©ë‹ˆë‹¤.

<https://www.sqler.com/board_CSharp/1102709>

Apache Arrow Tutorial for Beginners - Tutorial And Example 
<https://www.tutorialandexample.com/apache-arrow-tutorial>

Serialization, Zero-Copy, <https://realsalmon.tistory.com/21>ğŸ˜µâ€ğŸ’«

In [2]:
# Data Structure Integration: pyarrow.ChunkedArray,  ...[pyarrow] dtypes, 
ser = pd.Series([-1.5, 0.2, None], dtype="float32[pyarrow]")

In [3]:
ser

0    -1.5
1     0.2
2    <NA>
dtype: float[pyarrow]

In [4]:
idx = pd.Index([True, None], dtype="bool[pyarrow]")
idx

Index([True, <NA>], dtype='bool[pyarrow]')

In [5]:
df = pd.DataFrame([[1, 2], [3, 4]], dtype="uint64[pyarrow]")
df

   0  1
0  1  2
1  3  4

In [6]:
import pyarrow as pa

data = list("abc")
ser_sd = pd.Series(data, dtype = "string[pyarrow]")
ser_ad = pd.Series(data, dtype=pd.ArrowDtype(pa.string()))
ser_sd.dtype == ser_ad.dtype

False

In [7]:
ser_sd.str.contains("a")

0     True
1    False
2    False
dtype: boolean

In [8]:
ser_ad.str.contains("a")

0     True
1    False
2    False
dtype: bool[pyarrow]

In [9]:
import pyarrow as pa
list_str_type = pa.list_(pa.string())
ser = pd.Series([["hello"], ["there"]], dtype=pd.ArrowDtype(list_str_type))
ser

0    ['hello']
1    ['there']
dtype: list<item: string>[pyarrow]

In [10]:
from datetime import time
idx = pd.Index([time(12, 30), None], dtype= pd.ArrowDtype(pa.time64("us")))
idx

Index([12:30:00, <NA>], dtype='time64[us][pyarrow]')

In [11]:
from decimal import Decimal
decimal_type = pd.ArrowDtype(pa.decimal128(3, scale=2))
data = [[Decimal("3.19"), None], [None, Decimal("-1.23")]]
df = pd.DataFrame(data, dtype=decimal_type)
df

      0      1
0  3.19   <NA>
1  <NA>  -1.23

In [12]:
pa_array = pa.array(
    [{"1":"2"}, {"10":"20"}, None],
    type = pa.map_(pa.string(), pa.string()),
)

ser = pd.Series(pd.arrays.ArrowExtensionArray(pa_array))
ser

0      [('1', '2')]
1    [('10', '20')]
2              <NA>
dtype: map<string, string>[pyarrow]

In [13]:
ser = pd.Series([1, 2, None], dtype="uint8[pyarrow]")
pa.array(ser)

<pyarrow.lib.UInt8Array object at 0x7f7c1566cf40>
[
  1,
  2,
  null
]

In [14]:
idx = pd.Index(ser)
pa.array(idx)

<pyarrow.lib.UInt8Array object at 0x7f7c1566c5e0>
[
  1,
  2,
  null
]

In [15]:
# to convert a pyarrow.Table to a DataFrame, 
# you can call the pyarrow.Table.to_pandas() method with types_mapper=pd.ArrowDtype.

table = pa.table([pa.array([1, 2, 3], type=pa.int64())], names=["a"])
df = table.to_pandas(types_mapper=pd.ArrowDtype)
df

   a
0  1
1  2
2  3

In [16]:
df.dtypes

a    int64[pyarrow]
dtype: object

In [ ]:
# PyArrow Operations
# <ê¸°ë³¸ ì •ì˜/ì£¼ìš” ì•„ì´ë””ì–´>: "PyArrow ë°ì´í„° êµ¬ì¡° í†µí•©ì€ pandasì˜ ExtensionArray ì¸í„°í˜ì´ìŠ¤ë¥¼ í†µí•´ êµ¬í˜„ë˜ë©°, 
# ë”°ë¼ì„œ ì´ ì¸í„°í˜ì´ìŠ¤ê°€ pandas API ë‚´ì— í†µí•©ëœ ê²½ìš° ì§€ì›ë˜ëŠ” ê¸°ëŠ¥ì´ ì¡´ì¬í•©ë‹ˆë‹¤."
# pandasì˜  ExtensionArray Interface  + pandas API

In [17]:
import pyarrow as pa
ser = pd.Series([-1.545, 0.211, None], dtype="float32[pyarrow]")
ser.mean()

-0.6669999808073044

In [18]:
ser + ser

0    -3.09
1    0.422
2     <NA>
dtype: float[pyarrow]

In [19]:
ser > (ser +1)

0    False
1    False
2     <NA>
dtype: bool[pyarrow]

In [20]:
ser.dropna()

0   -1.545
1    0.211
dtype: float[pyarrow]

In [21]:
ser.isna()

0    False
1    False
2     True
dtype: bool

In [22]:
ser.fillna(0)

0   -1.545
1    0.211
2    0.000
dtype: float[pyarrow]

* 'Types with parameters` must be constructed with ArrowDtype()   ãŠ™ï¸

In [23]:
pd.ArrowDtype(pa.timestamp("s", tz="America/New York"))

timestamp[s, tz=America/New York][pyarrow]

In [24]:
pd.ArrowDtype(pa.list_(pa.int64()))

list<item: int64>[pyarrow]

In [27]:
from datetime import datetime
pa_type = pd.ArrowDtype(pa.timestamp("ns"))
# ser_dt = pd.Series([datetime(2023, 01, 01), None], dtype = pa_type)
# leading zeros in decimal integer literals are not permitted

ser_dt = pd.Series([datetime(2023, 1, 1), None], dtype = pa_type)
ser_dt.dt.strftime("%Y-%m")

0    2023-01
1       <NA>
dtype: string[pyarrow]

In [ ]:
# I/O Reading
# read_csv(), read_json(), read_orc(), read_feather() only for now.

In [32]:
# engine, dytpe_backend parameters
import io
# data = io.StringIO("""a, b, c
#                    1, 2.5, True
#                    3, 4.5, False
#                   """)
#ì‘ë™í•˜ì§€ ì•ŠìŒ   ğŸ˜µâ€ğŸ’«

# data = io.StringIO("""a, b, c
#                    1, 2.5, True
#                    3, 4.5, False
# """)
# ì‘ë™


data = io.StringIO("""a,b,c
   1,2.5,True
   3,4.5,False
""")
# ì‘ë™

df = pd.read_csv(data, engine="pyarrow")
df

   a    b       c
0  1  2.5    True
1  3  4.5   False

In [33]:

import io

data = io.StringIO("""a,b,c,d,e,f,g,h,i
    1,2.5,True,a,,,,,
    3,4.5,False,b,6,7.5,True,a,
""")
                   
df_pyarrow = pd.read_csv(data, dtype_backend="pyarrow")
df_pyarrow.dtypes

a     int64[pyarrow]
b    double[pyarrow]
c      bool[pyarrow]
d    string[pyarrow]
e     int64[pyarrow]
f    double[pyarrow]
g      bool[pyarrow]
h    string[pyarrow]
i      null[pyarrow]
dtype: object