In [1]:
import pandas as pd

# Create a DataFrame with datetime values
df = pd.DataFrame({
    'Date': [pd.Timestamp('2022-01-01'), pd.NaT, pd.Timestamp('2022-01-03')]
})

print(df)

        Date
0 2022-01-01
1        NaT
2 2022-01-03

In [2]:
# Check for NaN or NaT values
print(pd.isna(df['Date']))

# Check if a specific value is NaT
print(df['Date'][1] is pd.NaT)     # ðŸ”°(is)

0    False
1     True
2    False
Name: Date, dtype: bool
True

In [4]:
import pandas as pd
df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
                   'num_wings': [2, 0, 0, 0]},
                  index=['falcon', 'dog', 'cat', 'ant'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [6]:
# subset example
df.value_counts(subset=['num_legs'])
# ê²€í† í•  columnì„ ì œí•œí•œë‹¤.

num_legs
4           2
2           1
6           1
Name: count, dtype: int64

In [8]:
# Lambda function with an if conditional statement
result = (lambda x: x**2 if x > 0 else -x)(-5)

print(result)

5

In [11]:
# multiIndex
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]

tuples = tuple(zip(*arrays))   # ðŸ”°(*)
tuples

(('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two'))

In [2]:
index = tuple(range(5))
index

(0, 1, 2, 3, 4)