In [1]:
# TimeSeries
import numpy as np
import pandas as pd
import datetime

In [2]:
rng = pd.date_range('1/1/2023', periods = 9, freq = 'T')
ts = pd.Series(range(9), index = rng)
# print(type(rng))
# list(rng).
ts. resample('3T').sum()

2023-01-01 00:00:00     3
2023-01-01 00:03:00    12
2023-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [3]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2023-01-01 00:00:00+00:00    0
2023-01-01 00:01:00+00:00    1
2023-01-01 00:02:00+00:00    2
2023-01-01 00:03:00+00:00    3
2023-01-01 00:04:00+00:00    4
2023-01-01 00:05:00+00:00    5
2023-01-01 00:06:00+00:00    6
2023-01-01 00:07:00+00:00    7
2023-01-01 00:08:00+00:00    8
Freq: T, dtype: int64

In [4]:
rng = pd.date_range('01/01/2023', periods=5, freq='MS', tz='Asia/Seoul')
#  a list of frequency aliases.<https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases>
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2023-01-01 00:00:00+09:00    0.582094
2023-02-01 00:00:00+09:00    1.377676
2023-03-01 00:00:00+09:00   -0.038620
2023-04-01 00:00:00+09:00   -0.517073
2023-05-01 00:00:00+09:00    0.112442
Freq: MS, dtype: float64

In [5]:
# Period Range
prng = pd.period_range('2023Q1', '2023Q4', freq='Q-DEC')
# list(prng)
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 's')).asfreq('H', 's') + 9
ts

2023-01-01 09:00    0.633716
2023-04-01 09:00    0.765615
2023-07-01 09:00   -0.820977
2023-10-01 09:00    0.833337
Freq: H, dtype: float64