In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [3]:
df["grade"] = df["raw_grade"].astype("category")

# df
df['grade']

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']

In [4]:
df.sort_values(by='grade')

   id raw_grade grade
0   1         a     a
3   4         a     a
4   5         a     a
1   2         b     b
2   3         b     b
5   6         e     e

In [5]:
# new_categories = ['very good', 'good', 'very bad']
# df['grade'] = df['grade'].cat.rename_categories(new_categories=['very good', 'good', 'very bad'])
# df['grade']

In [6]:
df["grade"] = df["grade"].cat.set_categories(
    # ["very bad", "bad", "medium", "good", "very good"]
    ["e", "d", "c", "b", "a"]
)
# setÏùÄ categoryÏùò ÏàúÏÑú(order) setÌïúÎã§Îäî ÏùòÎØ∏     üî∞üå∑üí• ÎèôÏãúÏóê ÏàúÏÑú Ï§ëÍ∞ÑÏóê ÎÅºÏõå ÎÑ£Í∏∞ÎèÑ ÌïúÎã§.
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (5, object): ['e', 'd', 'c', 'b', 'a']

In [7]:
df.sort_values(by='grade')

   id raw_grade grade
5   6         e     e
1   2         b     b
2   3         b     b
0   1         a     a
3   4         a     a
4   5         a     a