In [2]:
import numpy as np
import pandas as pd

In [2]:
index = pd.date_range("1/1/2000", periods=8)

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [3]:
long_series = pd.Series(np.random.randn(1000))
long_series.head(7)

0   -0.180662
1    0.307145
2   -1.524474
3   -0.079836
4    1.855903
5    0.041340
6    0.787260
dtype: float64

In [4]:
df[:3]

                   A         B         C
2000-01-01 -1.023766  0.370983 -1.455107
2000-01-02  0.499823  0.042873  0.669756
2000-01-03 -1.706272  0.580229  0.175385

In [5]:
# df.columns = [f"{x.lower()}" for x in df.columns]
# lambda가 f-string을 return할 수 있다.
# df.columns는 그냥 list에 불과하다
NoTTL = len(df.columns)
df = df.assign(Average = lambda x : (x.A + x.B + x.C) / NoTTL)
df[['A','B', 'C', 'Average']]
# df

                   A         B         C   Average
2000-01-01 -1.023766  0.370983 -1.455107 -0.702630
2000-01-02  0.499823  0.042873  0.669756  0.404150
2000-01-03 -1.706272  0.580229  0.175385 -0.316886
2000-01-04 -1.170397  0.489008  0.701909  0.006840
2000-01-05 -0.889084 -1.150840 -0.939320 -0.993081
2000-01-06 -0.488030 -1.220112 -0.200128 -0.636090
2000-01-07 -2.508433 -0.038128 -0.526866 -1.024476
2000-01-08  0.413220  0.716908  0.131425  0.420518

In [6]:
df.shape

(8, 4)

In [7]:
print(type(s))
print(type(s.array))
# 위는 Series로 표기 되지는 않는다.
# s.array는 PandasArray라고 표기 되지만 np.ndarray와 거의 같은 것으로 볼 수 있다.

<class 'pandas.core.series.Series'>
<class 'pandas.core.arrays.numpy_.PandasArray'>

In [8]:
print(type(s.to_list()))
print(type(s.to_numpy()))
print(type(np.array(s)))
# Series를 np.array로 변환하는 2가지 방법

<class 'list'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

* pandas objects (Index, Series, DataFrame) can be thought of as containers for arrays, which hold the actual data and do the actual computation. For many types, the underlying array is a numpy.ndarray. However, pandas and 3rd party libraries may extend NumPy’s type system to add support for custom arrays (see dtypes).
* 기본적으로는 numpy.ndarray라는 얘기이고( &#x2234;  ndarray를 추출할 수 있다), 이를 확장하여 기능을 추가 했다는 의미이며
* 따라서 numpy연산을 수행할 수 있다.

In [9]:
# print문에 Unicode 출력하기  
# markdownd은 &#x2234;
print("\u2234 I love no matter what")

∴ I love no matter what

In [10]:
ser = pd.Series(pd.date_range("2000", periods=2, tz="CET"))
ser.to_numpy(dtype=object)
# namedTuple을 요소로 갖는 array로 변환된다.

array([Timestamp('2000-01-01 00:00:00+0100', tz='CET'),
       Timestamp('2000-01-02 00:00:00+0100', tz='CET')], dtype=object)

In [11]:
ser.to_numpy(dtype="datetime64[ns]")
# dtype='datetime64[ns]'는 UTC기준 시간으로 변화하며 ns(nano second)로 표시해 준다
# '1999-12-31T23:00:00.000000000' UCT기준 현재 시간이고
# Timestamp('2000-01-01 00:00:00+0100', tz='CET'는 CET 기준 현재 시간은 2000-01-01이며 이는 UTC보다 1시간 빠르단 얘기

array(['1999-12-31T23:00:00.000000000', '2000-01-01T23:00:00.000000000'],
      dtype='datetime64[ns]')