In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Matching / broadcasting behavior
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

row = df.iloc[1]
column = df["two"]

In [ ]:
row

In [ ]:
df

In [ ]:
df.sub(row, axis='columns')
# Broadcasting하는 쪽 이 갖는 index로 axis를 잡아 주어야 한다.   🔰
# 여기서 row가 갖는 idex는 column, 따라서 axis = 1

In [ ]:
df.sub(column, axis='index')
#  column이 갖는 index는 row, 따라서 axis = 0

In [ ]:
dfmi = df.copy()
dfmi.index = pd.MultiIndex.from_tuples(
    [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')], names = ['first', 'second']
)
dfmi

In [ ]:
s = pd.Series(np.arange(10))
div, rem = divmod(s, 3)

In [ ]:
df2 = df.copy()

In [ ]:
df + df2

In [ ]:
df

In [ ]:
df.add([1, 1, 1, 1], axis= 'index', fill_value=0)
# fill_value는 연산하기 이전에 NaN을 미리 처리한다. otherwise, result -> NaN   🔰

In [ ]:
div_df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
div_df

In [ ]:
div_df.div(10)
# x/10:  10이 분모로 간다.

In [ ]:
div_df.rdiv(10)
# r represent reverse
# 10/x:  10이 분자로 간다.

In [ ]:
# Among flexible wrappers (add, sub, mul, div, mod, pow) to arithmetic operators: +, -, *, /, //, %, **.
df // 3
# 해의 정수값
# divmod = (//, %)

In [ ]:
df % 3
# 해의 소수값

In [ ]:
# Missing data / operations with fill values
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

df2= pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
) 
df

In [ ]:
df2 = df.copy()
# df2 = df.copy().loc["a", "three"] =1 
# =가 양쪽으로 중복되는 식은 ? 중간생락? 
df2.loc["a", "three"] =1
df2

In [ ]:
df + df2

In [ ]:
df.add(df2, fill_value=0)
# 연산을 전에 "df"의 NaN을 0으로 치환한다.

In [ ]:
# Flexible comparisons
# Series and DataFrame have the binary comparison methods eq(==), ne(!=), lt(<), gt(>), le(<=), and ge(>=)

In [ ]:
df.gt(df2)
# NaN과 실수와의 비교는 모두 False

In [ ]:
df2.ne(df)
# NaN과 NaN은 같지 않다.(ne)

In [ ]:
# Boolean reductions

In [ ]:
(df > 0).any()

In [ ]:
print(type((df > 0).any()))
pd.Series((df > 0).any(), name='any')

In [ ]:
(df > 0).any().any()

In [ ]:
df.empty

In [ ]:
pd.DataFrame(columns=list('ABC')).empty

In [ ]:
pd.Series([True])
pd.Series([True]).bool()
pd.Series([[True]])

In [ ]:
s= pd.Series(True)
s

In [ ]:
s= pd.Series([True, False])
s

In [ ]:
s = pd.Series([[True]])
s[0].append(True)
s[0].append(True)
s[0].append(True)

s

In [ ]:
New_s = pd.Series([[False]])
# s.append(New_s, ignore_index=True)
# Series는 append attribute가 없어서 NG
# s.insert(New_s)
# Series에 insert() 없어서 이것도 NG
print(type(New_s))
pd.concat([s, New_s], ignore_index=True, axis=0)
# 기본적으로 axis가 주어져야하고, obj=[a, b]의 형태로 quoation없이 들어간다.

In [ ]:
# Comparing if objects are equivalent

In [ ]:
(df + df).equals(df * 2)

In [ ]:
df1 = pd.DataFrame({"col": ["foo", 0, np.nan]})
df2 = pd.DataFrame({"col": [np.nan, 0, "foo"]}, index=[2, 1, 0])

df1.equals(df2)

In [ ]:
df1.equals(df2.sort_index())

In [ ]:
# Comparing array-like objects
a = pd.Series(["foo", "bar", "baz"]) == "foo"
print(type(a))
a

In [ ]:
a =pd.Index(["foo", "bar", "baz"]) == "foo"
print(type(a))
a

In [ ]:
pd.Series(["foo", "bar", "baz"]) == pd.Index(["foo", "bar", "qux"])

In [ ]:
np.array(["foo", "bar", "qux"]) == pd.Series(["foo", "bar", "baz"])
# 한쪽이 Series이면 return value는 Series

In [ ]:
# Combining overlapping data sets
df1 = pd.DataFrame(
    {
        "A": [1.0, np.nan, 3.0, 5.0, np.nan], 
        "B": [np.nan, 2.0, 3.0, np.nan, 6.0]
    }
)


df2 = pd.DataFrame(
    {
        "A": [5.0, 2.0, 4.0, np.nan, 3.0, 7.0],
        "B": [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0],
    }
)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)
# left의 NaN을 right의 값으로 채우는 방법

In [ ]:
# General DataFrame combine
# func: function
# Function that "takes two series" as inputs and return a Series or a scalar.   🔰💢💥
# Used to merge the two dataframes column by columns.

def combiner(x, y):
    return np.where(pd.isna(x), y, x)

df1.combine(df2, combiner)