In [4]:
import numpy as np 
import pandas as pd

index = pd.date_range("1/1/2000", periods=8)
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [ ]:
# Function application
# https://pandas.pydata.org/docs/user_guide/basics.html#function-application

# Tablewise Function Application: pipe()
# Row or Column-wise Function Application: apply()
# Aggregation API: agg() and transform()
# Applying Elementwise Functions: applymap()

In [ ]:
# Tablewise function application
# ì£¼ê³  ë°›ëŠ” ë‹¨ìœ„ê°€ Tableì´ë€ ì˜ë¯¸

In [5]:
def extract_city_name(df):
    """
    dfë¥¼ argumentë¡œ í•˜ê³  ìˆë‹¤.
    Chicago, IL -> Chicago for city_name column
    """
    df["city_name"] = df["city_and_code"].str.split(",").str.get(0)
    return df


def add_country_name(df, country_name=None):
    """
    Chicago -> Chicago-US for city_name column
    """
    # col = "city_name"
    df["city_and_country"] = df["city_name"] + "-" + country_name
    return df

In [6]:
df_p = pd.DataFrame({"city_and_code": ["Chicago, IL"]})
df_p

  city_and_code
0   Chicago, IL

In [7]:
add_country_name(extract_city_name(df_p), country_name="US")

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago       Chicago-US

In [ ]:
# pipe
df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US")


* <span style='font-size:13px;'>ê¸°ì¡´ì—ëŠ” í•¨ìˆ˜ì— argumentë¡œ DataFrmaeì„ ì „ë‹¬í•˜ì—¬ì•¼ í•˜ë‚˜, pipeë¥¼ ì“´ë‹¤ëŠ” ê²ƒì€, í•¨ìˆ˜ê°€ ì•„ë‹Œ `DataFrameì—` Pipeë¥¼ í†µí•˜ì—¬ í•¨ìˆ˜ë¥¼ ì§ì ‘ ì ìš©í•œë‹¤.
* <span style='font-size:13px;'>ìœ„ì˜ ì˜ˆì—ì„œ ë³¼ ìˆ˜ ìˆë“¯ì´ codeì˜ ê°€ë…ì„±ì´ ë” ì¢‹ë‹¤.

In [ ]:
import statsmodels.formula.api as sm

bb = pd.read_csv("baseball.csv", index_col="id")

(
    bb.query("h > 0")
    .assign(ln_h=lambda df: np.log(df.h))
    .pipe((sm.ols, "data"), "hr ~ ln_h + year + g + C(lg)")
    .fit()
    .summary()
)

In [ ]:
# Row or column-wise function application
# ì´ëŠ” apply() Methodì— ì˜í•´ êµ¬í˜„ëœë‹¤.    ğŸ”°ğŸ”°
# apply methodë¥¼ ì ìš©í•˜ë©´, ìë™ìœ¼ë¡œ df, seriesë¡œ ë¶€í„° row, columnì„ ë°›ì•„ ì˜¤ëŠ” ë°©ì‹ì´ë‹¤. ì ìš©í•˜ëŠ” funcì˜ ì²˜ë¦¬ë¥¼ ê±°ì³
# returnê°’ìœ¼ë¡œ column ì´ë‚˜ rowì˜ indexë¥¼ indexë¡œ ê°–ëŠ” Seriesë‚˜ DataFrameì„ ë°˜í™˜í•œë‹¤.

In [ ]:
tsdf = pd.DataFrame(
    np.random.randn(10, 3),
    columns=['A', 'B', 'C'],
    index=pd.date_range('1/1/2017', periods=10)
)

tsdf.apply(lambda x: x.idxmax())
#  ì—¬ê¸°ì„œ xëŠ” columnì„ í•˜ë‚˜ì”© ë¶ˆëŸ¬ ë“¤ì¸ ê²ƒì´ë‹¤.ë”°ë¼ì„œ returnê°‘ì€ tsdfì˜ columns=[...]ë¥¼ indexë¡œí•˜ëŠ” Seriesê°€ ëœë‹¤

In [ ]:
df

In [ ]:
def subtract_and_divide(x, sub, divide=1):
    return(x-sub) / divide
df.apply(subtract_and_divide, args=(5,), divide=3)

In [ ]:
tsdf.iloc[3:7] = np.nan
tsdf

In [ ]:
tsdf.apply(pd.Series.interpolate)

In [ ]:
s = pd.Series([np.nan, "single_one", np.nan,
               "fill_two_more", np.nan, np.nan, np.nan,
               4.71, np.nan])
s

In [ ]:
s.interpolate(method='pad', limit=2)
# NaNì„ ì±„ìš°ëŠ”ë° ì—°ì†ì ì¸ 2ê°œì˜ NaNë°–ì— ëª»ì±„ìš´ë‹¤.

In [ ]:
# Aggregation API
# Aggregating with multiple functions

In [ ]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df

In [ ]:
df.agg(['sum', 'min'])

In [ ]:
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

In [ ]:
df.agg(x=('A', max), y=('B', 'min'), z=('C', np.mean))
# ì—¬ê¸°ì„œ x, y, zëŠ” í•¨ìˆ˜ë¥¼ ì •ì˜í•œë‹¤.   ğŸ”°ğŸ’¢

In [ ]:
# lambda
tsdf["A"].agg(["sum", lambda x: x.mean()])

In [ ]:
# ì •ì˜ í•¨ìˆ˜
def mymean(x):
    return x.mean()

tsdf["A"].agg(["sum", mymean])

In [ ]:
# Aggregating with a dict
# ì–´ë–¤ column(row)ì— ì–´ë–¤ í•¨ìˆ˜ë¥¼ ì ìš©í•  ê²ƒì¸ê°€ë¥¼ Dictionaryì—ì„œ ì •ì˜í•´ì„œ ì¤€ë‹¤.
tsdf.agg({'A': 'mean', 'B':'sum'})