In [1]:
# Iteration
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    {"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b", "c"]
)
df

       col1      col2
a  0.993323  0.221098
b  1.007022 -0.270815
c -0.430907 -0.463139

In [4]:
# In short, basic iteration (for i in object) produces:
# Series: values
# DataFrame: column labels

for col in df:
    print(col)

col1
col2

In [5]:
df = pd.DataFrame({"a": [1, 2, 3], "b": ["a", "b", "c"]})
df

   a  b
0  1  a
1  2  b
2  3  c

In [7]:
# items() : columnwise'?'
for label, ser in df.items():
    print(label)
    # print(ser)

a
b

In [8]:
# iterrows() : rowwise'?'
for row_index, row in df.iterrows():
    print(row_index, row, sep="\n")

0
a    1
b    a
Name: 0, dtype: object
1
a    2
b    b
Name: 1, dtype: object
2
a    3
b    c
Name: 2, dtype: object

In [11]:
df_orig = pd.DataFrame([[1, 1.5]], columns=["int", "float"])

df_orig.dtypes
# df_orig

int        int64
float    float64
dtype: object

In [24]:
row = next(df_orig.iterrows())[1]
# df.iterrows()[0]은 column label만 생성하고 value는 갖지 않는다 따라서 nothing'?'
row

int      1.0
float    1.5
Name: 0, dtype: float64

In [18]:
df2 = pd.DataFrame({"x": [1, 2, 3], "y": [4, 5, 6]})

print(df2)

   x  y
0  1  4
1  2  5
2  3  6

In [19]:
print(df2.T)

   0  1  2
x  1  2  3
y  4  5  6

In [21]:
# df.iterrow(): iterator를 생성
# df.iterrow()-> Series
df2_t = pd.DataFrame({idx:values for idx, values in df2.iterrows()})
# index와 value가 자리를 바꾼다. 당연 df.T가 된다.

print(df2_t)

   0  1  2
x  1  2  3
y  4  5  6

In [23]:
# df.itertuples(): iterator를 생성
# df.itertuples()->named tuple
for row in df2.itertuples():
    print(row)

Pandas(Index=0, x=1, y=4)
Pandas(Index=1, x=2, y=5)
Pandas(Index=2, x=3, y=6)

In [ ]:
# .dt accessor