In [1]:
# Iteration
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b", "c"]
)
df

       col1      col2
a -1.160062 -1.157725
b -1.596831  0.137248
c  0.557446  1.629565

In [3]:
# In short, basic iteration (for i in object) produces:
# Series: values
# DataFrame: column labels

for col in df:
    print(col)

col1
col2

In [4]:
df = pd.DataFrame({"a": [1, 2, 3], "b": ["a", "b", "c"]})
df

   a  b
0  1  a
1  2  b
2  3  c

In [5]:
# items() : columnwise'?'
for label, ser in df.items():
    print(label)
    # print(ser)

a
b

In [6]:
# iterrows() : rowwise'?'
for row_index, row in df.iterrows():
    print(row_index, row, sep="\n")

0
a    1
b    a
Name: 0, dtype: object
1
a    2
b    b
Name: 1, dtype: object
2
a    3
b    c
Name: 2, dtype: object

In [7]:
df_orig = pd.DataFrame([[1, 1.5]], columns=["int", "float"])

df_orig.dtypes
# df_orig

int        int64
float    float64
dtype: object

In [8]:
row = next(df_orig.iterrows())[1]
# df.iterrows()[0]ì€ column labelë§Œ ìƒì„±í•˜ê³  valueëŠ” ê°–ì§€ ì•ŠëŠ”ë‹¤ ë”°ë¼ì„œ nothing'?'
row

int      1.0
float    1.5
Name: 0, dtype: float64

In [9]:
df2 = pd.DataFrame({"x": [1, 2, 3], "y": [4, 5, 6]})

print(df2)

   x  y
0  1  4
1  2  5
2  3  6

In [10]:
print(df2.T)

   0  1  2
x  1  2  3
y  4  5  6

In [11]:
# df.iterrow(): iteratorë¥¼ ìƒì„±
# df.iterrow()-> Series
df2_t = pd.DataFrame({idx:values for idx, values in df2.iterrows()})
# indexì™€ valueê°€ ìë¦¬ë¥¼ ë°”ê¾¼ë‹¤. ë‹¹ì—° df.Tê°€ ëœë‹¤.

print(df2_t)

   0  1  2
x  1  2  3
y  4  5  6

In [12]:
# df.itertuples(): iteratorë¥¼ ìƒì„±
# df.itertuples()->named tuple
for row in df2.itertuples():
    print(row)

Pandas(Index=0, x=1, y=4)
Pandas(Index=1, x=2, y=5)
Pandas(Index=2, x=3, y=6)

In [13]:
# .dt accessor
# indexê°€ ì•„ë‹Œ "value"ì—ì„œ datetimeì˜ propertiesë¥¼ returní•œë‹¤.   ğŸ”°

In [14]:
s = pd.Series(pd.date_range("20130101 09:10:12", periods=4))
s

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

In [15]:
s.dt.hour

0    9
1    9
2    9
3    9
dtype: int32

In [16]:
s.dt.second

0    12
1    12
2    12
3    12
dtype: int32

In [17]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int32

In [30]:
# .tz_localize("..."): æ™‚ç³»ï¦œdataì˜ ì‹œê°„ëŒ€(timezone)ì„ ì„¤ì •í•œë‹¤.      ğŸ”°ğŸ”°
# .tz_convert("..."): ì„¤ì •ëœ ì‹œê°„ëŒ€(timezone)ë¥¼ ë‹¤ë¥¸ ì‹œê°„ëŒ€ë¡œ ë³€í™˜í•œë‹¤.

import pandas as pd

# ì‹œê°„ëŒ€ ì„¤ì •
# ë‰´ìš• ì‹œê°„ëŒ€ë¡œ í‘œì‹œëœ Timestamp ìƒì„±
ny_time = pd.Timestamp('2023-08-02 12:34:56', tz='America/New_York')
print(ny_time, ' :New Yorkì˜ í˜„ì§€ì‹œê°„' )

# ë‹¤ë¥¸ ì‹œê°„ëŒ€ë¡œ ë³€í™˜ (ì„œìš¸ ì‹œê°„ëŒ€ë¡œ ë³€í™˜)
seoul_time = ny_time.tz_convert('Asia/Seoul')
print(seoul_time, ' :Seoulì˜ í˜„ì§€ì‹œê°„')

# í˜„ì§€ì‹œê°„ì„ UTC ì„¸ê³„í‘œì¤€ì‹œ ë³€í™˜
seoul_time1 = ny_time.tz_convert('UTC')
print(seoul_time1, ' :Seoulì˜ UTCê¸°ì¤€ì‹œê°„')


# ì‹œê°„ í‘œê¸°
# Timestamp ìƒì„±
timestamp = pd.Timestamp('2023-08-02 12:34:56')
print(timestamp)

# ë¬¸ìì—´ íŒŒì‹±ì„ í†µí•œ Timestamp ìƒì„±
parsed_timestamp = pd.to_datetime('2023-08-02 12:34:56')
print(parsed_timestamp)

# ê¸°ê°„ ìƒì„±
period = pd.Period('2023-08')
print(period, " :8ì›” í•œë‹¬ ê°„ì˜ ê¸°ê°„(Period)")

2023-08-02 12:34:56-04:00  :New Yorkì˜ í˜„ì§€ì‹œê°„
2023-08-03 01:34:56+09:00  :Seoulì˜ í˜„ì¬ì‹œê°„
2023-08-03 01:34:56+09:00  :Seoulì˜ í˜„ì§€ì‹œê°„
2023-08-02 16:34:56+00:00  :Seoulì˜ UTCê¸°ì¤€ì‹œê°„
2023-08-02 12:34:56
2023-08-02 12:34:56
2023-08  :8ì›” í•œë‹¬ ê°„ì˜ ê¸°ê°„(Period)

In [18]:
s[s.dt.day == 2]

1   2013-01-02 09:10:12
dtype: datetime64[ns]

In [21]:
# localizeë˜ì§€ ì•Šì€ time Series(date_range)ëŠ” UTCì™€ì˜ ì‹œê°„ì°¨ë¥¼ í‘œì‹œí•˜ì§€ ì•ŠëŠ”ë‹¤.
# 2013-01-02 09:10:12
# ì´ë¥¼ localizeí•˜ë©´ ë’¤ì— UTCì™€ì˜ ì‹œê°„ì°¨ë¥¼ í‘œì‹œí•œë‹¤.
# 2013-01-02 09:10:12-05:00

stz = s.dt.tz_localize("US/Eastern")
stz

0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [22]:
stz.dt.tz
# ìœ„ì™€ ê°™ì´ timezoneì„ ì•Œì•„ ë³´ë©´
# í˜„ì§€ì‹œê°„ì€ US/Eastern, ë¯¸êµ­ë™ë¶€ê¸°ì¤€ì‹œì´ë©°, ë‚ ì§œë¡œëŠ” UTCê¸°ì¤€ -1ì¼(-24Hr) + 19:04  í•©ì´ -5ì‹œê°„
# UTCê¸°ì¤€ì‹œì—ì„œ -5ì‹œê°„í•˜ë©´ ë¯¸êµ­ ë™ë¶€ê¸°ì¤€ì‹œë¥¼ ì•Œ ìˆ˜ ìˆë‹¤ëŠ” ì˜ë¯¸

In [23]:
s.dt.tz_localize("UTC").dt.tz_convert("US/Eastern")
# ì„¸ê³„í‘œì¤€ì‹œê°€      2013-01-01 09:10:12 ì¼ë•Œ
# ë¯¸êµ­ë™ë¶€í‘œì¤€ì‹œë¡œëŠ” 2013-01-01 04:10:12ì´ë©° ì´ëŠ” UTCë³´ë‹¤ -5ì‹œê°„ì´ë€ ì˜ë¯¸.

0   2013-01-01 04:10:12-05:00
1   2013-01-02 04:10:12-05:00
2   2013-01-03 04:10:12-05:00
3   2013-01-04 04:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [31]:
# DatetimeIndex
s = pd.Series(pd.date_range('20230101', periods=4))
s

0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
dtype: datetime64[ns]

In [37]:
s.dt.year

0    2023
1    2023
2    2023
3    2023
dtype: int64

In [33]:
# PeriodIndex
s = pd.Series(pd.period_range('20230101', periods=4))
s

0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
dtype: period[D]

In [35]:
# ìœ„ ë‘˜ì„ ì‚´í´ë³´ë©´ dtypeì´ ìƒì´í•˜ë‹¤.
s.dt.strftime('%Y/%m/%d')
# strftime()ì€ í‘œí˜„í˜•ì‹ë§Œì„ ë°”ê¿”ì¤€ë‹¤. ë‚´ìš©ë¬¼ì€ ê·¸ëŒ€ë¡œ

0    2023/01/01
1    2023/01/02
2    2023/01/03
3    2023/01/04
dtype: object

In [36]:
s.dt.year

0    2023
1    2023
2    2023
3    2023
dtype: int64

In [46]:
# Timedelta
s = pd.Series(pd.timedelta_range('1 day', periods=4, freq='h'))
# ì œ ì¼ argëŠ” start: ë‚ ì§œëŠ” 1ë¶€í„° ì‹œì‘í•˜ê³  0ì¼ì€ ì¡´ì¬ í•˜ì§€ ì•ŠëŠ”ë‹¤.
s

0   1 days 00:00:00
1   1 days 01:00:00
2   1 days 02:00:00
3   1 days 03:00:00
dtype: timedelta64[ns]

In [47]:
# Timedelta
s = pd.Series(pd.timedelta_range(start='1 day', end='2 day', freq='6h'))
# ì œ ì¼ argëŠ” start: ë‚ ì§œëŠ” 1ë¶€í„° ì‹œì‘í•˜ê³  0ì¼ì€ ì¡´ì¬ í•˜ì§€ ì•ŠëŠ”ë‹¤.
s

0   1 days 00:00:00
1   1 days 06:00:00
2   1 days 12:00:00
3   1 days 18:00:00
4   2 days 00:00:00
dtype: timedelta64[ns]