In [1]:
# Iteration
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b", "c"]
)
df

       col1      col2
a -1.160062 -1.157725
b -1.596831  0.137248
c  0.557446  1.629565

In [3]:
# In short, basic iteration (for i in object) produces:
# Series: values
# DataFrame: column labels

for col in df:
    print(col)

col1
col2

In [4]:
df = pd.DataFrame({"a": [1, 2, 3], "b": ["a", "b", "c"]})
df

   a  b
0  1  a
1  2  b
2  3  c

In [5]:
# items() : columnwise'?'
for label, ser in df.items():
    print(label)
    # print(ser)

a
b

In [6]:
# iterrows() : rowwise'?'
for row_index, row in df.iterrows():
    print(row_index, row, sep="\n")

0
a    1
b    a
Name: 0, dtype: object
1
a    2
b    b
Name: 1, dtype: object
2
a    3
b    c
Name: 2, dtype: object

In [7]:
df_orig = pd.DataFrame([[1, 1.5]], columns=["int", "float"])

df_orig.dtypes
# df_orig

int        int64
float    float64
dtype: object

In [8]:
row = next(df_orig.iterrows())[1]
# df.iterrows()[0]ÏùÄ column labelÎßå ÏÉùÏÑ±ÌïòÍ≥† valueÎäî Í∞ñÏßÄ ÏïäÎäîÎã§ Îî∞ÎùºÏÑú nothing'?'
row

int      1.0
float    1.5
Name: 0, dtype: float64

In [9]:
df2 = pd.DataFrame({"x": [1, 2, 3], "y": [4, 5, 6]})

print(df2)

   x  y
0  1  4
1  2  5
2  3  6

In [10]:
print(df2.T)

   0  1  2
x  1  2  3
y  4  5  6

In [11]:
# df.iterrow(): iteratorÎ•º ÏÉùÏÑ±
# df.iterrow()-> Series
df2_t = pd.DataFrame({idx:values for idx, values in df2.iterrows()})
# indexÏôÄ valueÍ∞Ä ÏûêÎ¶¨Î•º Î∞îÍæºÎã§. ÎãπÏó∞ df.TÍ∞Ä ÎêúÎã§.

print(df2_t)

   0  1  2
x  1  2  3
y  4  5  6

In [12]:
# df.itertuples(): iteratorÎ•º ÏÉùÏÑ±
# df.itertuples()->named tuple
for row in df2.itertuples():
    print(row)

Pandas(Index=0, x=1, y=4)
Pandas(Index=1, x=2, y=5)
Pandas(Index=2, x=3, y=6)

In [13]:
# .dt accessor
# indexÍ∞Ä ÏïÑÎãå "value"ÏóêÏÑú datetimeÏùò propertiesÎ•º returnÌïúÎã§.   üî∞

In [14]:
s = pd.Series(pd.date_range("20130101 09:10:12", periods=4))
s

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

In [15]:
s.dt.hour

0    9
1    9
2    9
3    9
dtype: int32

In [16]:
s.dt.second

0    12
1    12
2    12
3    12
dtype: int32

In [17]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int32

In [30]:
# .tz_localize("..."): ÊôÇÁ≥ªÔ¶údataÏùò ÏãúÍ∞ÑÎåÄ(timezone)ÏùÑ ÏÑ§Ï†ïÌïúÎã§.      üî∞üî∞
# .tz_convert("..."): ÏÑ§Ï†ïÎêú ÏãúÍ∞ÑÎåÄ(timezone)Î•º Îã§Î•∏ ÏãúÍ∞ÑÎåÄÎ°ú Î≥ÄÌôòÌïúÎã§.

import pandas as pd

# ÏãúÍ∞ÑÎåÄ ÏÑ§Ï†ï
# Îâ¥Ïöï ÏãúÍ∞ÑÎåÄÎ°ú ÌëúÏãúÎêú Timestamp ÏÉùÏÑ±
ny_time = pd.Timestamp('2023-08-02 12:34:56', tz='America/New_York')
print(ny_time, ' :New YorkÏùò ÌòÑÏßÄÏãúÍ∞Ñ' )

# Îã§Î•∏ ÏãúÍ∞ÑÎåÄÎ°ú Î≥ÄÌôò (ÏÑúÏö∏ ÏãúÍ∞ÑÎåÄÎ°ú Î≥ÄÌôò)
seoul_time = ny_time.tz_convert('Asia/Seoul')
print(seoul_time, ' :SeoulÏùò ÌòÑÏßÄÏãúÍ∞Ñ')

# ÌòÑÏßÄÏãúÍ∞ÑÏùÑ UTC ÏÑ∏Í≥ÑÌëúÏ§ÄÏãú Î≥ÄÌôò
seoul_time1 = ny_time.tz_convert('UTC')
print(seoul_time1, ' :SeoulÏùò UTCÍ∏∞Ï§ÄÏãúÍ∞Ñ')


# ÏãúÍ∞Ñ ÌëúÍ∏∞
# Timestamp ÏÉùÏÑ±
timestamp = pd.Timestamp('2023-08-02 12:34:56')
print(timestamp)

# Î¨∏ÏûêÏó¥ ÌååÏã±ÏùÑ ÌÜµÌïú Timestamp ÏÉùÏÑ±
parsed_timestamp = pd.to_datetime('2023-08-02 12:34:56')
print(parsed_timestamp)

# Í∏∞Í∞Ñ ÏÉùÏÑ±
period = pd.Period('2023-08')
print(period, " :8Ïõî ÌïúÎã¨ Í∞ÑÏùò Í∏∞Í∞Ñ(Period)")

2023-08-02 12:34:56-04:00  :New YorkÏùò ÌòÑÏßÄÏãúÍ∞Ñ
2023-08-03 01:34:56+09:00  :SeoulÏùò ÌòÑÏû¨ÏãúÍ∞Ñ
2023-08-03 01:34:56+09:00  :SeoulÏùò ÌòÑÏßÄÏãúÍ∞Ñ
2023-08-02 16:34:56+00:00  :SeoulÏùò UTCÍ∏∞Ï§ÄÏãúÍ∞Ñ
2023-08-02 12:34:56
2023-08-02 12:34:56
2023-08  :8Ïõî ÌïúÎã¨ Í∞ÑÏùò Í∏∞Í∞Ñ(Period)

In [18]:
s[s.dt.day == 2]

1   2013-01-02 09:10:12
dtype: datetime64[ns]

In [21]:
# localizeÎêòÏßÄ ÏïäÏùÄ time Series(date_range)Îäî UTCÏôÄÏùò ÏãúÍ∞ÑÏ∞®Î•º ÌëúÏãúÌïòÏßÄ ÏïäÎäîÎã§.
# 2013-01-02 09:10:12
# Ïù¥Î•º localizeÌïòÎ©¥ Îí§Ïóê UTCÏôÄÏùò ÏãúÍ∞ÑÏ∞®Î•º ÌëúÏãúÌïúÎã§.
# 2013-01-02 09:10:12-05:00

stz = s.dt.tz_localize("US/Eastern")
stz

0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [22]:
stz.dt.tz
# ÏúÑÏôÄ Í∞ôÏù¥ timezoneÏùÑ ÏïåÏïÑ Î≥¥Î©¥
# ÌòÑÏßÄÏãúÍ∞ÑÏùÄ US/Eastern, ÎØ∏Íµ≠ÎèôÎ∂ÄÍ∏∞Ï§ÄÏãúÏù¥Î©∞, ÎÇ†ÏßúÎ°úÎäî UTCÍ∏∞Ï§Ä -1Ïùº(-24Hr) + 19:04  Ìï©Ïù¥ -5ÏãúÍ∞Ñ
# UTCÍ∏∞Ï§ÄÏãúÏóêÏÑú -5ÏãúÍ∞ÑÌïòÎ©¥ ÎØ∏Íµ≠ ÎèôÎ∂ÄÍ∏∞Ï§ÄÏãúÎ•º Ïïå Ïàò ÏûàÎã§Îäî ÏùòÎØ∏

In [23]:
s.dt.tz_localize("UTC").dt.tz_convert("US/Eastern")
# ÏÑ∏Í≥ÑÌëúÏ§ÄÏãúÍ∞Ä      2013-01-01 09:10:12 ÏùºÎïå
# ÎØ∏Íµ≠ÎèôÎ∂ÄÌëúÏ§ÄÏãúÎ°úÎäî 2013-01-01 04:10:12Ïù¥Î©∞ Ïù¥Îäî UTCÎ≥¥Îã§ -5ÏãúÍ∞ÑÏù¥ÎûÄ ÏùòÎØ∏.

0   2013-01-01 04:10:12-05:00
1   2013-01-02 04:10:12-05:00
2   2013-01-03 04:10:12-05:00
3   2013-01-04 04:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [31]:
# DatetimeIndex
s = pd.Series(pd.date_range('20230101', periods=4))
s

0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
dtype: datetime64[ns]

In [37]:
s.dt.year

0    2023
1    2023
2    2023
3    2023
dtype: int64

In [33]:
# PeriodIndex
s = pd.Series(pd.period_range('20230101', periods=4))
s

0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
dtype: period[D]

In [35]:
# ÏúÑ ÎëòÏùÑ ÏÇ¥Ìé¥Î≥¥Î©¥ dtypeÏù¥ ÏÉÅÏù¥ÌïòÎã§.
s.dt.strftime('%Y/%m/%d')
# strftime()ÏùÄ ÌëúÌòÑÌòïÏãùÎßåÏùÑ Î∞îÍøîÏ§ÄÎã§. ÎÇ¥Ïö©Î¨ºÏùÄ Í∑∏ÎåÄÎ°ú

0    2023/01/01
1    2023/01/02
2    2023/01/03
3    2023/01/04
dtype: object

In [36]:
s.dt.year

0    2023
1    2023
2    2023
3    2023
dtype: int64

In [46]:
# Timedelta
s = pd.Series(pd.timedelta_range('1 day', periods=4, freq='h'))
# Ï†ú Ïùº argÎäî start: ÎÇ†ÏßúÎäî 1Î∂ÄÌÑ∞ ÏãúÏûëÌïòÍ≥† 0ÏùºÏùÄ Ï°¥Ïû¨ ÌïòÏßÄ ÏïäÎäîÎã§.
s

0   1 days 00:00:00
1   1 days 01:00:00
2   1 days 02:00:00
3   1 days 03:00:00
dtype: timedelta64[ns]

In [47]:
# Timedelta
s = pd.Series(pd.timedelta_range(start='1 day', end='2 day', freq='6h'))
# Ï†ú Ïùº argÎäî start: ÎÇ†ÏßúÎäî 1Î∂ÄÌÑ∞ ÏãúÏûëÌïòÍ≥† 0ÏùºÏùÄ Ï°¥Ïû¨ ÌïòÏßÄ ÏïäÎäîÎã§.
s

0   1 days 00:00:00
1   1 days 06:00:00
2   1 days 12:00:00
3   1 days 18:00:00
4   2 days 00:00:00
dtype: timedelta64[ns]