In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)
df

        one       two     three
a -0.452744 -1.562991       NaN
b  0.566542 -1.248433  0.740607
c -0.053947 -1.237886  0.832271
d       NaN -1.179162 -0.595761

In [3]:
df2 = pd.DataFrame(
    {
        "A": pd.Series(np.random.randn(8), dtype="float16"),
        "B": pd.Series(np.random.randn(8)),
        "C": pd.Series(np.random.randint(0, 255, size=8), dtype="uint8"),
    }
)
df2

          A         B    C
0  1.928711  1.321763  131
1  1.009766 -0.021729  154
2 -0.028503  0.345129  106
3 -0.183594 -0.813654  186
4  0.726074 -0.693195  200
5  0.656250 -0.218325  240
6 -0.756348  0.198469  208
7 -1.169922  0.754608   11

In [4]:
df3 = df1.reindex_like(df2).fillna(value=0.0) + df2
df3

NameError: name 'df1' is not defined

In [ ]:
D1_df =pd.DataFrame([1, 2], columns=["a"]).dtypes
# dataÍ∞Ä listÏù∏ Í≤ΩÏö∞ listÏùò Í∞úÎ≥Ñ ÏöîÏÜåÎäî rowÎ°ú Ï†ÑÍ∞úÌïúÎã§.
D1_df

In [ ]:
frame = pd.DataFrame(np.array([1, 2]))
frame

In [ ]:
D2_df =pd.DataFrame({"a": [1, 2]}).dtypes
# dataÍ∞Ä dictionaryÏù∏ Í≤ΩÏö∞ keyÍ∞íÏùÄ columnÏúºÎ°ú valueÍ∞íÏùÄ rowÎ°ú Ï†ÑÍ∞úÌïúÎã§.
D2_df

In [ ]:
D3_df =pd.DataFrame({"a": 1}, index=list(range(2))).dtypes
# Ìö®Ïú®Ï†ÅÏù¥Íµ∞!   üî∞üí¢
D3_df