In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A": pd.Series(np.random.randn(8), dtype="float16"),
        "B": pd.Series(np.random.randn(8)),
        "C": pd.Series(np.random.randint(0, 255, size=8), dtype="uint8"),
    }
)
df2

In [ ]:
df3 = df1.reindex_like(df2).fillna(value=0.0) + df2
df3

In [ ]:
D1_df =pd.DataFrame([1, 2], columns=["a"]).dtypes
# data가 list인 경우 list의 개별 요소는 row로 전개한다.
D1_df

In [4]:
frame = pd.DataFrame(np.array([1, 2]))
frame

   0
0  1
1  2

In [ ]:
D2_df =pd.DataFrame({"a": [1, 2]}).dtypes
# data가 dictionary인 경우 key값은 column으로 value값은 row로 전개한다.
D2_df

In [ ]:
D3_df =pd.DataFrame({"a": 1}, index=list(range(2))).dtypes
# 효율적이군!   🔰💢
D3_df