In [142]:
import numpy as np
import pandas as pd

In [143]:
# From dict of Series or dicts
d = {
    'one': pd.Series([1, 2, 3], index = ['a', 'b', 'c']),
    'two': pd.Series([1.0, 2.0, 3.0, 4.0], index = ['a', 'b', 'c', 'd'])
}

pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [144]:
pd.DataFrame(d, index=['d', 'b', 'a'])
# Ïù¥ÎØ∏ dÎ•º Ï†ïÏùò Ìï† Îïå indexÎ•º Ìè¨Ìï®ÌïòÏòÄÍ∏∞Ïóê DataFrameÏóêÏÑú Í∑∏Ïóê Ï§ÄÌïúÎã§.   üî∞

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [145]:
pd.DataFrame(d, index=['d','b','a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [146]:
# From dict of ndarrays / lists

# DataFrameÏùÑ Ï†ïÏùò Ìï† ÎïåÎäî column Î≥ÑÎ°ú Ï†ïÏùòÌï† Îïå
d = {
    'one': [1.0, 2.0, 3.0, 4.0],
    'two': [4.0, 3.0, 2.0, 1.0]
}

df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df[['one']]
# DataFrame[[column1, column2]]: DataFrameÏóêÏÑú columnÏùÑ Ï∂îÏ∂úÌïòÎäî Î∞©Î≤ï      üí¢
# DataFrame[boolean indexing]: DataFrameÏóêÏÑú RowÎ•º Ï∂îÏ∂úÌïòÎäî Î∞©Î≤ï           üí¢
# df.loc[] df.iloc[]: RowÎ•º Ï∂îÏ∂úÌïòÎäî Î∞©Î≤ï

   one
a  1.0
b  2.0
c  3.0
d  4.0

In [147]:
d = {"a": 1,  "b": 2, "c": 3}
# Í∞ôÏùÄ dictionaryÎùºÎèÑ DataFrameÏùÑ Ï†ïÏùò ÌïòÎäêÎÉê, SeriesÎ•º Ï†ïÏùòÌïòÎäêÎÉêÏóê Îî∞Îùº Ï†ÑÍ∞ú Î∞©Ìñ•Ïù¥ Îã¨ÎùºÏßÑÎã§.
s = pd.Series(d)
# s[[0, 2]]
# Series[[index1, index2]]: SeriesÏóêÏÑú RowÎ•º Ï∂îÏ∂úÌïòÎäî Î∞©Î≤ï
# Series[Boolean indexing]: SeriesÏóêÏÑú RowÎ•º Ï∂îÏ∂úÌïòÎäî Î∞©Î≤ï
s

a    1
b    2
c    3
dtype: int64

In [148]:
# Series is dic-like : get/set with index label

# SeriesÏóê Í∞íÏùÑ Ï∂îÍ∞Ä ÌïòÎäî Î∞©Î≤ï
s["d"] = 4
# s
# s.append({'e': 5})   
# s.append( 5 )   
# SeriesÏóê append methodÎäî Ïì∏ Ïàò ÏóÜÎã§
# SeriesÎäî Îã®Ïùº dtypeÏúºÎ°ú Ï†ïÏùò ÎêúÎã§.

s.get('f')   
# 'f' Í∞íÏù¥ ÏßÄÏ†ïÎêòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞Îäî NoneÏùÑ returnÌïúÎã§Í≥† ÌïòÎäî Îç∞, Ïù¥Î•∏ ÏïÑÎ¨¥Í≤ÉÎèÑ returnÌïòÏßÄ ÏïäÎäî Îã§Îäî ÏùòÎØ∏
s.get('f', np.nan)
# s.set('f', 2)  SeriesÏóê set methodÎäî ÏóÜÎã§.

nan

In [149]:
# Vectorized operations and label alignment with Series
# https://chat.openai.com/share/24cd782a-fdbd-468a-9662-b9520e3602ed : Scalar VS Vectorize
# SeriesÏùò Í∞úÎ≥Ñ Í∞íÎì§ÏùÄ scalarÎùºÍ≥† Î∂àÎ¶¨Í≥†, Ïó∞ÏÇ∞ÏùÑ Ìï† Îïå Í∞úÎ≥Ñ scalarÍ∞Ä ÏïÑÎãå Ìïú SeriesÎ•º ÎåÄÏÉÅÏúºÎ°ú Ïó∞ÏÇ∞ÌïòÎäî Í≤ÉÏùÑ vectorize(?)Îùº ÌïúÎã§.

s + s
np.exp(s)

a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [150]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
    # indexÏóê ÎåÄÌïú controlÏùÑ Í∞ñÍ≥†Ïûê ÌïúÎã§Î©¥ listÎåÄÏã† pd.SeriesÎ•º ÏÇ¨Ïö©ÌïúÎã§.
}
# pd.DataFrame(d)
# pd.DataFrame(d, index=["d", "b", "a"])
a = pd.DataFrame(d, index=["d", "b", "a"], columns=["one", "two"])
# a['two']
a['Three'] = pd.Series([2, 3, 4], index=list('abc'))
# a['three'] = [2, 3, 4]
# listÎ°ú dataFrameÏóê ÏÉàÎ°úÏö¥ columnÏùÑ setÌïòÎäî Ìï† Ïàò ÏûàÏßÄÎßå, indexÏóê ÎåÄÌïú controlÏù¥ ÏóÜÎã§.
a

   one  two  Three
d  NaN  4.0    NaN
b  2.0  2.0    3.0
a  1.0  1.0    2.0

In [151]:
# From structured or record array

data = [(1, 2.0, 'Hello'), (2, 3.0, 'World')]
pd.DataFrame(data)

   0    1      2
0  1  2.0  Hello
1  2  3.0  World

In [152]:
# From structured or record array

data1 = np.zeros((3,), dtype=[('A','i4'), ('B','f4'), ('C', 'a10'), ('D', 'a10')])
# shape(3, )ÏùÄ rowÍ∞Ä 3, dtypeÏùò tupleÏàòÎäî columnÏàòÍ∞Ä ÎêúÎã§.
# structured arrayÎäî dtypeÏúºÎ°ú Ï†ïÏùòÎêúÎã§. Ïù¥Î†áÍ≤å dtypeÏùÑ Ï†ïÏùòÌï®ÏúºÎ°úÏç® Ï†ïÏùòÎêòÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞Ïùò Ïú†ÏûÖÏùÑ Ï∞®Îã®Ìï† Ïàò ÏûàÎã§.
data1[:] = [(1, 2.0, 'Hello', ''), (2, 3.0, 'World', ''), (3, 4.0, 'World', '')]
pd.DataFrame(data1)

   A    B         C    D
0  1  2.0  b'Hello'  b''
1  2  3.0  b'World'  b''
2  3  4.0  b'World'  b''

In [153]:
np.zeros((5,))
# 1 row, 5 columns
# Ïñ¥ÌïòÌäº arrayÏù¥ÎãàÍπå [...]ÏïàÏóê ÌëúÏãúÎêòÍ≥†, elementÎäî tupleÎ°ú ÌëúÏãúÎêúÎã§.

array([0., 0., 0., 0., 0.])

In [154]:
np.zeros((2, 1))
# 1rows 1 column :: ÌëúÍ∏∞Î≤ïÏù¥ ÏùºÍ¥ÄÏÑ±Ïù¥ ÏóÜÎÑ§...üí¢

array([[0.],
       [0.]])

In [155]:
# From a list of dicts
# 1 dic -> 1 row

# data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
# data2 = [{'a': 1, 'b': 2}]
# SeriesÏóêÏÑú dictionaryÎùºÎ©¥ a, bÎäî indexÍ∞Ä ÎêòÏóàÍ≤†ÏßÄÎßå Ïù¥Í≤ÉÏù¥ listÏïàÏóê ÏûàÏùåÏúºÎ°ú Ìï¥ÏÑú
data2 = [[1, 2, 3], [2, 3, 4]]
# pd.DataFrame(data2)
# data2.append({'a': 11, 'b': 21})
pd.Series(data2)

0    [1, 2, 3]
1    [2, 3, 4]
dtype: object

In [156]:
# From a dict of tuples
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [157]:
# From a list of namedtuples
from collections import namedtuple

Point = namedtuple("Point", "x y")
# named tupleÏùÑ Ï†ïÏùò Ìï† Îïå columnÎ™ÖÏùÑ ÏßÄÏ†ïÌïúÎã§.
# named tupleÏùÄ Îç∞Ïù¥ÌÉÄÏùò dtypeÏùÑ Ï†ïÏùò ÌïòÏßÄ ÏïäÍ∏∞Ïóê Ïò§Î•òÎ•º ÏùºÏúºÌÇ¨ Ïàò ÏûàÎã§
# npÏùò structured arrayÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ dtypeÏùÑ Ï†ïÏùòÌïòÏó¨ Ïò§Î•òÏùò ÏûÖÏùÑ Ï∞®Îã® Ìï† Ïàò ÏûàÎã§.
data11 = [Point(0, 0), ("a", 3), (2, 3)]

pd.DataFrame()
data11.append(Point(2, 4))
pd.DataFrame(data11)

   x  y
0  0  0
1  a  3
2  2  3
3  2  4

In [158]:
Point3D = namedtuple("Point3D", "x y z")
pd.DataFrame([Point3D(0, 0, 0), Point3D(0, 3, 5), Point(2, 3)])

   x  y    z
0  0  0  0.0
1  0  3  5.0
2  2  3  NaN

In [159]:
from dataclasses import make_dataclass
import pandas as pd

Point = make_dataclass("Point", [('x', int), ('y', int)])
a = pd. DataFrame([Point(0,0),Point(0,3), Point(2,3)])
b = pd. DataFrame([Point(1,0),Point(1,3), Point(2,3)])
c = pd.concat([a, b], ignore_index=True)
c

   x  y
0  0  0
1  0  3
2  2  3
3  1  0
4  1  3
5  2  3

In [160]:
# Alternate constructors: DataFrame.from_dict
pd.DataFrame.from_dict(dict([("A", [1, 2, 3]), ("B", [4, 5, 6])]))

   A  B
0  1  4
1  2  5
2  3  6

In [161]:
pd.DataFrame.from_dict({'A': [1, 2, 3], 'B': [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6

In [162]:
pd.DataFrame.from_dict(
    dict([("A", [1, 2, 3]), ("B", [4, 5, 6])]),
    orient="index",
    columns=["one", "two", "three"],
)

   one  two  three
A    1    2      3
B    4    5      6

In [164]:
data1

array([(1, 2., b'Hello', b''), (2, 3., b'World', b''),
       (3, 4., b'World', b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10'), ('D', 'S10')])

In [165]:
pd.DataFrame.from_records(data1)

   A    B         C    D
0  1  2.0  b'Hello'  b''
1  2  3.0  b'World'  b''
2  3  4.0  b'World'  b''

In [174]:
# Column selection, addition, deletion

df = pd.DataFrame({'one':[1.0, 2.0, 3.0, np.nan], 'two':[1.0, 2.0, 3.0, 4.0]}, index=['a', 'b', 'c', 'd'])
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [175]:
df['three'] = df['one'] * df['two']
df['flag'] = df['one'] > 2
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [176]:
del df['two']
df

   one  three   flag
a  1.0    1.0  False
b  2.0    4.0  False
c  3.0    9.0   True
d  NaN    NaN  False

In [177]:
three = df.pop('three')
three

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [178]:
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [179]:
df['bar'] = 'foo'
# When inserting a scalar value, it will naturally be propagated to fill the column:
df

   one   flag  bar
a  1.0  False  foo
b  2.0  False  foo
c  3.0   True  foo
d  NaN  False  foo

In [180]:
df['one_trunc'] = df['one'][1:3]

In [181]:
df['one_trunc']

a    NaN
b    2.0
c    3.0
d    NaN
Name: one_trunc, dtype: float64

In [182]:
df

   one   flag  bar  one_trunc
a  1.0  False  foo        NaN
b  2.0  False  foo        2.0
c  3.0   True  foo        3.0
d  NaN  False  foo        NaN